Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

fix
  crates/client/src/client.rs
  crates/client/src/tests.rs
  crates/protocol/src/lib.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/helpers/mod.rs
Due: none

fixes
  crates/client/src/client.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_treasury.rs
Due: runtime

Add v1 to all endpoints (#1377)
  CHANGELOG.md
  crates/client/src/client.rs
  crates/protocol/tests/helpers/mod.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/src/service.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
Due: node, pallets

Minor fix to command in release checklist
  RELEASE_CHECKLIST.md
Due: none

Do `cargo build` not `cargo check` when checking `runtime-benchmarks` feature in CI
  .github/workflows/test-runtime-benchmarks.yaml
Due: none

Repeatedly make backup attempts when starting entropy-tss
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/backup_provider/errors.rs
Due: none

Release `v0.4.0 rc.1` (#1373)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/entropy_metadata.scale
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  runtime/src/lib.rs
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

service folder
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/service.rs
Due: node

deny unsafe
  node/cli/src/service.rs
Due: node

chain specs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

fixes
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec/mod.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  scripts/create-test-keyshares/Cargo.toml
Due: node

compile entropy
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

tss
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/errors.rs
  crates/client/src/substrate.rs
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/tests.rs
Due: none

tss tests
  crates/testing-utils/src/node_proc.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Tiny fix to command in release checklist (#1383)
  RELEASE_CHECKLIST.md
Due: none

Add additional test to show that requesting backup will work when the backup provider is not immediately available
  crates/threshold-signature-server/src/backup_provider/tests.rs
Due: none

Clippy
  crates/threshold-signature-server/src/lib.rs
Due: none

tests
  crates/client/entropy_metadata.scale
  crates/client/src/client.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

tests
  crates/client/src/tests.rs
  crates/kvdb/src/encrypted_sled/tests.rs
  pallets/attestation/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/slashing/src/mock.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

tests
  pallets/parameters/src/lib.rs
Due: pallets

fmt
  crates/client/Cargo.toml
  crates/client/src/client.rs
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/attestation/src/mock.rs
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/propagation/src/mock.rs
  pallets/registry/Cargo.toml
  pallets/registry/src/mock.rs
  pallets/slashing/Cargo.toml
  pallets/slashing/src/mock.rs
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

lint
  crates/client/src/client.rs
  node/cli/src/chain_spec/mod.rs
  runtime/src/impls.rs
Due: node, runtime

remove commented code
  pallets/parameters/src/lib.rs
Due: pallets

lint
  crates/testing-utils/Cargo.toml
Due: none

change log
  CHANGELOG.md
Due: none

Clippy - chain node
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/service.rs
Due: node

Clippy - TSS
  crates/threshold-signature-server/src/lib.rs
Due: none

Fixes for latest clippy rules (#1389)
  crates/threshold-signature-server/src/lib.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/service.rs
Due: node

Bump synedrion in registry pallet
  pallets/registry/Cargo.toml
  pallets/registry/src/lib.rs
Due: pallets

WIP Bump synedrion elsewhere
  crates/protocol/Cargo.toml
  crates/protocol/src/execute_protocol.rs
Due: none

WIP Bump synedrion elsewhere
  Cargo.lock
  crates/client/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

WIP Bump synedrion elsewhere
  crates/protocol/src/execute_protocol.rs
Due: none

Updates to entropy-client
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/client.rs
  crates/client/src/errors.rs
Due: none

add unicode licence
  deny.toml
Due: none

WIP - Remove protocol loop and replace with channels communicating with manul protocol loop
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/protocol_message.rs
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  pallets/registry/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: pallets

WIP - implement deserializer trait for bincode
  crates/protocol/Cargo.toml
  crates/protocol/src/lib.rs
Due: none

WIP - fix session params
  Cargo.lock
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/protocol_message.rs
Due: none

Repeatedly make encryption key backup attempts when starting `entropy-tss` (#1385)
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/backup_provider/errors.rs
  crates/threshold-signature-server/src/backup_provider/tests.rs
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none
