Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Get runtime compiling by using an `IdentificationTuple`
  pallets/slashing/src/lib.rs
  pallets/slashing/src/mock.rs
  runtime/src/lib.rs
Due: pallets, runtime

Actually increment the failed registration counter
  pallets/slashing/src/lib.rs
  pallets/slashing/src/tests.rs
Due: pallets

Remove unused import
  pallets/slashing/src/lib.rs
Due: pallets

Use `clear()` instead of `drain()` when cleaning up reports
  pallets/slashing/src/lib.rs
Due: pallets

Add test for session reporting
  pallets/slashing/src/lib.rs
  pallets/slashing/src/tests.rs
Due: pallets

Only report an offence we have have offenders
  pallets/slashing/src/lib.rs
Due: pallets

Use simple conversion for `IdentificationTuple`
  pallets/slashing/src/mock.rs
Due: pallets

Add `TestSessionManager` and use Slashing `SessionHandler` to mock
  pallets/slashing/src/mock.rs
Due: pallets

Remove more unused code
  pallets/slashing/src/mock.rs
Due: pallets

Remove `SendTransactionTypes` implementation
  pallets/slashing/src/mock.rs
Due: pallets

Remove Timestamp, Staking, and BagsList pallets
  pallets/slashing/src/mock.rs
Due: pallets

Check that Mallory was in the Offence report
  pallets/slashing/src/tests.rs
Due: pallets

Remove old tests
  pallets/slashing/src/tests.rs
Due: pallets

Add note around why `reporters` doesn't get used
  pallets/slashing/src/lib.rs
Due: pallets

Remove unused imports
  pallets/slashing/src/tests.rs
Due: pallets

Non-functional test skeleton for disabling valiators
  pallets/slashing/src/tests.rs
Due: pallets

Add missing comment
  pallets/slashing/src/lib.rs
Due: pallets

Add limit when clearing failed registration struct
  pallets/slashing/src/lib.rs
Due: pallets

Don't hardcode number of validators in mock genesis
  pallets/slashing/src/mock.rs
Due: pallets

Remove test for disabling a validator post-slash
  pallets/slashing/src/tests.rs
Due: pallets

Add some pallet docs
  pallets/slashing/src/lib.rs
Due: pallets

Clean up runtime config
  runtime/src/lib.rs
Due: runtime

Bump metadata
  crates/threshold-signature-server/entropy_metadata.scale
Due: none

Add helper for checking if a validator is in the signing committee
  pallets/propagation/src/lib.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

Format `CHANGELOG` entry
  CHANGELOG.md
Due: none

Add skeleton for reporting dispatchable
  pallets/registry/src/lib.rs
Due: pallets

Use `ensure!` instead of `assert!`
  pallets/registry/src/lib.rs
Due: pallets

Remove TODO comment
  pallets/registry/src/lib.rs
Due: pallets

Add missing field to Registering struct
  pallets/registry/src/tests.rs
Due: pallets

Wire up Slashing pallet to Registry pallet
  Cargo.lock
  pallets/registry/Cargo.toml
  pallets/registry/src/lib.rs
Due: pallets

Add a few tests around offences reporting for the Registry
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
Due: pallets

Add `block_number` to Registry benchmarks
  pallets/registry/src/benchmarking.rs
Due: pallets

Use correct conversion from `ValidatorId` to `AccountId`
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Fix sync_kvdb following Jesses suggestion
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Clippy
  crates/threshold-signature-server/src/validator/api.rs
Due: none

add device key program to inital chianstate
  Cargo.lock
  crates/shared/Cargo.toml
  crates/shared/device_key_proxy.wasm
  crates/shared/src/constants.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/programs/src/lib.rs
Due: node, pallets

first pass device key test
  Cargo.lock
  crates/shared/Cargo.toml
  crates/shared/src/constants.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/user/tests.rs
  pallets/programs/src/lib.rs
Due: pallets

Use wasm-friendly sr25519 key generation
  crates/protocol/src/hpke/with_sr25519.rs
Due: none
