Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Rm unused dependency
  Cargo.lock
  pallets/parameters/Cargo.toml
Due: pallets

Import vec, update staking pallet mock
  pallets/parameters/src/benchmarking.rs
  pallets/staking/src/mock.rs
Due: pallets

Update mock for registry pallet
  pallets/registry/src/mock.rs
Due: pallets

Update mock for attestation pallet
  pallets/attestation/src/mock.rs
Due: pallets

Apply suggestions from code review
  pallets/staking/src/lib.rs
Due: pallets

clean
  crates/client/entropy_metadata.scale
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

lint
  pallets/staking/src/tests.rs
Due: pallets

Rotate parent network key takes 2 steps (#1018)
  crates/client/entropy_metadata.scale
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/src/service.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/staking/src/lib.rs
Due: node, pallets

changelog
  CHANGELOG.md
Due: none

clean
  pallets/staking/src/lib.rs
Due: pallets

Add accepted MRTD values parameters to testnet chainspec
  node/cli/src/chain_spec/testnet.rs
Due: node

Import BoundedVec
  node/cli/src/chain_spec/testnet.rs
Due: node

add in nominating check
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Update pallets/staking/src/benchmarking.rs
  pallets/staking/src/benchmarking.rs
Due: pallets

Fix `change_signers_info` benchmark
  pallets/parameters/src/benchmarking.rs
Due: pallets

Update weights and rename benchmark to match extrinsic
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/weights.rs
Due: pallets

Suggestion from review
  pallets/attestation/Cargo.toml
Due: pallets

Update weights
  runtime/src/weights/pallet_parameters.rs
Due: runtime

Update weights
  pallets/parameters/src/weights.rs
  runtime/src/weights/pallet_parameters.rs
Due: pallets, runtime

Doccomments
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Refer to client fns as test_client:: in test
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Check build-time measurement (MRTD) values when verifying TDX quotes (#1024)
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/attestation/Cargo.toml
  pallets/attestation/src/lib.rs
  pallets/attestation/src/mock.rs
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/weights.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/mock.rs
  runtime/src/weights/pallet_parameters.rs
Due: node, pallets, runtime

Update test following merge
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Fix test
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

WIP test helper fn
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Fix `change_signers_info` benchmark (#1035)
  pallets/parameters/src/benchmarking.rs
Due: pallets

add tests for nominators
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/tests.rs
Due: pallets

clean function
  pallets/staking/src/lib.rs
Due: pallets

fmt
  pallets/staking/src/benchmarking.rs
Due: pallets

fmt
  pallets/staking/src/lib.rs
Due: pallets

fmt
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Update tests and improve test helper fn
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add test environment with four TS servers (#1029)
  crates/testing-utils/src/constants.rs
  crates/testing-utils/src/helpers.rs
  crates/testing-utils/src/lib.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  node/cli/src/chain_spec/integration_tests.rs
  pallets/staking/src/lib.rs
Due: node, pallets

Add missing BoundedVec imports
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Fixes typos and grammar errors.
  crates/test-cli/README.md
Due: none

Runs prettier against markdown.
  crates/test-cli/README.md
Due: none

In production, generate TDX quote using configfs-tsm
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
Due: none

Rm comment
  crates/threshold-signature-server/src/attestation/api.rs
Due: none

Cargo deny
  deny.toml
Due: none
