Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

break up misc folder
  crypto/server/src/health/api.rs
  crypto/server/src/health/mod.rs
  crypto/server/src/health/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/version/api.rs
  crypto/server/src/version/mod.rs
  crypto/server/src/version/tests.rs
Due: crypto

doc
  crypto/server/src/version/api.rs
Due: crypto

update vergen
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/build.rs
  crypto/server/src/version/api.rs
  crypto/server/src/version/tests.rs
Due: crypto

refactor
  crypto/server/src/version/api.rs
  crypto/server/src/version/tests.rs
Due: crypto

Use shorter `fields` syntax
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/user/api.rs
Due: crypto

Move database value to trace level event
  crypto/server/src/unsafe/api.rs
Due: crypto

Change the Subscriber settings to more closely match our test setup
  crypto/server/src/helpers/launch.rs
Due: crypto

refactor
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/build.rs
  crypto/server/src/version/api.rs
  crypto/server/src/version/tests.rs
Due: crypto

Add versioning to server (#516)
  CHANGELOG.md
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/build.rs
  crypto/server/src/health/api.rs
  crypto/server/src/health/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/version/api.rs
  crypto/server/src/version/mod.rs
  crypto/server/src/version/tests.rs
Due: crypto

Remove event from health check
  crypto/server/src/health/api.rs
Due: crypto

Add span to `version` endpoint
  crypto/server/src/version/api.rs
Due: crypto

Cross-compile for `linux/arm64` and push multi-platform Docker images.
  .github/workflows/container-build-and-push.yaml
  Dockerfile
Due: none

add benchmarking for all pallets
  runtime/src/lib.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_storage.rs
  runtime/src/weights/pallet_treasury.rs
  runtime/src/weights/pallet_utility.rs
  runtime/src/weights/pallet_vesting.rs
  scripts/benchmarks.sh
Due: runtime

Cross-compile for `linux/arm64` and push multi-platform Docker images. (#518)
  .github/workflows/container-build-and-push.yaml
  Dockerfile
Due: none

update for all benches
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  scripts/benchmarks.sh
Due: runtime

Add some logs around node startup
  crypto/server/src/main.rs
Due: crypto

Move instrumentation setup into its own module
  crypto/server/src/helpers/instrumentation.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/mod.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
Due: crypto

Add `#[tracing::instrument]` macro to routes (#515)
  Cargo.lock
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/server/Cargo.toml
  crypto/server/src/health/api.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/signing_client/protocol_transport.rs
  crypto/server/src/unsafe/api.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  crypto/server/src/version/api.rs
Due: crypto

Simplify the logger configuration setup
  crypto/server/src/helpers/instrumentation.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
Due: crypto

Rename `instrumentation` module to `logger` module
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/logger.rs
  crypto/server/src/helpers/mod.rs
  crypto/server/src/helpers/tests.rs
Due: crypto

Default test logger to pretty printing
  crypto/server/src/helpers/tests.rs
Due: crypto

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Rename tss_server_proc
  crypto/server/tests/protocol_wasm.rs
  crypto/testing-utils/src/lib.rs
  crypto/testing-utils/src/tss_server_process.rs
Due: crypto

Logger setup should stay in unit test helpers
  crypto/server/tests/protocol_wasm.rs
  crypto/testing-utils/src/tss_server_process.rs
Due: crypto

get benchmarking pallets programatically
  scripts/benchmarks.sh
Due: none

Update scripts/benchmarks.sh
  scripts/benchmarks.sh
Due: none

refactor
  scripts/benchmarks.sh
Due: none

Make AppState.listener_state private as the type is not public
  crypto/server/src/lib.rs
Due: crypto

Make `server` a library, and add integration test for testing protocol crate on wasm (#517)
  Cargo.lock
  crypto/server/src/common.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/lib.rs
  crypto/server/src/main.rs
  crypto/server/src/user/tests.rs
  crypto/server/tests/helpers/mod.rs
  crypto/server/tests/protocol_wasm.rs
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/chain_api.rs
  crypto/testing-utils/src/lib.rs
  crypto/testing-utils/src/test_client/mod.rs
  crypto/testing-utils/src/tss_server_process.rs
Due: crypto

Update dependencies
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/validation/errors.rs
Due: crypto

Use x25119-chacha20poly1305 crate
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validation/errors.rs
  crypto/server/src/validation/mod.rs
  crypto/server/src/validator/errors.rs
Due: crypto

entropy-protocol should use same version of x25519-dalek as elsewhere
  crypto/protocol/Cargo.toml
Due: crypto

Update validator test
  crypto/server/src/validator/tests.rs
Due: crypto

Move test_client unit tests to integration test
  Cargo.lock
  crypto/server/src/user/tests.rs
  crypto/server/tests/protocol_wasm.rs
  crypto/server/tests/sign.rs
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Print out `INFO` and above logs by default
  crypto/server/src/helpers/logger.rs
Due: crypto

Allow logger to be configured from CLI (#520)
  CHANGELOG.md
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/logger.rs
  crypto/server/src/helpers/mod.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
Due: crypto

Remove extra `stdout` layer during logging
  crypto/server/src/helpers/logger.rs
Due: crypto

Tone down warning message
  crypto/server/src/lib.rs
Due: crypto

Return package version instead of rustc version
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/build.rs
  crypto/server/src/version/api.rs
  crypto/server/src/version/tests.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
