Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature (path-filtering)
# https://circleci.com/docs/dynamic-config
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # always-run is always triggered (yikes), regardless of the pipeline parameters.
  always-run: 
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
            # do rest after validation
            # crypto/centralized-keygen/.* centralized-keygen-change true
            # crypto/.* signing-client-change true
          mapping: |
            node/.* node true
            crypto/.* crypto true
            pallets/.* pallets true
          base-revision: master
          # path to trigger once filtering/value updates finish 
          config-path: .circleci/then.yml

On session benchmarks (#260)
  Cargo.toml
  alice-send/Cargo.toml
  alice-send/local-share1.json
  alice-send/local-share2.json
  alice-send/local-share3.json
  alice-send/src/lib.rs
  alice-send/src/tests.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
  scripts/server_bob.sh
  subxttest/Cargo.toml
  subxttest/src/entropy_metadata.scale
  subxttest/src/main.rs
Due: pallets

validator endpoint errors
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/mod.rs
Due: crypto

fmt
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
Due: crypto

add in a missed test
  crypto/server/src/validator/tests.rs
Due: crypto

user errors
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

swap key
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

tweak
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

error naming
  crypto/server/src/validator/api.rs
Due: crypto

added BTC architecture; support for constraints for multiple architectures
  crypto/server/src/user/tests.rs
  crypto/substrate-common/src/constraints.rs
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/mock.rs
  pallets/constraints/src/tests.rs
  pallets/constraints/src/weights.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/weights/pallet_constraints.rs
Due: crypto, pallets

validator endpoint errors (#261)
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/mod.rs
  crypto/server/src/validator/tests.rs
Due: crypto

tests working
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

spelling
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

fmt
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Acl uses Vec under the hood
  crypto/constraints/src/tests.rs
  crypto/substrate-common/src/constraints.rs
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/mock.rs
  pallets/constraints/src/tests.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/mock.rs
  runtime/src/lib.rs
Due: crypto, pallets

clippy
  crypto/server/src/message.rs
  node/cli/src/chain_spec.rs
  pallets/constraints/src/tests.rs
Due: node, crypto, pallets

fmt
  pallets/constraints/src/lib.rs
  pallets/constraints/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/transaction-pause/src/mock.rs
  runtime/src/lib.rs
Due: pallets

clippy 2
  crypto/server/src/validator/tests.rs
Due: crypto

refactor
  crypto/server/src/user/api.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

update metadata
  crypto/server/entropy_metadata.scale
Due: crypto

add function to rotate signing selectors
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

fix test
  pallets/propagation/src/tests.rs
Due: pallets

updated benchmarks
  pallets/constraints/src/lib.rs
Due: pallets

updated benchmarks
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/weights.rs
  runtime/src/weights/pallet_constraints.rs
Due: pallets

Swap key (#262)
  crypto/server/entropy_metadata.scale
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

fixed import
  pallets/constraints/src/benchmarking.rs
Due: pallets

fmt and metadata update
  crypto/server/entropy_metadata.scale
  pallets/constraints/src/benchmarking.rs
Due: crypto, pallets

add in syncing check
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
Due: pallets

fmt
  pallets/relayer/src/lib.rs
Due: pallets

merge fixes
  pallets/constraints/src/benchmarking.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

updated metadata
  crypto/server/entropy_metadata.scale
Due: crypto

removed Pays::No from update_constraints weights
  pallets/constraints/src/lib.rs
Due: pallets

benchmarks
  pallets/relayer/Cargo.toml
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
  pallets/staking/src/benchmarking.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets

clean
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
Due: pallets

add proper weighting and benchmarking for constraints
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/relayer/Cargo.toml
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets

fmt
  pallets/constraints/src/benchmarking.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
Due: pallets

clippy
  pallets/constraints/src/lib.rs
Due: pallets
