Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Explicitly --exclude each dependency in srtool github action
  .github/workflows/srtool.yml
Due: none

Add --workspace build option in srtool github action
  .github/workflows/srtool.yml
Due: none

Update srtool github action to only build entropy-runtime
  .github/workflows/srtool.yml
Due: none

fix relayer benchmarks
  pallets/relayer/src/benchmarking.rs
Due: pallets

relayer benchmarks
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
Due: pallets

fix benchmarks
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

changelog
  CHANGELOG.md
Due: none

block empty program vectors
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

fix broken core tests
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fmt
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/programs/src/tests.rs
  pallets/relayer/src/tests.rs
Due: pallets

use keccak hash for determining signing party
  crates/threshold-signature-server/src/user/api.rs
Due: none

add infinite loop test
  Cargo.lock
  crates/testing-utils/infinite_loop.wasm
  crates/testing-utils/src/constants.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/tests.rs
Due: none

better error message
  crates/threshold-signature-server/src/user/tests.rs
Due: none

removed unused imports
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

updated changelog
  CHANGELOG.md
Due: none

bumped constraints version
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
Due: none

add custom hashing (#553)
  CHANGELOG.md
  Cargo.lock
  crates/protocol/src/protocol_transport/noise.rs
  crates/shared/src/types.rs
  crates/testing-utils/example_barebones_with_auxilary.wasm
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  pallets/programs/src/tests.rs
  pallets/relayer/src/tests.rs
Due: pallets

Rename pallets
  crates/README.md
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  node/cli/Cargo.toml
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec.rs
  pallets/free-tx/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/programs/src/lib.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/registry/Cargo.toml
  pallets/registry/README.md
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_entropy_free_tx.rs
  runtime/src/weights/pallet_entropy_programs.rs
  runtime/src/weights/pallet_entropy_registy.rs
  runtime/src/weights/pallet_entropy_staking_extension.rs
  runtime/src/weights/pallet_entropy_transaction_pause.rs
Due: node, pallets, runtime

update error and runtime config
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

clean
  crates/shared/src/lib.rs
  crates/testing-utils/src/constants.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

fix tests
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

lint
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

Additive programs (#568)
  CHANGELOG.md
  Cargo.lock
  crates/shared/src/types.rs
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_relayer.rs
  scripts/pull_entropy_metadata.sh
Due: pallets, runtime

Add note about camelCase fn names to changelog
  CHANGELOG.md
Due: none

Include contents of `x25515chacha20poly1305` repo in `entropy-protocol` (#563)
  .circleci/then.yml
  CHANGELOG.md
  Cargo.lock
  crates/protocol/Cargo.toml
  crates/protocol/js-README.md
  crates/protocol/nodejs-test/index.js
  crates/protocol/nodejs-test/index.test.js
  crates/protocol/nodejs-test/package.json
  crates/protocol/nodejs-test/yarn.lock
  crates/protocol/src/lib.rs
  crates/protocol/src/sign_and_encrypt/mod.rs
  crates/protocol/src/sign_and_encrypt/wasm.rs
  crates/protocol/src/user/mod.rs
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/validation/errors.rs
  crates/threshold-signature-server/src/validation/mod.rs
  crates/threshold-signature-server/src/validator/errors.rs
Due: none

add a custom hash test
  Cargo.lock
  crates/testing-utils/example_custom_hash.wasm
  crates/testing-utils/src/constants.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/tests.rs
Due: none

addative aux data
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

changelog
  CHANGELOG.md
  crates/threshold-signature-server/src/user/api.rs
Due: none

fix wasm test
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

rename devnet to testnet
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  node/cli/src/command.rs
Due: node

missed
  node/cli/src/chain_spec.rs
Due: node

added infinite loop wasm
  crates/testing-utils/infinite_loop.wasm
Due: none

add a custom hash test (#576)
  Cargo.lock
  crates/testing-utils/example_custom_hash.wasm
  crates/testing-utils/src/constants.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/tests.rs
Due: none

refactor
  CHANGELOG.md
  crates/threshold-signature-server/src/user/api.rs
Due: none

rename devnet to testnet (#578)
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  node/cli/src/command.rs
Due: node

error if aux data is incorrect length
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

ec-runtime handles infinite looping
  Cargo.lock
  crates/shared/src/lib.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fix test
  crates/threshold-signature-server/src/user/tests.rs
Due: none
