Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

runtime
  .circleci/config.yml
  .circleci/then.yml
Due: none

Ci: add runtime, pallets to conditional checks on node CI (#159)
  .circleci/config.yml
  .circleci/then.yml
Due: none

remove header (#157)
  pallets/propagation/src/lib.rs
Due: pallets

docs, cruft, SigningMessageError, Global -> SignerState, init->api
  crypto/signing-client/src/api.rs
  crypto/signing-client/src/context.rs
  crypto/signing-client/src/errors.rs
  crypto/signing-client/src/main.rs
  crypto/signing-client/src/party_info.rs
  crypto/signing-client/src/protocol_manager.rs
  crypto/signing-client/src/subscriber.rs
Due: crypto

reduce main cruft
  crypto/signing-client/src/main.rs
  crypto/signing-client/src/subscriber.rs
Due: crypto

update todos
  crypto/signing-client/Cargo.toml
  crypto/signing-client/src/api.rs
  crypto/signing-client/src/main.rs
  crypto/signing-client/src/protocol_manager.rs
Due: crypto

update cm main
  crypto/c-manager/src/ip_discovery.rs
  crypto/c-manager/src/main.rs
  crypto/c-manager/src/sign.rs
  crypto/c-manager/src/store_share.rs
  crypto/c-manager/src/tests.rs
Due: crypto

add db back in
  crypto/c-manager/src/main.rs
  crypto/c-manager/src/store_share.rs
Due: crypto

doc comment
  crypto/signing-client/src/main.rs
Due: crypto

move store_share
  crypto/c-manager/src/main.rs
  crypto/c-manager/src/tests.rs
  crypto/signing-client/src/main.rs
  crypto/signing-client/src/store_share.rs
Due: crypto

unbreak tests
  crypto/c-manager/src/main.rs
  crypto/c-manager/src/sign.rs
  crypto/c-manager/src/tests.rs
Due: crypto

respec get_ip -> sign_request
  crypto/c-manager/src/ip_discovery.rs
  crypto/c-manager/src/main.rs
  crypto/c-manager/src/sign_req.rs
Due: crypto

clean 'sign'
  crypto/c-manager/src/sign.rs
Due: crypto

renamings and CI
  .circleci/then.yml
  crypto/communication-manager/Cargo.toml
  crypto/communication-manager/entropy_metadata.scale
  crypto/communication-manager/src/errors.rs
  crypto/communication-manager/src/main.rs
  crypto/communication-manager/src/mocks/local-share1.json
  crypto/communication-manager/src/request_guards.rs
  crypto/communication-manager/src/sign.rs
  crypto/communication-manager/src/sign_req.rs
  crypto/communication-manager/src/tests.rs
  crypto/non-substrate-common/Cargo.toml
  crypto/non-substrate-common/README.md
  crypto/non-substrate-common/src/cm_info.rs
  crypto/non-substrate-common/src/lib.rs
  crypto/substrate-common/Cargo.toml
  crypto/substrate-common/README.md
  crypto/substrate-common/src/lib.rs
  crypto/substrate-common/src/types.rs
Due: crypto

readme
  crypto/README.md
Due: crypto

format all
  crypto/communication-manager/Cargo.toml
  crypto/communication-manager/src/main.rs
  crypto/communication-manager/src/sign.rs
  crypto/communication-manager/src/sign_req.rs
  crypto/communication-manager/src/tests.rs
  crypto/non-substrate-common/Cargo.toml
  crypto/signing-client/Cargo.toml
  crypto/signing-client/src/init.rs
  crypto/signing-client/src/main.rs
  crypto/signing-client/src/protocol_manager.rs
  crypto/substrate-common/Cargo.toml
Due: crypto

shared-types/common renamed in pallets
  Cargo.lock
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/relayer/Cargo.toml
  pallets/relayer/src/lib.rs
Due: pallets

fmt all
  crypto/signing-client/src/api.rs
  crypto/signing-client/src/main.rs
Due: crypto

Change 2xlarge resource class to xlarge
  .circleci/then.yml
Due: none

Refactor fmt commands into their own run steps
  .circleci/then.yml
Due: none

fmt-lint
  .circleci/then.yml
Due: none

Fix resource class warning in CircleCI and refactor fmt
  .circleci/then.yml
Due: none

silence warnings
  crypto/communication-manager/src/errors.rs
  crypto/communication-manager/src/main.rs
  crypto/communication-manager/src/sign.rs
Due: crypto

fmt
  crypto/communication-manager/src/errors.rs
  crypto/communication-manager/src/main.rs
  crypto/communication-manager/src/sign.rs
Due: crypto

taplo fmt toplevel
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
Due: pallets

format node
  node/cli/src/chain_spec.rs
  node/cli/src/cli.rs
  node/cli/src/service.rs
Due: node

format pallets
  pallets/constraints/src/tests.rs
Due: pallets

merge signing-client and cm
  .circleci/then.yml
  Cargo.lock
  crypto/README.md
  crypto/communication-manager/src/main.rs
  crypto/server/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/server/src/cmain.rs
  crypto/server/src/communication_manager/api.rs
  crypto/server/src/communication_manager/deprecating_sign.rs
  crypto/server/src/communication_manager/errors.rs
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/mocks/local-share1.json
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/communication_manager/request_guards.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/context.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/protocol_manager.rs
  crypto/server/src/signing_client/store_share.rs
  crypto/server/src/signing_client/subscriber.rs
  crypto/server/src/utils.rs
  crypto/signing-client/Cargo.toml
  crypto/signing-client/entropy_metadata.scale
  crypto/signing-client/src/main.rs
Due: crypto

format all
  crypto/README.md
  crypto/server/src/communication_manager/deprecating_sign.rs
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/utils.rs
Due: crypto

clean api up
  crypto/server/src/communication_manager/deprecating_sign.rs
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/signing_client/api.rs
Due: crypto

lint: cargo toml offchain-server -> server
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

fmt settings
  crypto/testing-utils/src/context.rs
  rustfmt.toml
Due: crypto

rename to .rustfmt
  .rustfmt.toml
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
