Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Remove `dbg!` statement
  pallets/registry/src/lib.rs
Due: pallets

Add test to check that a signature request account can register multiple times
  pallets/registry/src/tests.rs
Due: pallets

fix
  crates/protocol/tests/protocol.rs
Due: none

Add benchmark for new registration extrisic
  pallets/registry/src/benchmarking.rs
Due: pallets

fix test
  pallets/propagation/src/tests.rs
Due: pallets

Add comments around registration flow
  pallets/registry/src/lib.rs
Due: pallets

Add confirm signer rotations
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

add events
  pallets/staking/src/lib.rs
Due: pallets

add benchmarks
  pallets/staking/src/benchmarking.rs
Due: pallets

add in benchmark
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

fix
  pallets/staking/src/lib.rs
Due: pallets

clean
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/propagation/src/lib.rs
Due: pallets

Apply suggestions from code review
  pallets/staking/src/lib.rs
Due: pallets

clean
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  pallets/staking/src/lib.rs
Due: pallets

update time to 0.3.36
  Cargo.lock
Due: none

lint fix
  crates/threshold-signature-server/src/lib.rs
Due: none

lint
  runtime/src/lib.rs
Due: runtime

lint
  node/cli/src/chain_spec/testnet.rs
Due: node

fix
  pallets/propagation/src/tests.rs
Due: pallets

update metadata
  crates/client/entropy_metadata.scale
Due: none

Key reshare addition (#950)
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/lib.rs
  crates/protocol/tests/helpers/mod.rs
  crates/protocol/tests/protocol.rs
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/service.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
  runtime/src/lib.rs
Due: node, pallets, runtime

clean
  crates/threshold-signature-server/src/helpers/validator.rs
Due: none

fix benchmarks
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Add js readme
  crates/client/Makefile
  crates/client/js-README.md
Due: none

Add to js readme
  crates/client/js-README.md
Due: none

Minor grammatical and spelling updates.
  crates/client/js-README.md
Due: none

Add `entropyxyz` Organization members to allowlist.
  .github/workflows/cla.yaml
Due: none

Adding CLA Assistant bot's GitHub Action workflow.
  .github/workflows/cla.yaml
Due: none

Adding CLA Assistant bot's GitHub Action workflow. (#963)
  .github/workflows/cla.yaml
Due: none

add confirm reshare in tss
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: node, pallets

Fixed SDK NPM link.
  crates/client/js-README.md
Due: none

add keyshare store and test
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

refund fees for confirm registered
  pallets/staking/src/lib.rs
Due: pallets

dispatch class operational
  pallets/registry/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

changelog
  CHANGELOG.md
Due: none

Minor grammatical and spelling updates. (#967)
  crates/client/js-README.md
Due: none

Fixes following update
  crates/client/src/client.rs
  crates/client/src/wasm.rs
Due: none

Add signature type
  crates/client/nodejs-test/index.js
  crates/client/src/wasm.rs
Due: none

Update readme
  crates/client/js-README.md
Due: none

clean
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none
