Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Add getting-started.md
  crates/test-cli/getting-started.md
Due: none

Rm getting-started.md
  crates/test-cli/getting-started.md
Due: none

Change test-cli default access mode and update readme for recent changes (#643)
  CHANGELOG.md
  crates/test-cli/README.md
  crates/test-cli/src/main.rs
  crates/testing-utils/example_noop.wasm
Due: none

Rename ProgramInfo.config_interface to interface_description (#631)
  CHANGELOG.md
  crates/test-cli/src/main.rs
  crates/threshold-signature-server/entropy_metadata.scale
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

Don't publish a `--raw` chain spec until we're actually ready for that.
  .github/workflows/container-build-and-push.yaml
Due: none

Don't publish a `--raw` chain spec until we're actually ready for that. (#649)
  .github/workflows/container-build-and-push.yaml
Due: none

Change constraints to programs and rm link to x25519 repo
  target/doc/index.html
Due: none

Improve doccomments for TSS validator API
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Add additional checks to receive_key fn
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
Due: none

Update changelog
  CHANGELOG.md
Due: none

Rm unused import
  crates/threshold-signature-server/src/user/errors.rs
Due: none

When sending keyshares, check the response of the remote party
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/errors.rs
Due: none

Update test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add some spacing to comments
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Improve doccomments for TSS validator API (#653)
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Update test and improve comments
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Rm link to programs API docs as it currently 404s
  target/doc/index.html
Due: none

Add check to staking pallet to disallow using existing TSS account IDs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Update CHANGELOG
  CHANGELOG.md
Due: none

Update API docs frontpage (#651)
  target/doc/index.html
Due: none

Shorter description in changelog
  CHANGELOG.md
Due: none

Move ensure assertion to beginning of fn
  pallets/staking/src/lib.rs
Due: pallets

Move other ensure assertion to beginning of fn
  pallets/staking/src/lib.rs
Due: pallets

Update / refactor tests
  pallets/staking/src/tests.rs
Due: pallets

Disallow using existing TSS account IDs in Staking pallet (#657)
  CHANGELOG.md
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

add version number to registered
  crates/threshold-signature-server/entropy_metadata.scale
  pallets/propagation/src/mock.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  runtime/src/lib.rs
Due: pallets, runtime

add changelog
  CHANGELOG.md
Due: none

request limit check
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

Update pallets/relayer/src/tests.rs
  pallets/relayer/src/tests.rs
Due: pallets

Update pallets/relayer/src/mock.rs
  pallets/relayer/src/mock.rs
Due: pallets

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Improve error message
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

changelog
  CHANGELOG.md
Due: none

incrememnt or wipe
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Clean up around `validate` extrinsic
  pallets/staking/src/lib.rs
Due: pallets

Remove fully qualified syntax for `ValidatorId`
  pallets/staking/src/lib.rs
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
