Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

rename module for clarity
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/protocol_transport/subscribe_message.rs
Due: crypto

bump to nightly-2023-06-15
  .circleci/then.yml
Due: none

bump CI to nightly-2023-06-15
  .circleci/then.yml
Due: none

bump rust version in Makefile
  Makefile
Due: none

better changelog
  CHANGELOG.md
  cliff.toml
Due: none

Tidy Cargo.toml
  crypto/protocol/Cargo.toml
Due: crypto

Add tracing, add doccomments
  Cargo.lock
  crypto/protocol/Cargo.toml
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_message.rs
  crypto/protocol/src/user.rs
Due: crypto

Comments and tidying
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/protocol_transport/broadcaster.rs
  crypto/protocol/src/protocol_transport/errors.rs
  crypto/protocol/src/protocol_transport/mod.rs
Due: crypto

Rm unused files
  crypto/user-protocol2/Cargo.toml
  crypto/user-protocol2/src/lib.rs
Due: crypto

Tidy server
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/validator.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/listener.rs
Due: crypto

fmt
  cliff.toml
Due: none

better changelog (#411)
  CHANGELOG.md
  cliff.toml
Due: none

Rm comments
  crypto/protocol/src/protocol_transport/noise.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
Due: crypto

Bump rust version used in CI (#410)
  .circleci/then.yml
Due: none

Separate `entropy-protocol` crate with protocol execution logic (#404)
  Cargo.lock
  Makefile
  crypto/kvdb/Cargo.toml
  crypto/kvdb/src/kv_manager/mod.rs
  crypto/kvdb/src/kv_manager/value.rs
  crypto/protocol/Cargo.toml
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_message.rs
  crypto/protocol/src/protocol_transport/broadcaster.rs
  crypto/protocol/src/protocol_transport/errors.rs
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/protocol_transport/noise.rs
  crypto/protocol/src/protocol_transport/subscribe_message.rs
  crypto/protocol/src/user.rs
  crypto/server/Cargo.toml
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/helpers/validator.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/listener.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/protocol_execution/context.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/signing_client/protocol_transport.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  crypto/shared/Cargo.toml
  crypto/shared/src/constraints.rs
  crypto/shared/src/types.rs
  crypto/testing-utils/src/constants.rs
  pallets/constraints/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/staking/Cargo.toml
  runtime/Cargo.toml
Due: crypto, pallets, runtime

Dependencies for wasm
  Cargo.lock
  crypto/protocol/Cargo.toml
Due: crypto

User functions for wasm
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/user.rs
Due: crypto

Refactor
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/user.rs
Due: crypto

proactive refresh
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: crypto, pallets

spec out proactive refresh endpoint
  Cargo.lock
  crypto/server/src/helpers/user.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

Add wasm-bindgen fn to user participates dkg fn
  crypto/protocol/src/user/mod.rs
  crypto/protocol/src/user/wasm.rs
Due: crypto

testing framework
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
Due: crypto

store fake key
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
Due: crypto

Add dependencies for simple CLI
  Cargo.lock
  crypto/testing-utils/Cargo.toml
Due: crypto

Simple CLI
  crypto/testing-utils/src/lib.rs
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

hash given word
  Cargo.lock
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

add send key
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Minor edit
  crypto/testing-utils/src/main.rs
Due: crypto

Add already registered check
  crypto/testing-utils/src/chain_api.rs
  crypto/testing-utils/src/lib.rs
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

setup websockets
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Dependencies for cli
  Cargo.lock
  crypto/testing-utils/Cargo.toml
Due: crypto

Add sign fn to test client
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
  crypto/testing-utils/src/test_client/validation.rs
Due: crypto

Update program fn
  crypto/testing-utils/src/test_client/mod.rs
  crypto/testing-utils/src/test_client/validation.rs
Due: crypto

Update program command
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
  crypto/testing-utils/src/test_client/validation.rs
Due: crypto

Attempt test for nodejs
  crypto/protocol/nodejs-test/index.js
  crypto/protocol/nodejs-test/package.json
  crypto/protocol/nodejs-test/yarn.lock
Due: crypto

Add makefile
  crypto/protocol/Makefile
Due: crypto

update synedrion
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/kvdb/src/kv_manager/value.rs
  crypto/protocol/Cargo.toml
  crypto/protocol/src/execute_protocol.rs
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

working
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/protocol/src/execute_protocol.rs
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/api.rs
Due: crypto

errors
  crypto/kvdb/src/kv_manager/value.rs
  crypto/protocol/Cargo.toml
  crypto/protocol/src/execute_protocol.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

Try using wasm-bindgen-derive
  Cargo.lock
  crypto/protocol/Cargo.toml
  crypto/protocol/src/user/wasm.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
