Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

fmt curl examples
  crypto/server/src/main.rs
Due: crypto

validator tests
  crypto/server/src/health/tests.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/mod.rs
  crypto/server/src/validator/tests.rs
Due: crypto

signing_cli tests
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/errors.rs
Due: crypto

signing tests
  crypto/server/src/main.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

add cors
  crypto/server/Cargo.toml
  crypto/server/src/main.rs
Due: crypto

unhardcode endpoint
  crypto/server/src/helpers/launch.rs
  crypto/server/src/main.rs
Due: crypto

add warn unsafe
  crypto/server/src/main.rs
Due: crypto

refactor
  crypto/server/src/helpers/signing.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/unsafe/api.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
Due: crypto

refactor tests
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/unsafe/api.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/tests.rs
Due: crypto

bump ed25519
  Cargo.lock
Due: none

lint
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/api.rs
Due: crypto

remove rocket
  Cargo.lock
  Rocket.toml
  crypto/README.md
  crypto/server/Cargo.toml
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/subscribe/message.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validation/mod.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  scripts/sdk-bob-tss.sh
  scripts/server.sh
  scripts/server_bob.sh
  scripts/sigclient_alice.sh
  scripts/sigclient_bob.sh
Due: crypto

Add curl examples to documentation of user-facing http API endpoint (#361)
  crypto/server/src/main.rs
Due: crypto

fix unwrap issue
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  scripts/sdk-bob-tss.sh
Due: crypto

fix scripts
  scripts/server_bob.sh
  scripts/sigclient_bob.sh
Due: none

Replace Rocket with Axum (#358)
  Cargo.lock
  Rocket.toml
  crypto/README.md
  crypto/server/Cargo.toml
  crypto/server/src/health/api.rs
  crypto/server/src/health/tests.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/signing_client/subscribe/message.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/unsafe/api.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validation/mod.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/tests.rs
  scripts/sdk-bob-tss.sh
  scripts/server.sh
  scripts/server_bob.sh
  scripts/sigclient_alice.sh
  scripts/sigclient_bob.sh
Due: crypto

remove sign through chain
  Cargo.lock
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/README.md
  pallets/propagation/src/benchmarking.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: crypto, pallets, runtime

simplify types
  crypto/server/src/helpers/signing.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/types.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

tests working
  crypto/server/src/helpers/signing.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

fmt
  crypto/server/src/helpers/signing.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/types.rs
  pallets/relayer/src/lib.rs
  runtime/src/lib.rs
Due: crypto, pallets, runtime

clean
  crypto/server/src/helpers/signing.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/types.rs
Due: crypto

clean
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/shared/Cargo.toml
  pallets/relayer/src/lib.rs
Due: crypto, pallets

remove unwrap
  crypto/server/src/helpers/signing.rs
Due: crypto

fmt
  crypto/server/Cargo.toml
  crypto/shared/Cargo.toml
Due: crypto

clean
  pallets/relayer/src/tests.rs
Due: pallets

lint
  pallets/relayer/src/tests.rs
Due: pallets

lint
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

lint
  crypto/server/src/user/api.rs
Due: crypto

benchmarks
  pallets/relayer/src/benchmarking.rs
Due: pallets

lint
  pallets/relayer/src/benchmarking.rs
Due: pallets

WIP add websockets for signing protocol
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/helpers/signing.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

Use websockets instead of server sent events
  Cargo.lock
  crypto/server/src/helpers/signing.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

fix duplicate type
  crypto/server/entropy_metadata.scale
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

lint
  pallets/relayer/src/lib.rs
Due: pallets

fmt
  pallets/relayer/src/lib.rs
Due: pallets

remove sign through chain (#363)
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/signing.rs
  crypto/server/src/main.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/shared/Cargo.toml
  crypto/shared/src/types.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/README.md
  pallets/propagation/src/benchmarking.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: crypto, pallets, runtime

Error handle bad subscribe messages. Tests now pass locally.
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/subscribe/message.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

Taplo
  crypto/server/Cargo.toml
Due: crypto

Error handling
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

Refactor, errors
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
