Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Just run two tests in parallel
  .github/workflows/build-and-run-node-test.yaml
Due: none

Move `dbg!` statment location
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fix benchmark
  pallets/programs/src/benchmarking.rs
Due: pallets

Fix registry pallet tests
  pallets/registry/src/tests.rs
Due: pallets

Update TSS bad siging participant test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Apply suggestions from code review
  CHANGELOG.md
  pallets/staking/src/lib.rs
Due: pallets

clean
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Add a programs version (#1045)
  CHANGELOG.md
  Cargo.lock
  RELEASE_CHECKLIST.md
  crates/client/entropy_metadata.scale
  crates/client/src/client.rs
  crates/client/src/tests.rs
  crates/shared/src/constants.rs
  crates/test-cli/Cargo.toml
  crates/test-cli/src/lib.rs
  crates/test-cli/src/main.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

Add PCK to chainspec
  crates/shared/src/types.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Update propagation pallet test
  pallets/propagation/src/tests.rs
Due: pallets

Changelog
  CHANGELOG.md
Due: none

Update registry weights
  Cargo.lock
  pallets/registry/src/weights.rs
Due: pallets

Update chainspec genesis config to include PCKs for all TSSs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Add sp-runtime to wasm deps of entropy-shared
  crates/shared/Cargo.toml
Due: none

Bump tdx-quote, check PCK signature when verifying quotes
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/attestation/src/lib.rs
Due: pallets

Update benchmarks
  pallets/attestation/src/benchmarking.rs
  pallets/registry/src/benchmarking.rs
  pallets/staking/src/benchmarking.rs
Due: pallets

When mocking, derive PCK from TSS account id
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/attestation/api.rs
  pallets/attestation/Cargo.toml
Due: pallets

Get boundedvec from sp-core, not sp-runtime
  crates/shared/Cargo.toml
  crates/shared/src/types.rs
Due: none

Ignore BoundedVec type when compiling for wasm with std
  crates/shared/src/types.rs
Due: none

Update propagation pallet mock
  pallets/propagation/src/mock.rs
Due: pallets

Update attestation pallet mock
  pallets/attestation/src/benchmarking.rs
  pallets/attestation/src/mock.rs
  pallets/attestation/src/tests.rs
Due: pallets

Add helpers for deriving mock pcks
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/helpers.rs
Due: none

Add actual PCK values to chainspec
  node/cli/src/chain_spec/mod.rs
Due: node

Rm unused import
  node/cli/src/chain_spec/mod.rs
Due: node

Update registry tests
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
Due: pallets

fixing tests
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Adds 90-char limit workaround for long links. Updates endpoint.
  crates/test-cli/README.md
Due: none

Improve `entropy-test-cli` documentation (#1005)
  crates/test-cli/README.md
Due: none

another test
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fix user tests
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Poke CI
  .github/workflows/build-and-run-node-test.yaml
Due: none

Fix spacing in build-and-tes file
  .github/workflows/build-and-run-node-test.yaml
Due: none

more tests
  crates/client/src/client.rs
  crates/client/src/user.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Update registry benchmarks
  pallets/registry/src/benchmarking.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

Add comment following review
  pallets/registry/src/tests.rs
Due: pallets

Fix getting newest value from jumpstart dkg storage map and add test
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Update metadata
  crates/client/entropy_metadata.scale
Due: none

Comments
  Cargo.lock
  node/cli/src/chain_spec/mod.rs
  pallets/propagation/src/mock.rs
Due: node, pallets

Fix client test
  crates/client/src/tests.rs
Due: none

Add random secret PCK to attestation pallet benchmark test
  pallets/attestation/src/benchmarking.rs
Due: pallets
