Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Update crates/shared/src/lib.rs
  crates/shared/src/lib.rs
Due: none

Update crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
Due: none

rename send_tx to submit
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Generalized send_tx and get_data function (#636)
  crates/shared/src/lib.rs
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
Due: none

break up staking and session handler
  Cargo.lock
  pallets/session-handler/Cargo.toml
  pallets/session-handler/README.md
  pallets/session-handler/src/benchmarking.rs
  pallets/session-handler/src/lib.rs
  pallets/session-handler/src/mock.rs
  pallets/session-handler/src/tests.rs
  pallets/session-handler/src/weights.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Updates to top level readme
  README.md
Due: none

Updates to readme of crates dir
  crates/README.md
Due: none

Updates to readme of test cli
  crates/test-cli/README.md
Due: none

Improve doccomments for entropy-tss
  crates/threshold-signature-server/src/chain_api.rs
  crates/threshold-signature-server/src/helpers/logger.rs
  crates/threshold-signature-server/src/helpers/mod.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/node_info/mod.rs
  crates/threshold-signature-server/src/signing_client/listener.rs
  crates/threshold-signature-server/src/signing_client/mod.rs
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/mod.rs
  crates/threshold-signature-server/src/validator/mod.rs
Due: none

Improve doccomments for entropy-kvdb
  crates/kvdb/src/lib.rs
Due: none

Improve doccomments for entropy-protocol
  crates/protocol/src/user/mod.rs
  crates/protocol/src/user/wasm.rs
Due: none

Improve doccomments for entropy node
  node/cli/src/cli.rs
  node/cli/src/endowed_accounts.rs
Due: node

Add issue number to TODO in execute_protocol.rs
  crates/protocol/src/execute_protocol.rs
Due: none

Rm TODO which is already done
  crates/threshold-signature-server/src/signing_client/api.rs
Due: none

session handler tests
  Cargo.lock
  pallets/session-handler/Cargo.toml
  pallets/session-handler/src/lib.rs
  pallets/session-handler/src/mock.rs
  pallets/session-handler/src/tests.rs
Due: pallets

compile
  Cargo.lock
  pallets/session-handler/src/lib.rs
  pallets/staking/src/mock.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: pallets, runtime

update benchmarks
  pallets/session-handler/src/benchmarking.rs
  pallets/session-handler/src/lib.rs
  pallets/session-handler/src/weights.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/weights.rs
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_session_handler.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

clean
  pallets/session-handler/Cargo.toml
  pallets/session-handler/src/benchmarking.rs
  pallets/session-handler/src/lib.rs
  pallets/session-handler/src/tests.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: pallets, runtime

Add data structure for querying a validator's subgroup
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Bump metadata
  crates/threshold-signature-server/entropy_metadata.scale
Due: none

Use new data structure in TSS code
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Simplify `check_in_subgroup` implementation with new method
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Add a `get_stash_address` helper
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

Only return `subgroup` from `get_subgroup` request
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Fix test compilation
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Make comment more explicit
  pallets/staking/src/lib.rs
Due: pallets

Remove TODO
  pallets/staking/src/lib.rs
Due: pallets

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

Appease Clippy
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
  pallets/staking/src/lib.rs
Due: pallets

Improve README / doccomments ahead of audit (#640)
  README.md
  crates/README.md
  crates/kvdb/src/lib.rs
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/user/mod.rs
  crates/protocol/src/user/wasm.rs
  crates/test-cli/README.md
  crates/threshold-signature-server/src/chain_api.rs
  crates/threshold-signature-server/src/helpers/logger.rs
  crates/threshold-signature-server/src/helpers/mod.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/node_info/mod.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/listener.rs
  crates/threshold-signature-server/src/signing_client/mod.rs
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/mod.rs
  crates/threshold-signature-server/src/validator/mod.rs
  node/cli/src/cli.rs
  node/cli/src/endowed_accounts.rs
Due: node

Update error message string
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Use new lookup in `confirm_register`
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

Update test-cli readme
  crates/test-cli/README.md
Due: none

Change default key visibility to permissioned
  crates/test-cli/src/main.rs
Due: none

Update changelog
  CHANGELOG.md
Due: none

Update rustdoc docs regarding signature responses
  crates/threshold-signature-server/src/lib.rs
Due: none

Update readme
  crates/test-cli/README.md
Due: none

Add noop example .wasm file
  crates/testing-utils/example_noop.wasm
Due: none

Update rustdoc docs regarding signature responses (#645)
  crates/threshold-signature-server/src/lib.rs
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
