Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Clean up docs around storage items
  pallets/staking/src/lib.rs
Due: pallets

Add note about only active validators having a subgroup
  pallets/staking/src/lib.rs
Due: pallets

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

Bump metadata
  crates/threshold-signature-server/entropy_metadata.scale
Due: none

Fill out `CHANGELOG` with real PR number
  CHANGELOG.md
Due: none

Remove expect in favour of error
  pallets/relayer/src/lib.rs
Due: pallets

Clarify that `ValidatorToSubgroup` only includes active validators
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Fix staking extension tests
  pallets/staking/src/tests.rs
Due: pallets

Fix typo
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Add version number to registered (#658)
  CHANGELOG.md
  crates/threshold-signature-server/entropy_metadata.scale
  pallets/propagation/src/mock.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  runtime/src/lib.rs
Due: pallets, runtime

Fix benchmarking code
  pallets/staking/src/benchmarking.rs
Due: pallets

tests
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

add propogation pallet
  Cargo.lock
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/parameters/Cargo.toml
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
  pallets/parameters/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: node, pallets, runtime

add parameters pallet
  Cargo.lock
  crates/threshold-signature-server/entropy_metadata.scale
  pallets/parameters/Cargo.toml
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/weights.rs
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_parameters.rs
Due: pallets, runtime

Clean ups around Staking Extension's `validate()` extrinsic (#659)
  CHANGELOG.md
  crates/threshold-signature-server/entropy_metadata.scale
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Fix test
  pallets/staking/src/tests.rs
Due: pallets

Rename `pallet_relayer` to `pallet_registry`
  pallets/registry/Cargo.toml
  pallets/registry/README.md
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
Due: pallets

Search and replace `relayer` with `registry`
  Cargo.lock
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  node/cli/Cargo.toml
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/free-tx/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/registry/Cargo.toml
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_relayer.rs
Due: node, pallets, runtime

Rename relayer weight file
  runtime/src/weights/pallet_registry.rs
Due: runtime

`s/Relayer/Registry/g`
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/validator/api.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  pallets/programs/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_registry.rs
Due: node, pallets, runtime

Add direct query for a validator's subgroup (#642)
  CHANGELOG.md
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Update benchmarking script
  scripts/single_benchmark.sh
Due: none

TaploFmt
  node/cli/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/propagation/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Remove `free-tx` pallet
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
Due: pallets

Remove pallet from runtime
  runtime/src/lib.rs
Due: runtime

Remove pallet from TOML files
  Cargo.lock
  node/cli/Cargo.toml
  runtime/Cargo.toml
Due: node, runtime

More removals from runtime
  runtime/src/lib.rs
Due: runtime

Remove benchmarks
  node/cli/src/benchmarking.rs
  runtime/src/weights/pallet_free_tx.rs
Due: node, runtime

More benchmark related removals
  runtime/src/weights/mod.rs
Due: runtime

Remove entry from signed extra payload
  node/cli/src/benchmarking.rs
Due: node

Improve comment
  crates/threshold-signature-server/src/user/api.rs
Due: none

Move checks to bail earlier
  crates/threshold-signature-server/src/user/api.rs
Due: none

Improve test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

integration tests
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

clean
  Cargo.lock
  pallets/parameters/Cargo.toml
Due: pallets

docs
  pallets/parameters/src/lib.rs
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
