Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

clean
  crates/testing-utils/src/node_proc.rs
  crates/testing-utils/src/substrate_context.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

renive extra command
  crates/testing-utils/src/node_proc.rs
Due: none

Deterministic alice bootnode for testing (#1469)
  crates/testing-utils/src/node_proc.rs
  crates/testing-utils/src/substrate_context.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Trivial non-code change to bypass testing (very bad i know)
  crates/README.md
Due: none

Bump to 0.4.0 (not a release candidate
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

Taplo
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

WIP CVM build workflow
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Build entropy-tss cvm image
  .github/workflows/build-and-release.yaml
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Image name
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Only run workflow if non-tdx is not given
  .github/workflows/build-and-release.yaml
Due: none

Make the chainspec generation from chainspec inputs be determinstic (#1467)
  Cargo.lock
  crates/README.md
  node/cli/Cargo.toml
  node/cli/src/chain_spec/testnet.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Only upload the version of the image we need for GCP
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Trivial non-code change to bypass testing (very bad i know)
  README.md
Due: none

Create release artifact of CVM image
  .github/workflows/build-and-release.yaml
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Hopefully fix how path is specified
  .github/workflows/build-and-release.yaml
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Add palled_delegated_staking
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: runtime

change stake adapter
  runtime/src/lib.rs
Due: runtime

remove from benchmarks
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: runtime

fmt
  runtime/src/lib.rs
Due: runtime

Apply Davids suggestion to add a yield_now between reshare and aux gen in DKG
  crates/protocol/src/execute_protocol.rs
Due: none

With custom chain inputs, we no longer use a pre-generated chainspec. (#1454)
  .github/workflows/container-build-and-push.yaml
Due: none

Remove ignore annotation from jumpstart test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add palled_delegated_staking (#1475)
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: runtime

Debugging session
  crates/protocol/src/execute_protocol.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Try ommitting branch name to see whether rustembed will be able to build the project with only the commit hash
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Add get branch name job
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Fix getting branch name
  .github/workflows/entropy-tss-cvm.yaml
Due: none

test
  .github/workflows/build-and-run-node-test.yaml
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fix
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update release checklist
  RELEASE_CHECKLIST.md
Due: none

ServerInfo in staking pallet now stores the full quote
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Dont set ref for yocto build repo
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Update staking extension pallet benchmarking
  pallets/staking/src/benchmarking.rs
Due: pallets

workflow
  .github/workflows/build-and-run-node-test.yaml
Due: none

clean
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Apply Davids suggestion to add a yield_now between reshare and aux gen in DKG (#1476)
  crates/protocol/src/execute_protocol.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Store full tdx quote and use quotes rather than PCKs in genesis config
  Cargo.lock
  crates/shared/Cargo.toml
  crates/shared/src/attestation.rs
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/attestation/api.rs
  node/cli/Cargo.toml
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/staking/src/lib.rs
Due: node, pallets

Update entropy-tss node info route handler
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/node_info/tests.rs
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
