Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Remove related benchmarking code
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

Remove TODO in favour of issue
  pallets/relayer/src/lib.rs
Due: pallets

Format output of status command
  crypto/testing-utils/src/main.rs
Due: crypto

Add the benchmark template from the Polkadot v0.9.43 release (#436)
  .maintain/frame-weight-template.hbs
Due: none

Update node metadata
  crypto/server/entropy_metadata.scale
Due: crypto

Apply same sleep hack as in #433 🙈
  crypto/server/src/user/tests.rs
Due: crypto

Use x25519chacha20poly1305 for encrypting messages, to reduce duplicated code here
  Cargo.lock
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/test_client/common.rs
  crypto/testing-utils/src/test_client/mod.rs
  crypto/testing-utils/src/test_client/validation.rs
Due: crypto

Statically compile the binaries when releasing; it's maybe easier.
  .github/workflows/build-and-release.yaml
Due: none

Match test node type to test build type
  crypto/testing-utils/src/substrate_context.rs
Due: crypto

Remove `is_swapping` from registration details (#437)
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: crypto, pallets, runtime

Improve error handling message
  crypto/testing-utils/src/substrate_context.rs
Due: crypto

Updates benchmarks
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

Statically compile the binaries when releasing; it's maybe easier. (#441)
  .github/workflows/build-and-release.yaml
Due: none

allow local host pass for offchain url
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/cli.rs
  node/cli/src/service.rs
Due: node

Add a test for test_client
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/chain_api.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Use bugfix branch of x25519chacha20poly1305
  Cargo.lock
  crypto/testing-utils/Cargo.toml
Due: crypto

Use separate sig request and constrain modification accounts
  crypto/testing-utils/src/main.rs
Due: crypto

Fmt, re-build lockfile
  Cargo.lock
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Re-export KeyVisibility
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Fmt
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Clippy
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

As x25519chacha20poly1305 is public, dont use ssh to clone it
  crypto/testing-utils/Cargo.toml
Due: crypto

remove encode for into bytes
  node/cli/src/service.rs
Due: node

Match test node type to test build type (#442)
  crypto/testing-utils/src/substrate_context.rs
Due: crypto

fix ci
  node/cli/src/chain_spec.rs
  node/cli/src/service.rs
Due: node

handle proactive refresh too
  node/cli/src/service.rs
Due: node

docs
  node/cli/src/cli.rs
  node/cli/src/service.rs
Due: node

change short
  node/cli/src/cli.rs
Due: node

Suggest using the `--rpc-endpoint` long option with no short option.
  docker-compose.yaml
  node/cli/src/cli.rs
Due: node

Suggest using the `--rpc-endpoint` long option with no short option. (#444)
  docker-compose.yaml
  node/cli/src/cli.rs
Due: node

replace unwrap
  node/cli/src/service.rs
Due: node

refactor
  node/cli/src/service.rs
Due: node

refactor
  docker-compose.yaml
  node/cli/src/cli.rs
  node/cli/src/service.rs
Due: node

Update docker-compose.yaml
  docker-compose.yaml
Due: none

Update node/cli/src/cli.rs
  node/cli/src/cli.rs
Due: node

User can participate in signing using test client
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Update for private signing
  Cargo.lock
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Update test for private signing
  crypto/server/src/user/tests.rs
Due: crypto

Make other test fns follow the convention of taking a seed string instead of keypair
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
