Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Temporarily sleep in test until after reshare
  crates/threshold-signature-server/tests/register_sign_reshare_sign.rs
Due: none

put programs repo back to master branch
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
Due: none

Dont include JumpStartDetails in staking pallet config, only ids of the jumpstarted signer set
  crates/client/entropy_metadata.scale
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: node, pallets

Update mock config for propagation and registry pallets
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
Due: pallets

Comments, tidy
  crates/testing-utils/src/helpers.rs
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Add json output
  Cargo.lock
  crates/protocol/src/lib.rs
  crates/test-cli/Cargo.toml
  crates/test-cli/src/lib.rs
  crates/test-cli/src/main.rs
Due: none

Fix empty responses
  crates/test-cli/src/lib.rs
Due: none

Small fixes to test-cli
  crates/test-cli/src/lib.rs
Due: none

Only display Failed message is json option is false
  crates/test-cli/src/main.rs
Due: none

Explose clap Parser trait
  crates/test-cli/src/main.rs
Due: none

Dont expose Parser trait
  crates/test-cli/src/main.rs
Due: none

Small fix to displaying verifying key
  crates/test-cli/src/lib.rs
Due: none

Add json output to test CLI command output (#1164)
  Cargo.lock
  crates/protocol/src/lib.rs
  crates/test-cli/Cargo.toml
  crates/test-cli/src/lib.rs
  crates/test-cli/src/main.rs
Due: none

Add new field to attestation pallet mock
  pallets/attestation/src/mock.rs
Due: pallets

Update client tests
  crates/client/src/tests.rs
Due: none

Fix issue with test helper fn
  crates/client/src/tests.rs
  crates/testing-utils/src/helpers.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/register_sign_reshare_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Update crates/client/src/client.rs
  crates/client/src/client.rs
Due: none

fix
  crates/client/src/client.rs
Due: none

Add pre-generated keyshares directly to the kvdb, rather than using the unsafe API
  crates/testing-utils/src/helpers.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/unsafe/api.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Update integratiion test chain spec
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Update programs to accept multiple oracle data (#1153)
  CHANGELOG.md
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/client/src/client.rs
  crates/shared/device_key_proxy.wasm
  crates/testing-utils/example_barebones_with_auxilary.wasm
  crates/testing-utils/example_custom_hash.wasm
  crates/testing-utils/faucet_program.wasm
  crates/testing-utils/infinite_loop.wasm
  crates/testing-utils/template_barebones.wasm
  crates/testing-utils/template_basic_transaction.wasm
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
  pallets/programs/src/weights.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_programs.rs
Due: pallets, runtime

update oracle program
  crates/test-cli/src/lib.rs
  crates/testing-utils/oracle_example.wasm
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fmt
  crates/test-cli/src/lib.rs
Due: none

Fixes for pre-jumpstarted state in tests - mocking jump start no longer works
  crates/protocol/src/execute_protocol.rs
  crates/testing-utils/src/helpers.rs
  crates/testing-utils/src/lib.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/command.rs
Due: node

Update reshare test
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Typo
  node/cli/src/command.rs
Due: node

Update crates/testing-utils/src/constants.rs
  crates/testing-utils/src/constants.rs
Due: none

Integration oracle test (#1148)
  crates/test-cli/src/lib.rs
  crates/testing-utils/oracle_example.wasm
  crates/testing-utils/src/constants.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add command to get oracle headings
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/client.rs
  crates/client/src/tests.rs
  crates/test-cli/src/lib.rs
Due: none

Tidy, changelog
  CHANGELOG.md
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/test-cli/src/lib.rs
Due: none

Wait an extra block
  crates/client/src/client.rs
  crates/client/src/tests.rs
Due: none

Add attest get endpoint
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/client/src/tests.rs
  crates/client/src/user.rs
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  crates/threshold-signature-server/src/lib.rs
Due: none

Changelog
  CHANGELOG.md
Due: none

Add test-cli command to get a quote
  Cargo.lock
  crates/test-cli/Cargo.toml
  crates/test-cli/src/lib.rs
Due: none

Error handling
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
Due: none

Add no current signer guard
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Apply suggestions from review
  crates/test-cli/src/lib.rs
  crates/threshold-signature-server/src/attestation/api.rs
Due: none

Add TSS endpoint to get TDX quote (#1173)
  CHANGELOG.md
  Cargo.lock
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/client/src/tests.rs
  crates/client/src/user.rs
  crates/test-cli/Cargo.toml
  crates/test-cli/src/lib.rs
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  crates/threshold-signature-server/src/lib.rs
Due: none

If no interface files given, default to empty vector
  crates/test-cli/src/lib.rs
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
