Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Update tests
  crypto/protocol/nodejs-test/index.js
  crypto/protocol/src/user/mod.rs
  crypto/protocol/src/user/wasm.rs
  crypto/server/src/user/tests.rs
  crypto/server/tests/protocol_wasm.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

fix tests
  crypto/server/src/user/tests.rs
Due: crypto

wasm test
  crypto/server/tests/protocol_wasm.rs
Due: crypto

fix benchmarks
  pallets/relayer/src/benchmarking.rs
Due: pallets

Make SessionId type
  crypto/protocol/nodejs-test/index.js
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_transport/subscribe_message.rs
  crypto/protocol/src/user/mod.rs
  crypto/protocol/src/user/wasm.rs
  crypto/server/src/common.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/protocol_execution/context.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/signing_client/protocol_transport.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/tests/protocol_wasm.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Comments
  crypto/protocol/src/lib.rs
Due: crypto

Derive x25519 secret keys in entropy-protocol crate (#548)
  Cargo.lock
  crypto/protocol/Cargo.toml
  crypto/protocol/nodejs-test/index.js
  crypto/protocol/src/user/mod.rs
  crypto/protocol/src/user/wasm.rs
  crypto/server/src/user/tests.rs
  crypto/server/tests/protocol_wasm.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Fix bullet points
  crypto/protocol/js-README.md
Due: crypto

Prepare for publishing `entropy-protocol` to npm (#543)
  crypto/protocol/Makefile
  crypto/protocol/js-README.md
Due: crypto

Remove the Synedrion Deploy Key set up; Synedrion is becoming FLOSS.
  .circleci/config.yml
  .circleci/then.yml
  Makefile
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
  crypto/testing-utils/Cargo.toml
Due: crypto

Prepare for open sourcing the Synedrion dependency. (#551)
  .circleci/config.yml
  .circleci/then.yml
  Makefile
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
  crypto/testing-utils/Cargo.toml
Due: crypto

Update crypto/test-cli/src/main.rs
  crypto/test-cli/src/main.rs
Due: crypto

Update pallets/programs/src/lib.rs
  pallets/programs/src/lib.rs
Due: pallets

Update crypto/testing-utils/src/test_client/mod.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Rm comment
  crypto/server/src/signing_client/api.rs
Due: crypto

fix
  crypto/server/tests/protocol_wasm.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

remove unwraps
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Update link to synedrion docs in API documentation index
  target/doc/index.html
Due: none

Update link to synedrion docs in API documentation index (#554)
  target/doc/index.html
Due: none

add password file option
  Cargo.lock
  crypto/kvdb/src/encrypted_sled/password.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/main.rs
  crypto/server/src/user/tests.rs
Due: crypto

update changelog
  CHANGELOG.md
Due: none

Bump `synedrion` to v0.1 release
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
  crypto/testing-utils/Cargo.toml
Due: crypto

Fix breaking changes
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
Due: crypto

refactors
  CHANGELOG.md
  Cargo.lock
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

Remove some cruft from the repo's top level
  .cargo-remote.toml
  .envrc
  local-share1.json
  shell.nix
Due: none

Remove VSCode config
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Add VSCode config to .gitignore
  .gitignore
Due: none

Delete some unused scripts
  scripts/alice-node.sh
  scripts/bob-node.sh
  scripts/init.sh
  scripts/install-taplo.sh
  scripts/purge-chain.sh
  scripts/sdk-entropy-node.sh
  scripts/setup-debian.sh
  scripts/sigclient_alice.sh
  scripts/sigclient_bob.sh
  scripts/start-public-dev.sh
  scripts/tss.sh
Due: none

Rename chainspec build script
  scripts/build-devnet-chainspec.sh
Due: none

Remove local testnet related helper scripts
  README.md
  scripts/alice.sh
  scripts/bob.sh
  scripts/sdk-alice-tss.sh
  scripts/sdk-bob-tss.sh
  scripts/server.sh
  scripts/server_bob.sh
Due: none

Move Clippy header to `.maintain` folder
  .maintain/ignore_clippy_header.txt
  runtime/src/weights/frame_benchmarking.rs
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_storage.rs
  runtime/src/weights/pallet_treasury.rs
  runtime/src/weights/pallet_utility.rs
  runtime/src/weights/pallet_vesting.rs
  scripts/benchmarks.sh
Due: runtime

Remove `devcontainer`
  .devcontainer/devcontainer.json
Due: none

refactor
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/relayer/src/lib.rs
Due: pallets

refactor
  crypto/server/src/helpers/substrate.rs
  crypto/server/tests/sign.rs
  crypto/test-cli/src/main.rs
  crypto/testing-utils/src/constants.rs
Due: crypto

Use Synedrion `v0.1` release (#556)
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/server/Cargo.toml
  crypto/testing-utils/Cargo.toml
Due: crypto

refactor
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
