Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Improve error handling in user_participates test helper fn
  crypto/server/src/helpers/tests.rs
Due: crypto

Rename variable for clarity
  crypto/server/src/helpers/signing.rs
Due: crypto

dkg working ish
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

checks if in registration group
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

confirm register
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

remove unwraps
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

more tests
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

clean
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/protocol_transport/listener.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Rustdoc fixes for kvdb
  crypto/kvdb/src/encrypted_sled/kv.rs
  crypto/kvdb/src/encrypted_sled/mod.rs
  crypto/kvdb/src/encrypted_sled/password.rs
  crypto/kvdb/src/kv_manager/error.rs
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/kvdb/src/kv_manager/mod.rs
  crypto/kvdb/src/kv_manager/sled_bindings.rs
Due: crypto

Rustdoc fixes for server
  crypto/server/src/main.rs
  crypto/server/src/signing_client/protocol_transport/noise.rs
Due: crypto

Rustdoc fixes for core
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

run cargo clippy --fix
  crypto/constraints/src/architectures.rs
  crypto/constraints/src/tests.rs
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  node/cli/src/benchmarking.rs
  node/cli/src/service.rs
Due: node, crypto

update to latest nightly
  rust-toolchain.toml
Due: none

update to stable
  rust-toolchain.toml
Due: none

working tests
  Cargo.lock
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/types.rs
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  pallets/propagation/src/lib.rs
  pallets/relayer/src/lib.rs
Due: node, crypto, pallets

fix tests
  node/cli/Cargo.toml
  pallets/propagation/src/tests.rs
  pallets/relayer/src/tests.rs
Due: node, pallets

lint
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

Add additional API docs link for x25519-chacha20poly1305 repo
  target/doc/index.html
Due: none

Add additional API docs link for x25519-chacha20poly1305 repo (#387)
  target/doc/index.html
Due: none

fix benchmarks
  Cargo.lock
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  pallets/propagation/src/lib.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
Due: node, crypto, pallets

remove a dbg
  crypto/server/src/helpers/user.rs
Due: crypto

change node run scripts
  scripts/alice-node.sh
  scripts/bob-node.sh
Due: none

lint
  pallets/relayer/src/lib.rs
Due: pallets

rewrote sign_tx
  Cargo.lock
  Cargo.toml
  crypto/server/Cargo.toml
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  rust-toolchain.toml
Due: crypto

Fix rustdoc warnings (#383)
  crypto/kvdb/src/encrypted_sled/kv.rs
  crypto/kvdb/src/encrypted_sled/mod.rs
  crypto/kvdb/src/encrypted_sled/password.rs
  crypto/kvdb/src/kv_manager/error.rs
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/kvdb/src/kv_manager/mod.rs
  crypto/kvdb/src/kv_manager/sled_bindings.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/protocol_transport/noise.rs
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
Due: crypto, pallets

Fix clippy warnings on newer rust versions (#384)
  crypto/constraints/src/architectures.rs
  crypto/constraints/src/tests.rs
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  node/cli/src/benchmarking.rs
  node/cli/src/service.rs
Due: node, crypto

setup chain for dkg
  Cargo.lock
  crypto/server/src/signing_client/protocol_transport/listener.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/shared/Cargo.toml
  crypto/shared/src/types.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/README.md
  pallets/propagation/src/benchmarking.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: crypto, pallets, runtime

add validation to send and recieve keys
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

add on init pruning
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
Due: pallets

finish validation
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

update listener struct
  crypto/server/src/helpers/mod.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/protocol_transport/listener.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/mod.rs
Due: crypto

add in channels to dkg
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/errors.rs
  crypto/shared/src/lib.rs
Due: crypto

skeleton new_user
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

integrate open protocol connection to dkg
  crypto/server/src/helpers/user.rs
Due: crypto

test send key
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
