Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Update `cargo-deny` to version `2`
  deny.toml
Due: none

Fix breaking changes from #974
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/tests.rs
Due: pallets

clean
  crates/client/entropy_metadata.scale
  pallets/registry/src/lib.rs
Due: pallets

Check that both aux info and keyshare changes following reshare in test
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Testing-utils should load entropy-tss with the test_helpers feature present
  crates/testing-utils/Cargo.toml
Due: none

Changelog
  CHANGELOG.md
Due: none

Tidy
  crates/threshold-signature-server/src/signing_client/api.rs
Due: none

Add TODO
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Taplo
  crates/testing-utils/Cargo.toml
Due: none

fix test
  pallets/registry/src/mock.rs
Due: pallets

fix benches
  pallets/parameters/src/benchmarking.rs
Due: pallets

Bump Synedrion to latest `master`
  Cargo.lock
  pallets/registry/Cargo.toml
Due: pallets

Add issue number to `TODO` comment
  pallets/registry/src/lib.rs
Due: pallets

New on-chain registration flow (#955)
  CHANGELOG.md
  Cargo.lock
  pallets/registry/Cargo.toml
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

fix signer decrease logic
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

clean
  pallets/parameters/src/lib.rs
  pallets/parameters/src/tests.rs
  pallets/staking/src/tests.rs
Due: pallets

doc
  pallets/staking/src/lib.rs
Due: pallets

Apply suggestions from code review
  pallets/parameters/src/lib.rs
Due: pallets

clean
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Integrate signer changes dynamically (#978)
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/shared/src/constants.rs
  pallets/parameters/Cargo.toml
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Rm entry from changelog
  CHANGELOG.md
Due: none

Comment following review
  crates/threshold-signature-server/src/signing_client/api.rs
Due: none

Update CLA Assistant to exempt our own Organization members.
  .github/workflows/cla.yaml
Due: none

Run the aux gen protocol when resharing to a new signing committee (#977)
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/lib.rs
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Update CLA Assistant to exempt our own Organization members. (#986)
  .github/workflows/cla.yaml
Due: none

Bump Synedrion to latest `master` in TSS
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/protocol/src/execute_protocol.rs
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/create_test_keyshares.rs
  crates/threshold-signature-server/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: none

Store `derivation_path` in `RegisteredInfo`
  pallets/registry/src/lib.rs
Due: pallets

Bump metadata
  crates/client/entropy_metadata.scale
Due: none

working
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/endowed_accounts.rs
Due: node

Split registration flow based on existence of derivation path
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

clean tests
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Bump Synedrion to latest `master` in TSS (#988)
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/protocol/src/execute_protocol.rs
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/create_test_keyshares.rs
  crates/threshold-signature-server/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: none

add test
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

clean
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Add analogous gh jobs for .circleci/then.yml jobs
  .github/actions/install-dependencies/action.yaml
  .github/workflows/build-and-run-node-test.yaml
  .github/workflows/check-chainspecs.yaml
  .github/workflows/check-doc-build.yaml
  .github/workflows/lint-and-check-licenses.yaml
  .github/workflows/test-runtime-benchmarks.yaml
Due: none

clean
  crates/threshold-signature-server/src/validator/api.rs
  node/cli/src/chain_spec/mod.rs
Due: node

Fix TSS keys in chainspec
  node/cli/src/chain_spec/mod.rs
Due: node

space
  node/cli/src/chain_spec/mod.rs
Due: node

changelog
  CHANGELOG.md
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
