Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature (path-filtering)
# https://circleci.com/docs/dynamic-config
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # always-run is always triggered (yikes), regardless of the pipeline parameters.
  always-run: 
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
            # do rest after validation
            # crypto/centralized-keygen/.* centralized-keygen-change true
            # crypto/.* signing-client-change true
          mapping: |
            node/.* node true
            crypto/.* crypto true
            pallets/.* pallets true
          base-revision: master
          # path to trigger once filtering/value updates finish 
          config-path: .circleci/then.yml

added tests
  pallets/free-tx/src/tests.rs
Due: pallets

updated tests, need to fix era updates in tests
  pallets/free-tx/src/tests.rs
Due: pallets

jesse couldnt even figure this one out!!
  Cargo.lock
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
Due: pallets

cleanup
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  runtime/src/lib.rs
Due: pallets

cleanup 2
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
Due: pallets

removed unneeded comment
  pallets/free-tx/src/tests.rs
Due: pallets

cleaned up tests
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
Due: pallets

checkpoint
  0
  Cargo.lock
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

removed unused package
  Cargo.lock
  crypto/server/src/signing_client/tests.rs
Due: crypto

linting
  Cargo.lock
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
Due: pallets

next checkpoint
  crypto/server/src/signing_client/api.rs
Due: crypto

checkpoint
  crypto/server/src/signing_client/api.rs
Due: crypto

fmt
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/mod.rs
  pallets/propagation/src/tests.rs
Due: crypto, pallets

fixed benchmarks
  Cargo.lock
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
Due: pallets

setup muliple clients in test
  .gitignore
  0
  1
  crypto/server/src/signing_client/tests.rs
Due: crypto

checkpoint
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

Free TX - free tx every era; governance can update free tx per era (#176)
  Cargo.lock
  node/cli/src/chain_spec.rs
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
Due: node, pallets

feat: council can update number of free tx users get per era
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  runtime/src/lib.rs
  scripts/benchmarks.sh
Due: pallets

checkpoint
  crypto/kvdb/src/lib.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

feat: free-tx fixed benches
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/weights.rs
  runtime/src/weights/pallet_free_tx.rs
Due: pallets

Free TX - council can update free tx per era, fixed benchmarks (#177)
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_free_tx.rs
  scripts/benchmarks.sh
Due: pallets

Impl Responder for errors
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/errors.rs
Due: crypto

Don't repeat the edition, it's already in Cargo.toml
  .rustfmt.toml
Due: none

Default brace style
  .rustfmt.toml
  crypto/kvdb/src/encrypted_sled/kv.rs
  node/cli/src/rpc.rs
  node/rpc/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/slashing/src/mock.rs
  pallets/staking/src/mock.rs
Due: node, crypto, pallets

`overflow_delimited_expr` does not even affect our code, returning to default
  .rustfmt.toml
Due: none

Default attribute style
  .rustfmt.toml
  crypto/constraints/src/lib.rs
  crypto/kvdb/src/encrypted_sled/mod.rs
  crypto/kvdb/src/kv_manager/mod.rs
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/main.rs
  crypto/server/src/user/mod.rs
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/propagation/src/lib.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/slashing/src/lib.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/transaction-pause/src/benchmarking.rs
  pallets/transaction-pause/src/lib.rs
Due: crypto, pallets

fix: cleanup test to be clearer what data is being encoded
  crypto/server/src/signing_client/tests.rs
Due: crypto

Build & run tests on stable Rust
  .circleci/then.yml
Due: none

Build & run tests on stable Rust (#180)
  .circleci/then.yml
Due: none

Default struct field alignment
  .rustfmt.toml
  crypto/kvdb/src/encrypted_sled/kv.rs
  crypto/kvdb/src/encrypted_sled/record.rs
  crypto/kvdb/src/kv_manager/types.rs
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/user/mod.rs
  crypto/substrate-common/src/types.rs
  crypto/testing-utils/src/context.rs
  crypto/testing-utils/src/node_proc.rs
  node/cli/src/chain_spec.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  node/rpc/src/lib.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  pallets/slashing/src/lib.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/lib.rs
Due: node, crypto, pallets

Make taplo happy
  .rustfmt.toml
Due: none
