Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

update command
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

fixes
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Add sort to subgroup signer selection (#900)
  CHANGELOG.md
  crates/client/src/user.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

add juni
  data/testnet/testnet-accounts.json
Due: none

lint
  runtime/src/lib.rs
Due: runtime

fix faucet test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

lint
  node/cli/src/service.rs
Due: node

update testnet to devnet
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

Add team to endowed accounts for testnet (#835)
  data/testnet/testnet-accounts.json
  node/cli/src/service.rs
Due: node

Remove duplicate `dead_code` lint
  node/cli/src/service.rs
Due: node

Remove duplicate `dead_code` lint (#906)
  node/cli/src/service.rs
Due: node

Tidy up config naming, ordering, and comments
  node/cli/src/chain_spec/dev.rs
  node/cli/src/command.rs
Due: node

Update `CHANGELOG` entry
  CHANGELOG.md
Due: none

Fix faucet test race condition
  crates/testing-utils/faucet_program.wasm
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Fix release workflow by including only intended artifacts.
  .github/workflows/build-and-release.yaml
Due: none

ignore faucet test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fix
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Fix release workflow by including only intended artifacts. (#908)
  .github/workflows/build-and-release.yaml
Due: none

Update crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

comment
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Ignore faucet test due to race condition (#907)
  crates/testing-utils/faucet_program.wasm
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Merge branch 'master' of github.com:entropyxyz/entropy-core into Add-a-4-node-testnet
  .github/workflows/build-and-release.yaml
  crates/testing-utils/faucet_program.wasm
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/src/service.rs
Due: node

Create four node Docker Compose chainspec (#902)
  CHANGELOG.md
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/command.rs
Due: node

Update `CHANGELOG`
  CHANGELOG.md
Due: none

Bump `spec_version` and `transaction_version`
  runtime/src/lib.rs
Due: runtime

Bump metadata
  crates/client/entropy_metadata.scale
Due: none

Bump versions to `v0.2.0-rc.1`
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

fix failing kvdb tests
  crates/kvdb/src/lib.rs
  crates/threshold-signature-server/src/health/tests.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

fmt
  crates/kvdb/src/lib.rs
Due: none

Fix pallet treasury benchmarks
  runtime/src/lib.rs
  runtime/src/weights/pallet_treasury.rs
Due: runtime

fmt
  runtime/src/lib.rs
Due: runtime

Update crates/kvdb/src/lib.rs
  crates/kvdb/src/lib.rs
Due: none

fix
  crates/kvdb/src/lib.rs
Due: none

Fix failing kvdb tests (#911)
  crates/kvdb/src/lib.rs
  crates/threshold-signature-server/src/health/tests.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Exclude nomination pool benches
  scripts/benchmarks.sh
Due: none

Allow `steps` and `repeat` to be configured when running benchmark script
  scripts/benchmarks.sh
Due: none

Run benchmarks as part of CI instead of just checking the build
  .circleci/then.yml
Due: none

Use correct array syntax
  scripts/benchmarks.sh
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
