Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Update imports
  pallets/constraints/src/mock.rs
  pallets/constraints/src/weights.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_constraints.rs
Due: pallets, runtime

Rename constraints pallet folder to "programs"
  pallets/programs/Cargo.toml
  pallets/programs/README.md
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
  pallets/programs/src/weights.rs
Due: pallets

Update import paths
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/benchmarks.sh
Due: pallets, runtime

Rename weight file
  runtime/src/weights/pallet_programs.rs
Due: runtime

Update lockfile
  Cargo.lock
Due: none

remove commented out assert
  crypto/server/src/user/tests.rs
Due: crypto

remove todo
  crypto/server/src/validator/api.rs
Due: crypto

Rename pallet in `construct_runtime`
  runtime/src/lib.rs
Due: runtime

Update metadata
  crypto/server/entropy_metadata.scale
Due: crypto

Remove ACL and Architecture related code
  crypto/constraints/src/architectures.rs
  crypto/constraints/src/constraints.rs
  crypto/constraints/src/lib.rs
  crypto/constraints/src/tests.rs
  crypto/server/src/chain_api.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/constraints.rs
  crypto/shared/src/lib.rs
  crypto/shared/src/types.rs
Due: crypto

Remove `entropy-constraints` crate
  crypto/constraints/Cargo.toml
  crypto/constraints/src/lib.rs
Due: crypto

Move `ConstraintsError` to `user` module
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

Update `subxt` calls to Program pallet
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
Due: crypto

Replace a bunch of "constraint"s with "program"s
  Cargo.lock
  README.md
  crypto/README.md
  crypto/server/Cargo.toml
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/chain_api.rs
  pallets/programs/src/weights.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

Same replacement, but for capitalized words
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
  pallets/programs/src/weights.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/weights.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_relayer.rs
Due: crypto, pallets, runtime

Fix import name
  crypto/server/src/user/api.rs
Due: crypto

RustFmt
  crypto/server/Cargo.toml
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  runtime/src/weights/mod.rs
Due: crypto, pallets, runtime

fix error message respelling
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
Due: crypto

Fix error message spelling (#452)
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
Due: crypto

Add `rustfmt` and `taplo format` Git pre-commit hooks. (#450)
  .rustfmt.toml
  scripts/git/hooks/pre-commit
Due: none

Clean up `CHANGELOG` (#449)
  CHANGELOG.md
  cliff.toml
  scripts/changelog.sh
Due: none

Provide a local development ("local devnet") configuration as a start.
  Dockerfile
  docker-compose.yaml
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  node/cli/src/command.rs
Due: node

Add a `CHANGELOG` entry
  CHANGELOG.md
Due: none

remove proactive refresh trigger
  pallets/staking/src/lib.rs
Due: pallets

Run `rustfmt` on the code in `node/cli/src/`, no functional changes.
  node/cli/src/benchmarking.rs
  node/cli/src/command.rs
  node/cli/src/main.rs
Due: node

RustFmt
  pallets/transaction-pause/Cargo.toml
Due: pallets

Only print the error hints if the commit is not good to go.
  scripts/git/hooks/pre-commit
Due: none

Provide a local development ("local devnet") configuration as a start. (#446)
  Dockerfile
  docker-compose.yaml
  node/cli/src/admin.rs
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec.rs
  node/cli/src/command.rs
  node/cli/src/main.rs
  scripts/git/hooks/pre-commit
Due: node

add barebones validate endpoint
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
  node/cli/src/chain_spec.rs
  pallets/staking/src/lib.rs
Due: node, crypto, pallets

replace should panic with matches
  crypto/server/src/signing_client/tests.rs
Due: crypto

Update crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/api.rs
Due: crypto

Update CI formatting/linting to use Rust stable, same as builds.
  .circleci/then.yml
Due: none

update to substrate 1.0.0
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
Due: node

Just formatting with `cargo fmt`.
  crypto/kvdb/src/encrypted_sled/kv.rs
  crypto/kvdb/src/encrypted_sled/password.rs
  crypto/kvdb/src/encrypted_sled/record.rs
  crypto/kvdb/src/kv_manager/helpers.rs
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/kvdb/src/kv_manager/sled_bindings.rs
  crypto/kvdb/src/kv_manager/tests.rs
  crypto/kvdb/src/kv_manager/types.rs
  crypto/kvdb/src/kv_manager/value.rs
  crypto/kvdb/src/lib.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_transport/subscribe_message.rs
  crypto/server/src/health/api.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/signing_client/protocol_execution/context.rs
  crypto/server/src/unsafe/api.rs
  crypto/server/src/validation/mod.rs
  crypto/testing-utils/src/node_proc.rs
  crypto/testing-utils/src/substrate_context.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/helpers/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/slashing/src/lib.rs
  pallets/slashing/src/mock.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/mock.rs
  runtime/src/impls.rs
  runtime/src/lib.rs
Due: crypto, pallets, runtime

rename do with activate
  node/cli/src/chain_spec.rs
  pallets/staking/src/lib.rs
Due: node, pallets

Use Rust stable, not a pinned nightly, in CI. (#455)
  .circleci/then.yml
  crypto/kvdb/src/encrypted_sled/kv.rs
  crypto/kvdb/src/encrypted_sled/password.rs
  crypto/kvdb/src/encrypted_sled/record.rs
  crypto/kvdb/src/kv_manager/helpers.rs
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/kvdb/src/kv_manager/sled_bindings.rs
  crypto/kvdb/src/kv_manager/tests.rs
  crypto/kvdb/src/kv_manager/types.rs
  crypto/kvdb/src/kv_manager/value.rs
  crypto/kvdb/src/lib.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_transport/subscribe_message.rs
  crypto/server/src/health/api.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/signing_client/protocol_execution/context.rs
  crypto/server/src/unsafe/api.rs
  crypto/server/src/validation/mod.rs
  crypto/testing-utils/src/node_proc.rs
  crypto/testing-utils/src/substrate_context.rs
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/helpers/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/slashing/src/lib.rs
  pallets/slashing/src/mock.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/mock.rs
  runtime/src/impls.rs
  runtime/src/lib.rs
Due: node, crypto, pallets, runtime

fix tests
  pallets/propagation/src/mock.rs
Due: pallets

fix mocks
  pallets/relayer/src/mock.rs
  pallets/staking/src/mock.rs
Due: pallets
