Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

refactored
  CHANGELOG.md
Due: none

Clean up extra line breaks
  CHANGELOG.md
Due: none

Add #496 to `CHANGELOG` (#501)
  CHANGELOG.md
Due: none

Change package name of nodejs test module
  crypto/protocol/nodejs-test/package.json
Due: crypto

Increase timeout for waiting for register confirmation
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Allow auxilary data for programs to be passed in
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Clippy
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Only evaluate a program if it contains more than 0 bytes
  crypto/server/src/user/api.rs
Due: crypto

Use branch of x25519 repo with fix for newer sp-core versions
  Cargo.lock
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

add link to local network docs
  README.md
Due: none

Remove `log` crate dependency
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/user/api.rs
Due: crypto

Remove `env_logger` from tests
  Cargo.lock
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/node_proc.rs
  crypto/testing-utils/src/substrate_context.rs
Due: crypto

Replace `println!` in server with `tracing::info!`
  crypto/server/src/helpers/launch.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  crypto/testing-utils/src/node_proc.rs
Due: crypto

First go at initializing global logger in tests
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/substrate_context.rs
Due: crypto

Use `lazy_static` instead of `once_cell`
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/user/tests.rs
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/constants.rs
Due: crypto

Move logger init code out of `testing-utils`
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/constants.rs
Due: crypto

Manually initialize logger in `user` tests
  crypto/server/src/user/tests.rs
Due: crypto

Initialize logger in the rest of the tests
  crypto/server/src/health/tests.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/validator/tests.rs
Due: crypto

By default filter out logs that aren't `ERROR` level
  crypto/server/src/helpers/tests.rs
Due: crypto

Update README.md
  README.md
Due: none

Add link to local network docs (#503)
  README.md
Due: none

Initialize logger before cleaning `kvdb`
  crypto/server/src/user/tests.rs
Due: crypto

Add missing logger initilization
  crypto/server/src/validator/tests.rs
Due: crypto

Rename argument to `open_ws_connection` fn
  crypto/protocol/src/protocol_transport/mod.rs
Due: crypto

Update doc comments following review
  crypto/protocol/src/protocol_transport/mod.rs
Due: crypto

Spawn functions in tests should not return Option
  crypto/server/src/user/tests.rs
Due: crypto

Variable name, comments following review
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/protocol_transport/mod.rs
Due: crypto

Wasm bindings for user to participate in DKG and signing protocols (#414)
  .circleci/then.yml
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/protocol/Makefile
  crypto/protocol/nodejs-test/index.js
  crypto/protocol/nodejs-test/package.json
  crypto/protocol/nodejs-test/yarn.lock
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/user/mod.rs
  crypto/protocol/src/user/wasm.rs
  crypto/server/Cargo.toml
  crypto/server/src/user/tests.rs
Due: crypto

Replace `env_logger` with `tracing` in tests (#505)
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/health/tests.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/constants.rs
  crypto/testing-utils/src/node_proc.rs
  crypto/testing-utils/src/substrate_context.rs
Due: crypto

Instrument unsafe endpoints
  crypto/server/src/unsafe/api.rs
Due: crypto

Wrap all HTTP request/response spans with more info
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/main.rs
Due: crypto

Change a KVDB event to `trace`
  crypto/server/src/unsafe/api.rs
Due: crypto

Instrument health check
  crypto/server/src/health/api.rs
Due: crypto

finished partitioning algorithim
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

refactor
  crypto/server/src/signing_client/api.rs
Due: crypto

partition proactive refresh
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/signing_client/api.rs
  crypto/shared/src/lib.rs
  pallets/staking/src/lib.rs
Due: crypto, pallets

document
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/signing_client/api.rs
  crypto/shared/src/lib.rs
  pallets/staking/src/lib.rs
Due: crypto, pallets

fmt
  crypto/shared/src/lib.rs
  pallets/staking/src/lib.rs
Due: crypto, pallets

add logger to test
  crypto/server/src/signing_client/tests.rs
Due: crypto
