Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

Prepare all that's possible for Rocket servers where we can wait for completion
  crypto/server/src/signing_client/tests.rs
Due: crypto

testing
  Cargo.lock
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  runtime/src/lib.rs
Due: pallets

testing
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  runtime/src/lib.rs
Due: pallets

PR #201 key association logic; to be reverted
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/rpc.rs
Due: pallets

Revert "PR #201 key association logic; to be reverted"
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/rpc.rs
Due: pallets

added types and comments for readability and clarity in staking-extension
  pallets/staking/src/lib.rs
Due: pallets

subxt points to temp branch with updated deps
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/chain_api.rs
  crypto/server/src/communication_manager/deprecating_sign.rs
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/node_proc.rs
  node/cli/src/service.rs
  node/rpc/Cargo.toml
  node/rpc/src/lib.rs
  runtime/Cargo.toml
  subxttest/src/main.rs
Due: node, crypto

refactored server sp_core stuff to use subxt::ext::sp_core
  crypto/centralized-keygen/src/lib.rs
  crypto/server/Cargo.toml
  crypto/server/src/chain_api.rs
  crypto/server/src/communication_manager/deprecating_sign.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/message.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/user/unsafe_api.rs
  crypto/testing-utils/src/context.rs
  crypto/testing-utils/src/node_proc.rs
  subxttest/Cargo.toml
  subxttest/src/main.rs
Due: crypto

updated server to use subxt 0.24.0 (from 0.20.0)
  crypto/server/src/chain_api.rs
  crypto/server/src/communication_manager/deprecating_sign.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/user/unsafe_api.rs
  crypto/testing-utils/src/context.rs
  crypto/testing-utils/src/node_proc.rs
Due: crypto

Switch to a typed signature being returned from `tofn`
  Cargo.lock
  crypto/centralized-keygen/src/lib.rs
  crypto/server/src/signing_client/new_party/mod.rs
Due: crypto

ip address discovery on signing
  crypto/substrate-common/src/types.rs
  pallets/propagation/src/lib.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

update server
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/tests.rs
  crypto/substrate-common/src/types.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

propogation tests
  Cargo.lock
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
Due: pallets

fmt
  pallets/relayer/src/lib.rs
Due: pallets

fmt
  crypto/server/src/sign_init.rs
Due: crypto

remove block author
  crypto/server/src/communication_manager/tests.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

ip address discovery on signing (#210)
  Cargo.lock
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/tests.rs
  crypto/substrate-common/src/types.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

triggering!!!!
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  runtime/src/lib.rs
Due: pallets

add signature return
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/utils.rs
Due: crypto

fmt
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/utils.rs
Due: crypto

unsafe api endpoints
  crypto/server/src/main.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/user/unsafe_api.rs
Due: crypto

add start-public-dev.sh
  crypto/server/src/user/api.rs
  scripts/start-public-dev.sh
Due: crypto

fix formatting
  crypto/server/src/user/api.rs
Due: crypto

tests
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/utils.rs
Due: crypto

unsafe api endpoints (#209)
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/user/unsafe_api.rs
  scripts/start-public-dev.sh
Due: crypto

add signature return (#212)
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/utils.rs
Due: crypto

BROKEN: updated substrate to polkadot-v0.9.30 and jakehemmerle subxt
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  node/rpc/Cargo.toml
  pallets/constraints/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  subxttest/Cargo.toml
Due: node, crypto, pallets

update Event and Call to RuntimeEvent and RuntimeCall
  pallets/constraints/src/lib.rs
  pallets/propagation/src/lib.rs
  pallets/relayer/src/lib.rs
  pallets/slashing/src/lib.rs
  pallets/slashing/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

fix pallet-free-tx weights
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/weights.rs
Due: pallets

fix pallet-transaction-pause weights
  pallets/transaction-pause/src/benchmarking.rs
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/weights.rs
Due: pallets

fix pallet-staking-extension weights
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/weights.rs
Due: pallets

updated mock runtimes and tests
  pallets/constraints/src/mock.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/weights.rs
  pallets/slashing/src/mock.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/transaction-pause/src/mock.rs
  runtime/src/lib.rs
Due: pallets

upgraded pallet-free-tx to substrate-polkadot 0.9.30
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
Due: pallets

pallets are all updated
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/tests.rs
  pallets/constraints/src/weights.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/slashing/src/mock.rs
  pallets/slashing/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

entropy-runtime tests pass with runtime-benchmarks
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/impls.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_constraints.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_transaction_pause.rs
Due: none

name clash fix
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
