Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Update pallets/relayer/src/lib.rs
  pallets/relayer/src/lib.rs
Due: pallets

Add ref counter to programs (#585)
  CHANGELOG.md
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/user/tests.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
  scripts/single_benchmark.sh
Due: pallets, runtime

Change Program `Config` alias (#586)
  crates/threshold-signature-server/src/user/api.rs
Due: none

fix chainspec ignore threshold_servers
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  pallets/staking/src/lib.rs
Due: node, pallets

fmt
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  pallets/staking/src/lib.rs
Due: node, pallets

Add comments around seed phrases used in chain_spec
  node/cli/src/chain_spec.rs
Due: node

Add a typedef for the threshold_servers genesis config
  pallets/staking/src/lib.rs
Due: pallets

Update tests to use tuple instead of structs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/mock.rs
  pallets/staking/src/mock.rs
Due: pallets

Bump lockfile
  Cargo.lock
Due: none

Add a couple more comments around seeds
  node/cli/src/chain_spec.rs
Due: node

Serialize `threshold_server` field into chain spec (#587)
  Cargo.lock
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/mock.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: node, pallets

add setup flag
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
Due: none

clean
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

changelog
  CHANGELOG.md
Due: none

remove print ln formatter
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

clean
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
Due: none

Trim password when read in from file
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Bump `rpassword` to `v7.3.1`
  Cargo.lock
  crates/kvdb/Cargo.toml
Due: none

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

Fix typo
  CHANGELOG.md
Due: none

Update crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Add `--version` flag and `about` field to TSS
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Fix formatting in some old `CHANGELOG` entries
  CHANGELOG.md
Due: none

make output json
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Add `--setup-only` flag (#588)
  CHANGELOG.md
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
Due: none

Fix inconsistency between interactive and file based passwords (#589)
  CHANGELOG.md
  Cargo.lock
  crates/kvdb/Cargo.toml
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Fix test CLI for additive program pointers and update / refactor tests
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/sign.rs
Due: none

Update wasm integration test
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

WIP: make it possible to store a program and register/update in a single command
  crates/test-cli/src/main.rs
Due: none

add program config storage
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
Due: pallets

update relayer
  pallets/relayer/src/lib.rs
Due: pallets

Add `--version` flag and `about` field to TSS (#590)
  CHANGELOG.md
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Move some chain spec accounts to constants
  Cargo.lock
  crates/shared/Cargo.toml
  crates/shared/src/lib.rs
  crates/testing-utils/src/constants.rs
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
Due: node

Create new `chain_spec` module
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Fill out `dev` module
  node/cli/src/admin.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/mod.rs
Due: node

Add WIP `load_spec` changes
  node/cli/src/command.rs
Due: node

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
