Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature (path-filtering)
# https://circleci.com/docs/dynamic-config
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # always-run is always triggered (yikes), regardless of the pipeline parameters.
  always-run: 
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
            # do rest after validation
            # crypto/centralized-keygen/.* centralized-keygen-change true
            # crypto/.* signing-client-change true
          mapping: |
            node/.* node true
            crypto/.* crypto true
            pallets/.* pallets true
          base-revision: master
          # path to trigger once filtering/value updates finish 
          config-path: .circleci/then.yml

release added back
  .circleci/then.yml
  node/tmp.txt
Due: node

release removed
  .circleci/then.yml
  node/tmp.txt
Due: node

revert nextest
  .circleci/then.yml
  node/tmp.txt
Due: node

final
  .circleci/then.yml
  node/tmp.txt
Due: node

try w/out release per jesse's sugg
  .circleci/then.yml
  crypto/testing-utils/src/context.rs
  node/tmp.txt
Due: node, crypto

testing robustness
  crypto/testing-utils/src/context.rs
  node/tmp.txt
Due: node, crypto

fmt
  crypto/testing-utils/src/context.rs
Due: crypto

rm-tmp
  .circleci/then.yml
  node/tmp.txt
Due: node

rmv debug in testing-utils
  crypto/testing-utils/src/context.rs
Due: crypto

CI speedups (#171)
  .circleci/then.yml
Due: none

default 0 free calls
  pallets/free-tx/src/lib.rs
Due: pallets

updated benchmarks
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/weights.rs
  runtime/src/weights/pallet_free_tx.rs
Due: pallets

removed commented out code
  runtime/src/lib.rs
Due: none

refactored tests
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
Due: pallets

clippy
  pallets/free-tx/src/lib.rs
Due: pallets

Added basic `pallet-free-tx` and tests (#165)
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  node/cli/src/service.rs
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
  pallets/relayer/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_free_tx.rs
Due: node, pallets

README
  crypto/README.md
Due: crypto

implement tofn wrapper
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
  crypto/server/src/signing_client/subscribe/broadcaster.rs
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

fmt all
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
  crypto/server/src/signing_client/subscribe/broadcaster.rs
Due: crypto

fmt node
  node/cli/src/chain_spec.rs
  node/cli/src/service.rs
Due: node

fmt isolated
  .circleci/then.yml
Due: none

bug
  .circleci/then.yml
Due: none

clippy lints
  pallets/free-tx/src/lib.rs
Due: pallets

fmt
  pallets/free-tx/src/lib.rs
Due: pallets

fmt node (#173)
  .circleci/then.yml
  node/cli/src/chain_spec.rs
  node/cli/src/service.rs
  pallets/free-tx/src/lib.rs
Due: node, pallets

reamde typo, rename committee -> partition
  crypto/README.md
Due: crypto

typos in readme
  crypto/README.md
Due: crypto

deprecate partition leader
  crypto/README.md
Due: crypto

merge master
  .circleci/then.yml
  node/cli/src/chain_spec.rs
  node/cli/src/service.rs
  pallets/free-tx/src/lib.rs
Due: node, pallets

Crypto: Finalize protocol api (#172)
  crypto/README.md
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
  crypto/server/src/signing_client/subscribe/broadcaster.rs
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

Default struct field alignment
  .rustfmt.toml
  crypto/kvdb/src/encrypted_sled/kv.rs
  crypto/kvdb/src/encrypted_sled/record.rs
  crypto/kvdb/src/kv_manager/types.rs
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/user/mod.rs
  crypto/substrate-common/src/types.rs
  crypto/testing-utils/src/context.rs
  crypto/testing-utils/src/node_proc.rs
  node/cli/src/chain_spec.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  node/rpc/src/lib.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  pallets/slashing/src/lib.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/lib.rs
Due: node, crypto, pallets

Make taplo happy
  .rustfmt.toml
Due: none

Squashed sig-integration
  0
  1
  Cargo.lock
  Rocket.toml
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/Cargo.toml
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/substrate-common/src/types.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
  scripts/server.sh
Due: crypto, pallets

change sig request type
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/substrate-common/src/types.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/tests.rs
  scripts/server.sh
Due: crypto, pallets

feat: free tx per era
  Cargo.lock
  node/cli/src/chain_spec.rs
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  runtime/src/lib.rs
Due: node, pallets
