Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

New session rust test (#630)
  pallets/staking/src/tests.rs
Due: pallets

update metadata
  crates/threshold-signature-server/entropy_metadata.scale
Due: none

renameProgramInfo.config_interface to interface_description
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

fix test
  pallets/propagation/src/tests.rs
Due: pallets

Update crates/test-cli/src/main.rs
  crates/test-cli/src/main.rs
Due: none

extra name changes
  crates/test-cli/src/main.rs
Due: none

Simplify Staking Extension session handler test
  pallets/staking/src/tests.rs
Due: pallets

Apply suggestions from code review
  crates/shared/src/types.rs
Due: none

checkpoint
  crates/chain-api/src/lib.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

generalize send tx function
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

store program
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
Due: none

more
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
Due: none

Simplify Staking Extension session handler test (#634)
  pallets/staking/src/tests.rs
Due: pallets

clean
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

fmt
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

add get call
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Remove Python session handler test
  pallets/staking/test.py
Due: pallets

add block hash option
  crates/threshold-signature-server/src/helpers/substrate.rs
Due: none

Remove Python session handler test (#637)
  pallets/staking/test.py
Due: pallets

Add proactive refresh keys on-chain (#629)
  CHANGELOG.md
  crates/shared/src/types.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/mock.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: node, pallets

substrate file
  crates/threshold-signature-server/src/helpers/substrate.rs
Due: none

helpers test
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

user helpers
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
Due: none

user api
  crates/threshold-signature-server/src/user/api.rs
Due: none

user tests
  crates/threshold-signature-server/src/user/tests.rs
Due: none

validator tests
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

test client
  crates/testing-utils/src/test_client/mod.rs
Due: none

fmt
  crates/testing-utils/src/test_client/mod.rs
Due: none

docs
  crates/threshold-signature-server/src/helpers/substrate.rs
Due: none

fix wasm test
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

add mortality to tx
  crates/shared/src/lib.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
Due: none

update changelog
  CHANGELOG.md
Due: none

updated metadata
  crates/threshold-signature-server/entropy_metadata.scale
Due: none

Update crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
Due: none

remove lifetime annotations
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

rename to query_chain
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

fox wasm tests
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none
