Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Changelog
  CHANGELOG.md
Due: none

Comments
  node/cli/src/command.rs
Due: node

Use From not Into
  crates/test-cli/src/lib.rs
Due: none

logging
  pallets/propagation/src/lib.rs
  pallets/staking/src/lib.rs
  runtime/src/lib.rs
Due: pallets, runtime

WIP move PCK cert chain verification to attestation pallet
  Cargo.lock
  crates/shared/src/types.rs
  pallets/attestation/Cargo.toml
  pallets/attestation/src/lib.rs
  pallets/attestation/src/pck/Intel_SGX_Provisioning_Certification_RootCA.cer
  pallets/attestation/src/pck/mock.rs
  pallets/attestation/src/pck/mod.rs
  pallets/attestation/src/pck/production.rs
  pallets/attestation/test_pck_certs/pck_cert.der
  pallets/attestation/test_pck_certs/platform_pcs_cert.der
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
Due: pallets

Fix reshare timing issue
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Test CLI command to retrieve quote and change endpoint / TSS account in one command (#1198)
  CHANGELOG.md
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/client/src/tests.rs
  crates/shared/src/types.rs
  crates/test-cli/src/lib.rs
Due: none

Improve naming following review
  node/cli/src/chain_spec/tdx_testnet.rs
  node/cli/src/command.rs
Due: node

Add TDX test network chainspec (#1204)
  CHANGELOG.md
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/tdx_testnet.rs
  node/cli/src/command.rs
Due: node

fix test
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Switch things around for PCK cert chain verification happenning as part of quote verification
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/attestation/api.rs
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/attestation/src/lib.rs
  pallets/attestation/src/mock.rs
  pallets/attestation/src/pck/Intel_SGX_Provisioning_Certification_RootCA.cer
  pallets/attestation/src/pck/mock.rs
  pallets/attestation/src/pck/mod.rs
  pallets/attestation/src/pck/production.rs
  pallets/attestation/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: node, pallets, runtime

Fix error handling in entropy-tss
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
Due: none

Use git version of tdx-quote
  crates/client/Cargo.toml
  crates/testing-utils/Cargo.toml
Due: none

Use git version of tdx-quote
  Cargo.lock
  pallets/staking/Cargo.toml
Due: pallets

add a rotate keyshare check
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Add extrinsic to report unstable peer
  Cargo.lock
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
Due: pallets

Handle errors properly
  pallets/staking/src/lib.rs
Due: pallets

Add a couple of reporting tests
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

RustFmt
  pallets/staking/src/tests.rs
Due: pallets

Update node/cli/Cargo.toml
  node/cli/Cargo.toml
Due: node

Fix staking pallet cargo.toml
  Cargo.lock
  pallets/staking/Cargo.toml
Due: pallets

Taplo
  crates/client/Cargo.toml
  crates/testing-utils/Cargo.toml
Due: none

Update tdx-quote, rm unwraps
  Cargo.lock
  pallets/attestation/src/lib.rs
Due: pallets

Improve error handling in attestation pallet
  pallets/attestation/src/lib.rs
Due: pallets

Bump tdx-quote again following improvement of error type
  Cargo.lock
  pallets/staking/src/lib.rs
Due: pallets

Update tdx-quote following pck_verify takes reference
  Cargo.lock
Due: none

Revert cargo.lock, fix ensure! macro call
  Cargo.lock
  pallets/attestation/src/lib.rs
Due: pallets

Add keys to appstate
  crates/threshold-signature-server/src/lib.rs
Due: none

Fix staking pallet config in other pallets mock files
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
Due: pallets

Rm persisted TSS keys
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/main.rs
Due: none

Update metadata
  crates/client/entropy_metadata.scale
  crates/client/src/client.rs
  crates/client/src/tests.rs
Due: none

Fix client test
  crates/client/src/tests.rs
Due: none

Tidy following app state change
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/main.rs
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Bump metadata
  crates/client/entropy_metadata.scale
Due: none

add an extra reshare
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Update test-cli
  crates/test-cli/src/lib.rs
Due: none

Fixes for tests and test helpers
  crates/testing-utils/src/lib.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Fixes for tests
  crates/threshold-signature-server/src/attestation/tests.rs
Due: none

Revert commented out import
  crates/testing-utils/src/lib.rs
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
