Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

RustFmt
  pallets/staking/src/lib.rs
Due: pallets

Get `entropy-client` test for `change_endpoint` working
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/client.rs
  crates/client/src/tests.rs
  pallets/staking/src/lib.rs
Due: pallets

Get `change_threshold_account` test compiling
  crates/client/src/tests.rs
  crates/testing-utils/src/lib.rs
Due: none

Add way to `request_attestation` from client
  crates/client/src/client.rs
  crates/client/src/tests.rs
Due: none

Almost have `change_threshold_account` test working
  crates/client/src/client.rs
  crates/client/src/tests.rs
  pallets/attestation/src/lib.rs
Due: pallets

TaploFmt
  crates/client/Cargo.toml
Due: none

Be a bit more descriptive with the TSS public key variable
  crates/client/src/tests.rs
Due: none

Error handling
  crates/protocol/src/execute_protocol.rs
Due: none

Error handling
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
Due: none

Tidy
  crates/protocol/src/execute_protocol.rs
Due: none

Also concurrently process outgoing messages
  crates/protocol/src/execute_protocol.rs
Due: none

Only send outgoing messages if there are messages to send
  crates/protocol/src/execute_protocol.rs
Due: none

Dont use more than 16 worker threads
  crates/protocol/tests/protocol.rs
Due: none

Make `update_threshold_account()` use updated PCK
  crates/client/entropy_metadata.scale
  crates/client/src/client.rs
  crates/client/src/tests.rs
  pallets/attestation/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

Clean up `change_threshold_account()` test
  crates/client/src/client.rs
  crates/client/src/tests.rs
  crates/threshold-signature-server/src/helpers/validator.rs
Due: none

Clean up the `request_attestation` client method a bit
  crates/client/src/client.rs
  crates/client/src/tests.rs
  pallets/attestation/src/lib.rs
Due: pallets

Get `entropy-test-cli` compiling again
  crates/test-cli/src/lib.rs
Due: none

Remove unnecessary `.clone()`
  pallets/staking/src/lib.rs
Due: pallets

blocks
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/command.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: node, runtime

update tests
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/src/service.rs
Due: node

add unsafe force node key generation
  crates/testing-utils/src/node_proc.rs
Due: none

remove mixnet and statment store
  Cargo.lock
  crates/testing-utils/src/node_proc.rs
  node/cli/Cargo.toml
  node/cli/src/cli.rs
  node/cli/src/command.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: node, runtime

clean
  crates/client/src/tests.rs
  crates/testing-utils/src/node_proc.rs
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  pallets/attestation/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/slashing/src/mock.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  runtime/src/lib.rs
  scripts/update-substrate.sh
Due: node, pallets, runtime

clean
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  node/cli/src/chain_spec/mod.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  runtime/src/impls.rs
  runtime/src/lib.rs
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

Use join handle for outgoing messages
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
Due: none

Add version number to subscribe message and check it
  crates/protocol/src/lib.rs
  crates/protocol/src/protocol_transport/errors.rs
  crates/protocol/src/protocol_transport/subscribe_message.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
Due: none

Doccomments
  crates/protocol/src/lib.rs
Due: none

Comments
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
Due: none

Changelog
  CHANGELOG.md
Due: none

clean
  crates/client/src/tests.rs
  runtime/src/impls.rs
Due: runtime

fmt
  node/cli/src/service.rs
  runtime/src/lib.rs
Due: node, runtime

Concurrently process messages in protocol execution loop (#1136)
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
  crates/protocol/tests/protocol.rs
Due: none

Update `test-cli` for new extrinsic arguments
  crates/test-cli/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

Get staking tests working again
  pallets/staking/src/tests.rs
Due: pallets

Get Staking benchmarks compiling
  pallets/staking/src/benchmarking.rs
Due: pallets

Get `change_endpoint` benchmark working
  pallets/staking/src/benchmarking.rs
Due: pallets

Get `change_threshold_accounts` benchmark working
  pallets/staking/src/benchmarking.rs
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
