Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Get rid of `new_user` endpoint
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

Fix user registration test compilation
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Inline DKG helper function
  crates/threshold-signature-server/src/user/api.rs
Due: none

Remove `on_chain` flag from test CLI
  crates/client/src/tests.rs
  crates/test-cli/src/lib.rs
Due: none

Get rid of `register` benchmarks
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

Delete old code in `Registry` pallet
  pallets/registry/src/lib.rs
Due: pallets

Remove "on_chain" suffix from registration related names
  crates/client/entropy_metadata.scale
  crates/client/src/client.rs
  crates/client/src/substrate.rs
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/src/chain_spec/dev.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: node, pallets, runtime

Move register extrinsic after jump start extrinsics
  pallets/registry/src/lib.rs
Due: pallets

Remove split when getting signers from chain
  crates/client/src/client.rs
  crates/client/src/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Bump metadata
  crates/client/entropy_metadata.scale
Due: none

RustFmt
  crates/client/src/substrate.rs
  pallets/registry/src/tests.rs
Due: pallets

Get rid of old registration benchmark
  pallets/registry/src/benchmarking.rs
Due: pallets

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

Update breaking changes notes in `CHANGELOG`
  CHANGELOG.md
Due: none

No unbonding when signer or next signer
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  runtime/src/lib.rs
Due: pallets, runtime

Fix `test_signing_fails_if_wrong_participants_are_used` test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

test for chill and unbond
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Add daves constants
  crates/testing-utils/src/constants.rs
Due: none

Fix initial chain state for mock reshare
  node/cli/src/chain_spec/integration_tests.rs
  pallets/staking/src/lib.rs
Due: node, pallets

Fix reshare test
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Specify chainspec type when spawning TSS nodes
  crates/testing-utils/src/lib.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Rm debug logging
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Typo
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Fix proactive reshare test
  crates/threshold-signature-server/src/signing_client/tests.rs
Due: none

fix bench
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Remove irrelevant test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Remove outdated docs
  crates/threshold-signature-server/src/lib.rs
Due: none

Remove old registration flow (#1030)
  CHANGELOG.md
  crates/client/entropy_metadata.scale
  crates/client/src/client.rs
  crates/client/src/substrate.rs
  crates/client/src/tests.rs
  crates/client/src/user.rs
  crates/test-cli/src/lib.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/service.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: node, pallets, runtime

add unbond and chill benches
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

update benchmarks
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

change when old network key is deleted
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Apply suggestions from code review
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Rm comment
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Add test helper fn
  crates/testing-utils/src/helpers.rs
  crates/testing-utils/src/lib.rs
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Add accepted MRTD values parameter to parameters pallet
  pallets/parameters/Cargo.toml
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
Due: pallets

Use parameter from parameters pallet
  pallets/attestation/Cargo.toml
  pallets/attestation/src/lib.rs
Due: pallets

Rm constant from entropy-shared
  crates/shared/src/constants.rs
Due: none

Add accepted MRTD values parameters to chainspec
  Cargo.lock
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Clippy
  pallets/parameters/src/lib.rs
Due: pallets

Use vec from sp_std
  pallets/parameters/src/lib.rs
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
