Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature (path-filtering)
# https://circleci.com/docs/dynamic-config
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # always-run is always triggered (yikes), regardless of the pipeline parameters.
  always-run: 
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
            # do rest after validation
            # crypto/centralized-keygen/.* centralized-keygen-change true
            # crypto/.* signing-client-change true
          mapping: |
            node/.* node true
            crypto/.* crypto true
            pallets/.* pallets true
          base-revision: master
          # path to trigger once filtering/value updates finish 
          config-path: .circleci/then.yml

change 'free call' to 'token'
  pallets/free-tx/src/lib.rs
Due: pallets

tests working
  crypto/kvdb/src/lib.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  node/cli/src/chain_spec.rs
Due: node, crypto

fmt
  crypto/kvdb/src/lib.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/substrate-common/src/lib.rs
  node/cli/src/chain_spec.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  runtime/src/lib.rs
Due: node, crypto, pallets

fix benchmarks
  pallets/relayer/src/benchmarking.rs
Due: pallets

taplo
  runtime/Cargo.toml
Due: none

lint
  crypto/server/src/user/api.rs
Due: crypto

added new unit tests
  .vscode/launch.json
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
  runtime/src/weights/pallet_free_tx.rs
  sic-1.3/LICENSE
  sic-1.3/Makefile
  sic-1.3/README
  sic-1.3/arg.h
  sic-1.3/config.def.h
  sic-1.3/sic.1
  sic-1.3/sic.c
  sic-1.3/strlcpy.c
  sic-1.3/util.c
Due: pallets

went all in on the electrical references; renaming for clarity
  node/cli/src/service.rs
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_free_tx.rs
Due: node, pallets

cleanup
  pallets/free-tx/src/lib.rs
  sic-1.3/LICENSE
  sic-1.3/Makefile
  sic-1.3/README
  sic-1.3/arg.h
  sic-1.3/config.def.h
  sic-1.3/sic.1
  sic-1.3/sic.c
  sic-1.3/strlcpy.c
  sic-1.3/util.c
Due: pallets

add confirm done check (#192)
  Cargo.lock
  crypto/kvdb/src/lib.rs
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/substrate-common/src/lib.rs
  node/cli/src/chain_spec.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: node, crypto, pallets

x25519-ChaCha20Poly1305 for SignedMessage
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/main.rs
  crypto/server/src/message.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/user/unsafe_api.rs
  crypto/server/src/utils.rs
  node/cli/src/chain_spec.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  scripts/fmt.sh
Due: node, crypto, pallets

formatting
  crypto/server/src/user/tests.rs
Due: crypto

fix tests
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/tests.rs
  node/cli/src/chain_spec.rs
  pallets/relayer/src/mock.rs
Due: node, crypto, pallets

fix benchmarks
  crypto/server/src/main.rs
  pallets/staking/src/benchmarking.rs
Due: crypto, pallets

format
  pallets/staking/src/benchmarking.rs
Due: pallets

Add inline docs
  crypto/server/src/main.rs
  crypto/server/src/message.rs
Due: crypto

fix nits
  crypto/server/src/message.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/unsafe_api.rs
  node/cli/src/chain_spec.rs
Due: node, crypto

comments
  crypto/server/src/message.rs
  crypto/server/src/user/api.rs
  node/cli/src/chain_spec.rs
  pallets/staking/src/lib.rs
Due: node, crypto, pallets

renamed SignedExtension
  node/cli/src/service.rs
  pallets/free-tx/src/lib.rs
  runtime/src/lib.rs
Due: node, pallets

renamed 'coulombs' to 'cells'
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
Due: pallets

Adds `SignedMessage` type for threshold key shares (#191)
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/server/src/main.rs
  crypto/server/src/message.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/user/unsafe_api.rs
  crypto/server/src/utils.rs
  node/cli/src/chain_spec.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  scripts/fmt.sh
Due: node, crypto, pallets

change assert_err to assert_noop where appropreate
  pallets/free-tx/src/tests.rs
Due: pallets

add session handler to staking pallet
  pallets/staking/src/lib.rs
Due: pallets

handle unwrap() functions
  pallets/free-tx/src/lib.rs
Due: pallets

changed mutate to try_mutate for noop protection
  pallets/free-tx/src/lib.rs
Due: pallets

fmt
  pallets/free-tx/src/lib.rs
Due: pallets

address comments on PR
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

Free TX logic/tests (#194)
  .vscode/launch.json
  node/cli/src/service.rs
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
  pallets/staking/src/lib.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_free_tx.rs
Due: node, pallets

Squashed sig-integration
  0
  1
  Cargo.lock
  Rocket.toml
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/Cargo.toml
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/substrate-common/src/types.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
  scripts/server.sh
Due: crypto, pallets

Use a crate to parse SSE
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

Clippy fix
  pallets/constraints/src/lib.rs
Due: pallets

Implement RFCs
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/signing_client/tests.rs
  test_data/key_shares/0
  test_data/key_shares/1
  test_data/key_shares/README.md
Due: crypto

Prepare all that's possible for Rocket servers where we can wait for completion
  crypto/server/src/signing_client/tests.rs
Due: crypto
