Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

move reservation down to be more atomic
  crypto/server/src/user/api.rs
Due: crypto

fmt
  crypto/server/src/user/api.rs
Due: crypto

devnet tweeks
  crypto/server/Cargo.toml
  crypto/server/src/user/api.rs
  crypto/server/src/utils.rs
  node/cli/src/chain_spec.rs
  scripts/server_bob.sh
Due: node, crypto

getter issues
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/utils.rs
  node/cli/src/chain_spec.rs
Due: node, crypto

remove communication_manager, fix tests, format
  crypto/server/Cargo.toml
  crypto/server/src/communication_manager/api.rs
  crypto/server/src/communication_manager/deprecating_sign.rs
  crypto/server/src/communication_manager/errors.rs
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/mocks/local-share1.json
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/communication_manager/request_guards.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/utils.rs
Due: crypto

Create a recoverable signature
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/utils.rs
  test_data/key_shares/0
  test_data/key_shares/1
Due: crypto

added recover byte to signature
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/utils.rs
Due: crypto

handled client rpc and service...?
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  node/cli/src/cli.rs
  node/cli/src/command.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  node/rpc/src/lib.rs
Due: node

entropy compiles and tests
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/benchmarking.rs
  node/cli/src/cli.rs
  node/cli/src/command.rs
  node/cli/src/lib.rs
  node/cli/src/service.rs
Due: node

additional refactoring
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/bin/main.rs
  node/cli/build.rs
  node/cli/src/cli.rs
  node/cli/src/command.rs
  node/cli/src/main.rs
Due: node

added entropy-executor
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/service.rs
  node/executor/Cargo.toml
  node/executor/benches/bench.rs
  node/executor/src/lib.rs
  node/executor/tests/basic.rs
  node/executor/tests/common.rs
  node/executor/tests/fees.rs
  node/executor/tests/submit_transaction.rs
  node/rpc/Cargo.toml
Due: node

entropy tests pass with runtime-benchmarks
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/bin/main.rs
  node/cli/build.rs
  node/cli/src/chain_spec.rs
  node/cli/src/cli.rs
  node/cli/src/command.rs
  node/cli/src/lib.rs
  node/cli/src/main.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  node/executor/Cargo.toml
  node/executor/benches/bench.rs
  node/executor/src/lib.rs
  node/executor/tests/basic.rs
  node/executor/tests/common.rs
  node/executor/tests/fees.rs
  node/executor/tests/submit_transaction.rs
  node/rpc/Cargo.toml
  node/rpc/src/lib.rs
  runtime/src/lib.rs
Due: node

fmt
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/utils.rs
Due: crypto

taplo
  crypto/server/Cargo.toml
Due: crypto

clippy
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/kvdb/src/kv_manager/sled_bindings.rs
Due: crypto

atomic reservation handling
  crypto/server/src/user/api.rs
Due: crypto

clippy
  crypto/server/src/main.rs
  crypto/server/src/message.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/user/errors.rs
  crypto/testing-utils/src/node_proc.rs
  node/cli/src/chain_spec.rs
Due: node, crypto

fixed testing-utils
  crypto/testing-utils/src/chain_api.rs
  crypto/testing-utils/src/context.rs
  crypto/testing-utils/src/lib.rs
  crypto/testing-utils/src/node_proc.rs
Due: crypto

thanks jesse, fixed server, everything works
  crypto/centralized-keygen/src/lib.rs
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/api.rs
  subxttest/src/main.rs
Due: crypto

clippy pt 1
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/chain_api.rs
  crypto/testing-utils/src/context.rs
  pallets/constraints/src/weights.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
  pallets/relayer/src/weights.rs
  pallets/staking/src/weights.rs
  pallets/transaction-pause/src/weights.rs
Due: crypto, pallets

clippy pt 2
  crypto/server/src/user/api.rs
  node/cli/src/benchmarking.rs
  node/cli/src/cli.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_constraints.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_transaction_pause.rs
Due: node, crypto

fixing tests
  crypto/server/src/user/tests.rs
Due: crypto

reenable extensions
  node/cli/src/chain_spec.rs
Due: node

Devnet (#214)
  Cargo.lock
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/kvdb/src/kv_manager/sled_bindings.rs
  crypto/server/Cargo.toml
  crypto/server/src/communication_manager/api.rs
  crypto/server/src/communication_manager/deprecating_sign.rs
  crypto/server/src/communication_manager/errors.rs
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/mocks/local-share1.json
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/communication_manager/request_guards.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/message.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/utils.rs
  crypto/testing-utils/src/node_proc.rs
  node/cli/src/chain_spec.rs
  scripts/server_bob.sh
Due: node, crypto

hex fix
  crypto/server/src/utils.rs
Due: crypto

tests
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/utils.rs
Due: crypto

hex fix (#215)
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/utils.rs
Due: crypto

fixed a test
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/tests.rs
Due: crypto

updated runtime metadata
  subxttest/src/entropy_metadata.scale
Due: none

add devnet readme
  README.md
Due: none

remove unwraps
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

added babe and grandpa to rpc
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/rpc.rs
Due: node

tests
  crypto/server/src/user/tests.rs
Due: crypto

fmt
  crypto/server/src/user/tests.rs
Due: crypto

tests
  crypto/server/src/message.rs
  crypto/server/src/user/tests.rs
Due: crypto

add test to crypto pipeline
  .circleci/then.yml
Due: none

CI fix
  .circleci/then.yml
Due: none

add more tests for signedmessage
  crypto/server/src/message.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
