Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

refactor
  pallets/relayer/src/lib.rs
Due: pallets

Update pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/benchmarking.rs
Due: pallets

refactor
  crypto/server/src/user/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

refactor
  crypto/server/src/user/api.rs
Due: crypto

update
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
Due: crypto

Add way for validators to resolve diff verifying keys (#460)
  CHANGELOG.md
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
  scripts/fmt.sh
Due: crypto, pallets, runtime

Revert nightly changes to format script
  scripts/fmt.sh
Due: none

Revert nightly changes to format script (#470)
  scripts/fmt.sh
Due: none

Bump `RuntimeVersion` parameters
  runtime/src/lib.rs
Due: runtime

Bump pallet and runtime versions to `v0.0.8`
  Cargo.lock
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/helpers/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, crypto, pallets, runtime

Bump `entropy-protocol` to `v0.1.0`
  Cargo.lock
  crypto/protocol/Cargo.toml
Due: crypto

Update runtime benchmarks
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_transaction_pause.rs
Due: runtime

Bump pallet weights as well
  pallets/free-tx/src/weights.rs
  pallets/programs/src/weights.rs
  pallets/relayer/src/weights.rs
  pallets/staking/src/weights.rs
  pallets/transaction-pause/src/weights.rs
Due: pallets

Bump metadata
  crypto/server/entropy_metadata.scale
Due: crypto

Fix a couple instructions in the `RELEASE_CHECKLIST`
  RELEASE_CHECKLIST.md
Due: none

Update the `CHANGELOG` with missing changes
  CHANGELOG.md
Due: none

add prune registration extrinsic
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  runtime/src/lib.rs
Due: crypto, pallets, runtime

add benchmarks
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
  scripts/benchmarks.sh
Due: pallets, runtime

Specify build platforms for Docker images
  .github/workflows/container-build-and-push.yaml
Due: none

fix benchmark script
  scripts/benchmarks.sh
Due: none

inline docs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

feat: auxiliary data for program evaluation
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/helpers/signing.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/testing-utils/example_barebones_with_extra.wasm
  crypto/testing-utils/src/constants.rs
  crypto/testing-utils/template_barebones.wasm
Due: crypto

fmt
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/constants.rs
Due: crypto

clippy
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
  pallets/propagation/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: crypto, pallets

use constraints commit from master
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

taplo
  crypto/server/Cargo.toml
Due: crypto

chmod docker run
  scripts/docker_run.sh
Due: none

stanard formatting + lil fixes
  README.md
Due: none

add to changelog
  CHANGELOG.md
Due: none

standard formatting + lil fixes (#477)
  README.md
Due: none

removed unnecessary local variables, renaming
  crypto/server/src/user/tests.rs
Due: crypto

Update pallets/relayer/src/lib.rs
  pallets/relayer/src/lib.rs
Due: pallets

fix changelog
  CHANGELOG.md
Due: none

return program deposit
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

remove prune block
  pallets/propagation/src/mock.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

Update CHANGELOG.md
  CHANGELOG.md
Due: none

refactor
  crypto/server/entropy_metadata.scale
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets
