Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Handle program configuration more nicely in the CLI
  crates/test-cli/src/main.rs
Due: none

Integrate program config to tss (#597)
  CHANGELOG.md
  Cargo.lock
  crates/testing-utils/example_barebones_with_auxilary.wasm
  crates/testing-utils/example_custom_hash.wasm
  crates/testing-utils/infinite_loop.wasm
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/user/api.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

finish runtime
  Cargo.lock
  node/cli/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_treasury.rs
Due: node, runtime

Improve display of programs
  crates/test-cli/src/main.rs
Due: none

Remove `registered_accounts` from testnet genesis
  node/cli/src/chain_spec/testnet.rs
Due: node

Change session genesis to use stash instead of controller
  node/cli/src/chain_spec/testnet.rs
Due: node

Fill out `invulnerables` with validator stash accounts
  node/cli/src/chain_spec/testnet.rs
Due: node

Allow number of `threshold_servers` to be configurable
  node/cli/src/chain_spec/testnet.rs
Due: node

add a hashes endpoint
  Cargo.lock
  crates/shared/Cargo.toml
  crates/shared/src/types.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/node_info/mod.rs
  crates/threshold-signature-server/src/node_info/tests.rs
Due: none

changelog
  CHANGELOG.md
  crates/shared/src/types.rs
Due: none

Use `crates.io` packages in `entropy` TOML
  Cargo.lock
  node/cli/Cargo.toml
Due: node

Remove reference to `node_primitives`
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/endowed_accounts.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
Due: node

Move imports under correct dependency section
  node/cli/Cargo.toml
Due: node

Change `WarpSyncParams` import to come from `sc_network_sync`
  node/cli/src/service.rs
Due: node

Add missing `sc-consensus-babe` package
  Cargo.lock
  node/cli/Cargo.toml
Due: node

Remove second generic from `DefaultImportQueue`
  node/cli/src/service.rs
Due: node

Add temporary cursed RPC bounds
  node/cli/src/rpc.rs
Due: node

Switch `sp-consensus-grandpa` to be from Crates
  Cargo.lock
  node/cli/Cargo.toml
Due: node

Add Grandpa justification period to service
  node/cli/src/service.rs
Due: node

Rename `justification_period to` `justification_generation_period`
  node/cli/src/service.rs
Due: node

Add missing `block_relay` param
  node/cli/src/service.rs
Due: node

Try to clean up runtime types
  runtime/src/lib.rs
Due: runtime

Add `opaque` types to runtime
  runtime/src/lib.rs
Due: runtime

Use opaque block type in service
  node/cli/src/rpc.rs
  node/cli/src/service.rs
Due: node

Add full session key impls
  runtime/src/lib.rs
Due: runtime

Remove cursed trait bounds for RPC
  node/cli/src/rpc.rs
Due: node

Convert some tabs to spaces
  node/cli/src/service.rs
Due: node

Import `Vec` from `sp_std` in benchmarks
  pallets/programs/src/benchmarking.rs
  pallets/relayer/src/benchmarking.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
Due: pallets

Pull `TrackedStorageKey` from `sp_storage`
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: runtime

Add `BenchmarkHelper` to treasury pallet
  runtime/src/lib.rs
Due: runtime

TaploFmt
  node/cli/Cargo.toml
  runtime/Cargo.toml
Due: node, runtime

Tidy / comments
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

change max freezes
  runtime/src/lib.rs
Due: runtime

allow multiple transactions to confirm_register
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add a hashes endpoint (#600)
  CHANGELOG.md
  Cargo.lock
  crates/shared/Cargo.toml
  crates/shared/src/types.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/node_info/mod.rs
  crates/threshold-signature-server/src/node_info/tests.rs
Due: none

fix unwrap
  crates/threshold-signature-server/src/user/api.rs
Due: none

Sort TOML imports in runtime manifest
  runtime/Cargo.toml
Due: runtime

Move `version` field to be first in runtime manifest
  runtime/Cargo.toml
Due: runtime

Organize imports in pallet manifests
  pallets/free-tx/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
