Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

fmt
  pallets/relayer/src/tests.rs
Due: pallets

remove duplicated code
  pallets/relayer/Cargo.toml
  pallets/relayer/src/benchmarking.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
Due: pallets

add more explicit expect errors
  crypto/server/src/main.rs
Due: crypto

add more explicit expect errors (#264)
  crypto/server/src/main.rs
Due: crypto

move build instructions to top of readme
  README.md
Due: none

update build command
  README.md
Due: none

replace all references of node-template with entropy
  README.md
Due: none

remove match for ?
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

remove more match statements
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

remove more match statements
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

refactors
  pallets/staking/src/lib.rs
Due: pallets

refactors
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

fmt
  crypto/server/src/main.rs
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
Due: crypto, pallets

metadata
  crypto/server/entropy_metadata.scale
Due: crypto

add function to rotate signing selectors (#263)
  pallets/propagation/src/tests.rs
  pallets/relayer/Cargo.toml
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets

fmt
  pallets/relayer/src/benchmarking.rs
Due: pallets

ACL constraint and constraint/sig-req accounts (#256)
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/utils.rs
  crypto/server/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  crypto/substrate-common/Cargo.toml
  crypto/substrate-common/src/constraints.rs
  crypto/substrate-common/src/lib.rs
  crypto/substrate-common/src/types.rs
  pallets/constraints/Cargo.toml
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/mock.rs
  pallets/constraints/src/tests.rs
  pallets/constraints/src/weights.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/mock.rs
  pallets/relayer/Cargo.toml
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/impls.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_constraints.rs
  runtime/src/weights/pallet_relayer.rs
Due: crypto, pallets

update server bob
  scripts/server_bob.sh
Due: none

Refactor errors (#266)
  crypto/server/entropy_metadata.scale
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
Due: crypto, pallets

devnet scaffolding
  chains/devnet.json
  node/cli/src/chain_spec.rs
  node/cli/src/command.rs
  scripts/build-devnet.sh
Due: node

added scripts for spinning up clean dev env
  scripts/sdk-alice-tss.sh
  scripts/sdk-bob-tss.sh
  scripts/sdk-entropy-node.sh
Due: none

Added scripts for quickly spinning up clean instances for SDK tests (#270)
  scripts/sdk-alice-tss.sh
  scripts/sdk-bob-tss.sh
  scripts/sdk-entropy-node.sh
Due: none

end-to-end encryption between validators
  crypto/server/src/main.rs
  crypto/server/src/message.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

Update README.md
  README.md
Due: none

switch order of build and run in readme
  README.md
Due: none

SafeCryptoError: Add tests for server validation
  crypto/server/.gitignore
  crypto/server/src/message.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/tests.rs
Due: crypto

generate keys 1stpass
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  node/cli/src/endowed_accounts.rs
  node/cli/src/main.rs
Due: node

format-tests
  crypto/server/src/message.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

refactor substrate-common to entropy-shared; fmt; update metadata
  .circleci/then.yml
  .vscode/launch.json
  Cargo.lock
  crypto/README.md
  crypto/constraints/Cargo.toml
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/utils.rs
  crypto/server/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/server/src/main.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  crypto/shared/Cargo.toml
  crypto/shared/README.md
  crypto/shared/src/constraints.rs
  crypto/shared/src/lib.rs
  crypto/shared/src/types.rs
  crypto/substrate-common/README.md
  crypto/substrate-common/src/types.rs
  pallets/constraints/Cargo.toml
  pallets/constraints/src/lib.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/Cargo.toml
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: crypto, pallets

[docs] update readme in core project (#265)
  README.md
Due: none

all keys
  node/cli/src/admin.rs
  scripts/node-keys.sh
Due: node

endowed accounts
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  node/cli/src/endowed_accounts.rs
Due: node

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
