Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Refactor signing client
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/listener.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/protocol_execution/context.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/signing_client/protocol_transport.rs
Due: crypto

Refactor server
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/errors.rs
Due: crypto

Update entropy-protocol api
  crypto/protocol/Cargo.toml
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_transport/broadcaster.rs
  crypto/protocol/src/protocol_transport/errors.rs
  crypto/protocol/src/protocol_transport/message.rs
  crypto/protocol/src/protocol_transport/mod.rs
Due: crypto

Refactor kvdb
  crypto/kvdb/Cargo.toml
  crypto/kvdb/src/kv_manager/mod.rs
  crypto/kvdb/src/kv_manager/value.rs
Due: crypto

Dependencies
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

fix test
  pallets/propagation/src/tests.rs
Due: pallets

Update issue templates
  .github/ISSUE_TEMPLATE/new-issue.md
Due: none

Sign message back to client (#403)
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
Due: crypto, pallets

Update issue templates (#405)
  .github/ISSUE_TEMPLATE/new-issue.md
Due: none

Refactor
  crypto/protocol/Cargo.toml
  crypto/protocol/src/errors.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_transport/errors.rs
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/protocol_transport/noise.rs
  crypto/protocol/src/user.rs
  crypto/protocol/src/validation/mod.rs
Due: crypto

Update server tests
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/listener.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/signing_client/protocol_transport.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

taplo
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
Due: crypto

add a changelog
  CHANGELOG.md
  cliff.toml
  crypto/server/src/validation/mod.rs
  scripts/changelog.sh
Due: crypto

lint
  cliff.toml
Due: none

Update dependencies for compiling for wasm
  crypto/protocol/Cargo.toml
Due: crypto

Rm entropy-constraints as dependency
  crypto/protocol/Cargo.toml
Due: crypto

Taplo
  crypto/protocol/Cargo.toml
Due: crypto

add a changelog (#407)
  CHANGELOG.md
  cliff.toml
  crypto/server/src/validation/mod.rs
  scripts/changelog.sh
Due: crypto

Add wasm feature to entropy-shared
  crypto/shared/Cargo.toml
  crypto/shared/src/constraints.rs
  crypto/shared/src/types.rs
Due: crypto

Use wasm feature
  crypto/protocol/Cargo.toml
Due: crypto

Lockfile
  Cargo.lock
Due: none

Avoid using subxt whereever possilbe
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/protocol_message.rs
  crypto/protocol/src/protocol_transport/message.rs
  crypto/protocol/src/protocol_transport/noise.rs
  crypto/protocol/src/user.rs
  crypto/shared/src/types.rs
Due: crypto

With server feature, include everything for protocol
  crypto/protocol/Cargo.toml
Due: crypto

Simplify features
  Cargo.lock
  crypto/shared/Cargo.toml
  crypto/shared/src/types.rs
Due: crypto

loggings
  crypto/server/src/helpers/user.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

loggings
  crypto/server/src/user/api.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

version bump
  runtime/src/lib.rs
Due: runtime

version bump 0.0.7 (#409)
  runtime/src/lib.rs
Due: runtime

Use subxt_signer and subxt::utils::AccountId32
  Cargo.lock
  crypto/protocol/Cargo.toml
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_message.rs
  crypto/protocol/src/protocol_transport/message.rs
  crypto/protocol/src/protocol_transport/noise.rs
  crypto/protocol/src/user.rs
Due: crypto

Testing-utils should use subxt::utils::AccountId32
  crypto/testing-utils/src/constants.rs
Due: crypto

Server uses subxt_signer and subxt::utils::AccountId32 when interfacing with entropy-protocol
  crypto/server/Cargo.toml
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/helpers/validator.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/listener.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/signing_client/protocol_transport.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

shared has wasm feature flag
  crypto/shared/Cargo.toml
  crypto/shared/src/types.rs
Due: crypto

Clippy
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/api.rs
Due: crypto

Fix feature flags for entropy-shared
  Cargo.lock
  pallets/constraints/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/staking/Cargo.toml
  runtime/Cargo.toml
Due: pallets, runtime

Fix derive macros for entropy-shared types
  Cargo.lock
  crypto/shared/src/types.rs
  crypto/user-protocol2/Cargo.toml
  crypto/user-protocol2/src/lib.rs
Due: crypto

Clippy
  crypto/shared/Cargo.toml
Due: crypto

Fix tests
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/protocol_transport.rs
  crypto/server/src/user/tests.rs
Due: crypto

Rm println
  crypto/server/src/signing_client/protocol_transport.rs
Due: crypto

Bump rust version used in CI
  .circleci/then.yml
Due: none

Fix tests
  crypto/server/src/user/tests.rs
Due: crypto
