Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Do `cargo build` not `cargo check` when checking `runtime-benchmarks` feature in CI (#1384)
  .github/workflows/test-runtime-benchmarks.yaml
Due: none

Update benchmarks to V2
  pallets/attestation/src/benchmarking.rs
Due: pallets

update oracle benchmark
  pallets/oracle/src/benchmarking.rs
Due: pallets

parameters
  pallets/parameters/src/benchmarking.rs
  runtime/src/weights/pallet_attestation.rs
  runtime/src/weights/pallet_oracle.rs
  runtime/src/weights/pallet_parameters.rs
Due: pallets, runtime

pallet programs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/weights.rs
  pallets/programs/src/benchmarking.rs
  runtime/src/weights/pallet_programs.rs
Due: pallets, runtime

registry
  pallets/registry/src/benchmarking.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

staking extetntion
  pallets/staking/src/benchmarking.rs
Due: pallets

staking fixes
  pallets/staking/src/benchmarking.rs
Due: pallets

staking
  pallets/attestation/src/benchmarking.rs
  pallets/staking/src/benchmarking.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Update release checklist to use `core-benchmark-reference-machine` inftrastructure project
  RELEASE_CHECKLIST.md
Due: none

Replace discord with slack
  RELEASE_CHECKLIST.md
Due: none

update transaction pause
  pallets/transaction-pause/src/benchmarking.rs
  runtime/src/weights/pallet_transaction_pause.rs
Due: pallets, runtime

Update release checklist to use `core-benchmark-reference-machine` infrastructure project (#1406)
  RELEASE_CHECKLIST.md
Due: none

Update benchmarks to V2 (#1402)
  pallets/attestation/src/benchmarking.rs
  pallets/oracle/src/benchmarking.rs
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/weights.rs
  pallets/programs/src/benchmarking.rs
  pallets/registry/src/benchmarking.rs
  pallets/staking/src/benchmarking.rs
  pallets/transaction-pause/src/benchmarking.rs
  runtime/src/weights/pallet_attestation.rs
  runtime/src/weights/pallet_oracle.rs
  runtime/src/weights/pallet_parameters.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_registry.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_transaction_pause.rs
Due: pallets, runtime

fix non local definitions warning
  runtime/src/lib.rs
Due: runtime

Use git version of manul with fixes, and update
  crates/protocol/Cargo.toml
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/protocol_message.rs
  crates/protocol/tests/helpers/mod.rs
  crates/protocol/tests/protocol.rs
Due: none

lockfile
  Cargo.lock
Due: none

Fix non local definitions warning (#1409)
  runtime/src/lib.rs
Due: runtime

Use suggestion from Bogdan for serialization, and handle error
  crates/protocol/src/lib.rs
Due: none

Use a stop signal to stop the incoming message loop when protocol is over
  crates/protocol/src/execute_protocol.rs
Due: none

Logging for tests
  crates/protocol/tests/protocol.rs
Due: none

Error handling
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/protocol_message.rs
Due: none

Rm logging subscriber
  crates/protocol/tests/protocol.rs
Due: none

Add comments
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
Due: none

Updates to entropy-tss
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
Due: none

Updates to kvdb
  Cargo.lock
  crates/kvdb/src/kv_manager/value.rs
Due: none

Updates to entropy-testing-utils
  Cargo.lock
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/create_test_keyshares.rs
Due: none

entropy-tss test features
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/jumpstart_register_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Regenerate keyshares
  crates/testing-utils/keyshares/production/keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/production/keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/production/keyshare-held-by-charlie.keyshare
  crates/testing-utils/keyshares/test/keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/test/keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/test/keyshare-held-by-charlie.keyshare
  crates/testing-utils/src/create_test_keyshares.rs
  scripts/create-test-keyshares/src/main.rs
Due: none

Client uses local synedrion version
  Cargo.lock
  crates/client/Cargo.toml
Due: none

Use published versions of synedrion and manul
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/protocol/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

Update deny list for manul
  deny.toml
Due: none

Clippy
  Cargo.lock
  crates/protocol/src/execute_protocol.rs
Due: none

Fixes for registry pallet tests / benchmarking
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/tests.rs
Due: pallets

Attempt to fix check that code has changed in CI pipeline
  .github/workflows/build-and-run-node-test.yaml
Due: none

Temporary - rm code changed checks to force tests to run in CI
  .github/workflows/build-and-run-node-test.yaml
Due: none

Apply fix suggested by Zach
  .github/workflows/build-and-run-node-test.yaml
Due: none

Lockfile
  Cargo.lock
Due: none

remove deadlines
  pallets/propagation/src/lib.rs
Due: pallets
