Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Fix path to script
  .circleci/then.yml
Due: none

Fix path again
  .circleci/then.yml
Due: none

Again
  .circleci/then.yml
Due: none

Print out current working directory path
  .circleci/then.yml
Due: none

Add missing `.sh` extension
  .circleci/then.yml
Due: none

Exclude nomination pool benches (#915)
  scripts/benchmarks.sh
Due: none

Apply suggestions from code review
  runtime/src/lib.rs
Due: runtime

Fix spacing
  runtime/src/lib.rs
Due: runtime

Add missing comma
  runtime/src/lib.rs
Due: runtime

Fix formatting
  runtime/src/lib.rs
Due: runtime

Fix pallet treasury benchmarks (#912)
  runtime/src/lib.rs
  runtime/src/weights/pallet_treasury.rs
Due: runtime

Update `CHANGELOG`
  CHANGELOG.md
Due: none

Bump `spec_version` and `transaction_version`
  runtime/src/lib.rs
Due: runtime

Bump metadata
  crates/client/entropy_metadata.scale
Due: none

Bump versions to `v0.2.0-rc.1`
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Update `register` command in `RELEASE_CHECKLIST`
  RELEASE_CHECKLIST.md
Due: none

TaploFmt
  crates/threshold-signature-server/Cargo.toml
Due: none

Add breaking change for `--mnemonic-option` flag
  CHANGELOG.md
Due: none

Bump metadata using `--dev` config
  crates/client/entropy_metadata.scale
Due: none

Cleanup `CHANGELOG` a bit
  CHANGELOG.md
Due: none

Updated the commit used for the `Unreleased` header
  CHANGELOG.md
Due: none

Update benchmarks
  runtime/src/weights/frame_benchmarking.rs
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/pallet_babe.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_grandpa.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_offences.rs
  runtime/src/weights/pallet_parameters.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_registry.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_storage.rs
  runtime/src/weights/pallet_treasury.rs
  runtime/src/weights/pallet_utility.rs
  runtime/src/weights/pallet_vesting.rs
Due: runtime

merge fixes
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
Due: node

fix wasm test
  .circleci/then.yml
Due: none

Jumpstart network
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/user/api.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

some tests
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

add confirmation check
  pallets/registry/src/lib.rs
Due: pallets

fix jump start details test
  pallets/registry/src/tests.rs
Due: pallets

test jump start
  pallets/registry/src/tests.rs
Due: pallets

jump start threshold side test
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

jumpstart test
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

test master key sign
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fmt
  pallets/registry/src/lib.rs
Due: pallets

fmt
  pallets/registry/src/tests.rs
Due: pallets

add benchmarks to register
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

clean
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Integrate oracle pallet
  Cargo.lock
  crates/client/entropy_metadata.scale
  pallets/oracle/Cargo.toml
  pallets/oracle/src/benchmarking.rs
  pallets/oracle/src/lib.rs
  pallets/oracle/src/mock.rs
  pallets/oracle/src/tests.rs
  pallets/oracle/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: pallets, runtime
