Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature (path-filtering)
# https://circleci.com/docs/dynamic-config
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # always-run is always triggered (yikes), regardless of the pipeline parameters.
  always-run: 
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
            # do rest after validation
            # crypto/centralized-keygen/.* centralized-keygen-change true
            # crypto/.* signing-client-change true
          mapping: |
            node/.* node true
            crypto/.* crypto true
            pallets/.* pallets true
          base-revision: master
          # path to trigger once filtering/value updates finish 
          config-path: .circleci/then.yml

kv_manager/{kv, sled_bindings}.rs add error handling, logging & refactor
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/kvdb/src/kv_manager/sled_bindings.rs
Due: crypto

kv_manager/kv.rs: add error handling for kv.remove()
  crypto/kvdb/src/kv_manager/kv.rs
Due: crypto

kv_manager/{kv,sled_bindings}.rs: rustfmt
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/kvdb/src/kv_manager/sled_bindings.rs
Due: crypto

Error handling for `fn kv_cmd_handler` (#184)
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/kvdb/src/kv_manager/sled_bindings.rs
Due: crypto

add in confirm register function
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

fmt
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

check is registering
  .gitignore
  crypto/server/entropy_metadata.scale
  crypto/server/src/chain_api.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/mod.rs
  scripts/pull_entropy_metadata.sh
Due: crypto

fmt
  crypto/server/src/chain_api.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/mod.rs
Due: crypto

add tests for register
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

update mnemonic to be stored in kvdb
  crypto/kvdb/src/kv_manager/types.rs
  crypto/server/src/communication_manager/deprecating_sign.rs
  crypto/server/src/main.rs
  crypto/server/src/utils.rs
Due: crypto

Add AccountId32 logging/cleanup code
  crypto/server/src/main.rs
  crypto/server/src/utils.rs
Due: crypto

cargo fmt + verbose logging
  crypto/server/src/main.rs
  crypto/server/src/utils.rs
Due: crypto

update mnemonic to be stored in kvdb (#186)
  crypto/kvdb/src/kv_manager/types.rs
  crypto/server/src/communication_manager/deprecating_sign.rs
  crypto/server/src/main.rs
  crypto/server/src/utils.rs
Due: crypto

implement confirm_registered() - tests
  crypto/server/src/user/api.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

key reservation fix
  crypto/server/src/main.rs
Due: crypto

added test register check
  crypto/server/src/user/tests.rs
Due: crypto

small nits
  crypto/server/src/user/api.rs
Due: crypto

fmt
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

fix linting
  crypto/server/src/chain_api.rs
  crypto/server/src/user/api.rs
Due: crypto

-j nproc for multi-threaded builds
  .circleci/then.yml
Due: none

New user flow (#185)
  .gitignore
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/entropy_metadata.scale
  crypto/server/src/chain_api.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  scripts/pull_entropy_metadata.sh
Due: crypto, pallets

-j nproc for multi-threaded builds in CI (#187)
  .circleci/then.yml
Due: none

add static dumb subgroups
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/utils.rs
  crypto/substrate-common/src/lib.rs
  node/cli/src/chain_spec.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: node, crypto, pallets

add ALICE mnemonic
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/utils.rs
Due: crypto

New user flow (#190)
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/utils.rs
  crypto/substrate-common/src/lib.rs
  node/cli/src/chain_spec.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: node, crypto, pallets

add confirm done check
  crypto/substrate-common/src/lib.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/weights.rs
Due: crypto, pallets

handle testing value in library
  Cargo.lock
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: pallets

get subgroup function untested
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
Due: crypto

test get subgroup
  crypto/server/src/user/tests.rs
Due: crypto

free tx logic; untested
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
  runtime/src/weights/pallet_free_tx.rs
Due: pallets

refactoring
  pallets/free-tx/src/lib.rs
Due: pallets

fixed existing tests
  pallets/free-tx/src/tests.rs
Due: pallets

renamed fixed calls to one-time calls
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/weights.rs
  runtime/src/weights/pallet_free_tx.rs
Due: pallets

fmt/clippy; renaming for clarity
  crypto/server/src/user/tests.rs
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
  runtime/src/weights/pallet_free_tx.rs
Due: crypto, pallets

fixed benchmarks
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
Due: pallets
