Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

fmt
  crates/client/src/logger.rs
  crates/threshold-signature-server/src/backup_provider/tests.rs
  crates/threshold-signature-server/src/health/tests.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/unsafe/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/jumpstart_register_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Build entropy-tss CVM image in release workflow (#1473)
  .github/workflows/build-and-release.yaml
  .github/workflows/entropy-tss-cvm.yaml
  RELEASE_CHECKLIST.md
Due: none

Add free transaction to add tree
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/benchmarking.rs
  pallets/forest/src/lib.rs
  runtime/src/lib.rs
Due: node, pallets, runtime

endpoint too long
  pallets/forest/src/lib.rs
  pallets/forest/src/tests.rs
Due: pallets

tree exists
  pallets/forest/src/lib.rs
  pallets/forest/src/tests.rs
Due: pallets

tests
  pallets/forest/src/lib.rs
  pallets/forest/src/tests.rs
Due: pallets

rename supported cvm services
  crates/client/entropy_metadata.scale
  node/cli/src/chain_spec/mod.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/mock.rs
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/mock.rs
Due: node, pallets

Trivial doccomment change to trigger CI tests
  crates/client/src/attestation.rs
Due: none

Compile entropy-client with full client feature
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/validator.rs
Due: none

Merge 482fe88
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/validator.rs
Due: none

Pull chain metadata
  crates/client/entropy_metadata.scale
Due: none

remove tower http
  Cargo.lock
  crates/client/Cargo.toml
Due: none

Fix change_threshold benchmark
  pallets/staking/src/benchmarking.rs
Due: pallets

Generalize logger (#1506)
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/build.rs
  crates/client/entropy_metadata.scale
  crates/client/src/lib.rs
  crates/client/src/logger.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/attestation/tests.rs
  crates/threshold-signature-server/src/backup_provider/tests.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/mod.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/unsafe/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/jumpstart_register_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  node/cli/src/chain_spec/mod.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/mock.rs
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/mock.rs
Due: node, pallets

Check that production mode compiles in CI (#1500)
  .github/workflows/lint-and-check-licenses.yaml
Due: none

entropy-tss uses full-client features for entropy-client (#1510)
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/validator.rs
Due: none

Fix change_threshold benchmark (#1512)
  pallets/staking/src/benchmarking.rs
Due: pallets

Update runtime/src/weights with output from running benchmarks on reference machine
  runtime/src/weights/frame_benchmarking.rs
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/pallet_attestation.rs
  runtime/src/weights/pallet_babe.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_forest.rs
  runtime/src/weights/pallet_grandpa.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_offences.rs
  runtime/src/weights/pallet_oracle.rs
  runtime/src/weights/pallet_parameters.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_propagation.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_registry.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_payment.rs
  runtime/src/weights/pallet_transaction_storage.rs
  runtime/src/weights/pallet_treasury.rs
  runtime/src/weights/pallet_utility.rs
  runtime/src/weights/pallet_vesting.rs
Due: runtime

Force node key generation in docker-compose local devnet
  docker-compose.yaml
Due: none

Add missing entries to CHANGELOG
  CHANGELOG.md
Due: none

When entropy-tss is built in production mode, entropy-client should be built in production mode
  crates/threshold-signature-server/Cargo.toml
Due: none

Add global nonces for attestation
  pallets/attestation/src/lib.rs
  pallets/attestation/src/tests.rs
Due: pallets

docs
  pallets/attestation/src/lib.rs
Due: pallets

add global nonce to verify
  crates/shared/src/attestation.rs
  pallets/attestation/src/benchmarking.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/weights.rs
  pallets/forest/src/lib.rs
  pallets/forest/src/mock.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  runtime/src/weights/pallet_attestation.rs
  scripts/single_benchmark.sh
Due: pallets, runtime

add tests for global nonces
  pallets/attestation/src/tests.rs
Due: pallets

client compiles
  crates/client/entropy_metadata.scale
  crates/client/src/forest.rs
  pallets/attestation/src/tests.rs
  pallets/forest/src/tests.rs
Due: pallets

Force node key generation in docker-compose local devnet (#1514)
  docker-compose.yaml
Due: none

When entropy-tss is built in production mode, entropy-client should be built in production mode (#1515)
  crates/threshold-signature-server/Cargo.toml
Due: none

Display build details with version
  node/cli/src/command.rs
Due: node

CHANGELOG
  CHANGELOG.md
Due: none

declare to chain gets global nonce
  crates/client/src/errors.rs
  crates/client/src/forest.rs
  crates/client/src/tests.rs
Due: none

more tests
  pallets/attestation/src/tests.rs
Due: pallets

fix forest benchmarks
  Cargo.lock
  pallets/forest/Cargo.toml
  pallets/forest/src/benchmarking.rs
  runtime/src/weights/pallet_forest.rs
  scripts/single_benchmark.sh
Due: pallets, runtime

Dockerfile - Make PRODUCTION arg available in the relevant stage
  Dockerfile
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
