Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

changelog
  CHANGELOG.md
Due: none

Add additional checks to TSS server's `/user/receive_key` endpoint (#655)
  CHANGELOG.md
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Rename `pallet_relayer` to `pallet_registry` (#661)
  CHANGELOG.md
  Cargo.lock
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  node/cli/Cargo.toml
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/free-tx/Cargo.toml
  pallets/programs/src/lib.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/registry/Cargo.toml
  pallets/registry/README.md
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_registry.rs
  scripts/single_benchmark.sh
Due: node, pallets, runtime

remove permissioned
  crates/shared/src/types.rs
  crates/test-cli/src/main.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/signing_client/api.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

Don't bump the whole lockfile
  Cargo.lock
Due: none

Remove `pallet-free-tx` (#662)
  CHANGELOG.md
  Cargo.lock
  crates/threshold-signature-server/entropy_metadata.scale
  node/cli/Cargo.toml
  node/cli/src/benchmarking.rs
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_free_tx.rs
Due: node, pallets, runtime

Add test for signing an ethereum transaction
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Improve test
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Rm println
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Use ethers fn for converting public key to eth address
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

clean
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
Due: node

clean
  CHANGELOG.md
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

Update pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/benchmarking.rs
Due: pallets

clean
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
  runtime/src/lib.rs
Due: pallets, runtime

clean
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update pallets/parameters/src/lib.rs
  pallets/parameters/src/lib.rs
Due: pallets

fix
  crates/threshold-signature-server/src/user/tests.rs
Due: none

The CI builds are failing; is it because we lack vertical resources?
  .github/workflows/build-and-release.yaml
  .github/workflows/container-build-and-push.yaml
Due: none

have verifying key as key in registered state
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Update .github/workflows/build-and-release.yaml
  .github/workflows/build-and-release.yaml
Due: none

Fix CI builds by using larger runners (#665)
  .github/workflows/container-build-and-push.yaml
Due: none

Update crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

clean
  crates/threshold-signature-server/src/user/api.rs
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  runtime/src/lib.rs
Due: pallets, runtime

Update pallets/parameters/src/mock.rs
  pallets/parameters/src/mock.rs
Due: pallets

clean
  pallets/parameters/src/mock.rs
Due: pallets

remove programs from dev dependencies
  Cargo.lock
  pallets/parameters/Cargo.toml
Due: pallets

Use ethers-core rather than ethers and improve mock tx following review
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Lockfile
  Cargo.lock
Due: none

clean
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

clean
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

clean
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Request limit check (#660)
  CHANGELOG.md
  Cargo.lock
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/parameters/Cargo.toml
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
  pallets/parameters/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_parameters.rs
Due: node, pallets, runtime

tss crate compile
  crates/protocol/src/lib.rs
  crates/protocol/src/user/mod.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/user/api.rs
  pallets/registry/src/lib.rs
Due: pallets

Add test for signing an Ethereum transaction (#664)
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Helpers for ethereum in test client
  Cargo.lock
  crates/test-cli/src/main.rs
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/test_client/ethereum.rs
  crates/testing-utils/src/test_client/mod.rs
Due: none

Clippy
  crates/testing-utils/src/test_client/mod.rs
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
