Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Sort and organize imports for client
  node/cli/Cargo.toml
Due: node

Address TODOs in `entropy-shared`
  crates/shared/Cargo.toml
  crates/shared/src/types.rs
Due: none

lint
  crates/threshold-signature-server/src/user/api.rs
Due: none

Remove TODOs related to `node-primitives`
  node/cli/src/rpc.rs
  runtime/src/lib.rs
Due: node, runtime

Pull `substrate-wasm-builder` from crates.io
  Cargo.lock
  runtime/Cargo.toml
Due: runtime

TaploFmt
  crates/shared/Cargo.toml
Due: none

Fix benchmarking import post-merge
  pallets/programs/src/benchmarking.rs
Due: pallets

Fix another program import port-merge
  pallets/programs/src/lib.rs
Due: pallets

Don't `tee` the chain spec file, it's not necessary in the logs.
  .github/workflows/container-build-and-push.yaml
Due: none

Import `Vec` to programs benches
  pallets/programs/src/benchmarking.rs
Due: pallets

Wrong vec import 🙃
  pallets/programs/src/benchmarking.rs
Due: pallets

Don't `tee` the chain spec file, it's not necessary in the logs. (#602)
  .github/workflows/container-build-and-push.yaml
Due: none

Allow multiple transactions to `confirm_register` (#601)
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Change / fix how program configurations and configuration interfaces are given
  crates/test-cli/src/main.rs
Due: none

Update following changed ProgramInfo field name
  crates/test-cli/src/main.rs
Due: none

Update test_multiple_confirm_done following merge
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Fix test CLI for additive program pointers and update / refactor tests (#591)
  CHANGELOG.md
  Cargo.lock
  crates/test-cli/Cargo.toml
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  pallets/programs/src/lib.rs
Due: pallets

Bump node metadata
  crates/threshold-signature-server/entropy_metadata.scale
Due: none

change to program deploy key
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

changelog
  CHANGELOG.md
Due: none

rollback a little
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/user/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

clean
  crates/testing-utils/src/test_client/mod.rs
Due: none

clean
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

clean
  pallets/programs/src/lib.rs
Due: pallets

fix benchmark
  pallets/relayer/src/benchmarking.rs
Due: pallets

Update pallets/programs/src/lib.rs
  pallets/programs/src/lib.rs
Due: pallets

clean
  CHANGELOG.md
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/tests.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
Due: pallets

Change `program_modification_account` to `program_deploy_key` (#604)
  CHANGELOG.md
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/tests.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
Due: pallets

Use published `subxt` version instead of Git one
  Cargo.lock
  crates/protocol/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

Add link to diff between last release and `master` to `CHANGELOG`
  CHANGELOG.md
Due: none

Bump `spec_version` and `transaction_version`
  runtime/src/lib.rs
Due: runtime

Bump Cargo.lock
  Cargo.lock
Due: none

Bump crate versions to `0.0.10`
  crates/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Bump metadata
  crates/threshold-signature-server/entropy_metadata.scale
Due: none

Clean up some of the `Breaking Changes` descriptions
  CHANGELOG.md
Due: none

Build node when running benchmarks
  scripts/benchmarks.sh
Due: none

Add blurb to release notes
  CHANGELOG.md
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
