Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Add RegisteringUser struct and included it in OcwMessage
  crypto/shared/src/types.rs
Due: crypto

Update tss for new format of OcwMessage
  crypto/server/src/user/api.rs
Due: crypto

Update test
  crypto/server/src/user/tests.rs
Due: crypto

Clippy
  pallets/relayer/src/lib.rs
Due: pallets

Update test for relayer pallet
  pallets/relayer/src/tests.rs
Due: pallets

Update mock http call data
  pallets/propagation/src/tests.rs
Due: pallets

omg
  crypto/server/src/helpers/substrate.rs
Due: crypto

tests working
  README.md
  crypto/server/src/helpers/launch.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  node/cli/src/chain_spec.rs
Due: node, crypto

adjust imports
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

remove unwraps
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

fmt
  crypto/server/src/user/api.rs
  runtime/src/lib.rs
Due: crypto, runtime

Include signature in `SubscribeMessage` sent when initiating a protocol session over websocket (#394)
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/protocol_transport/message.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

ask for signing key if don't have (#393)
  README.md
  crypto/server/src/helpers/launch.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  node/cli/src/chain_spec.rs
  runtime/src/lib.rs
Due: node, crypto, runtime

fix test
  crypto/server/src/user/tests.rs
Due: crypto

Get key visibility during user registration
  crypto/server/src/user/api.rs
Due: crypto

Pass x25519 pk during user registration
  pallets/relayer/src/lib.rs
Due: pallets

Update pallet tests
  pallets/propagation/src/tests.rs
  pallets/relayer/src/tests.rs
Due: pallets

Update substrate metadata
  crypto/server/entropy_metadata.scale
Due: crypto

Expect x25519 pk during registration
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

fmt
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

Update relayer benchmarking
  pallets/relayer/src/benchmarking.rs
Due: pallets

pass users x25519 pk
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/api.rs
Due: crypto

Doccomment / fn name
  crypto/server/src/user/api.rs
Due: crypto

Refactor test helper fn
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
Due: crypto

forbidden keys, not tested
  crypto/server/src/helpers/launch.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
Due: crypto

timestamp mock
  crypto/server/src/validator/api.rs
Due: crypto

Integrate Programs (Constraints V2) (#390)
  Cargo.lock
  Cargo.toml
  Makefile
  crypto/server/Cargo.toml
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/constants.rs
  crypto/testing-utils/template_barebones.wasm
Due: crypto

tests working
  crypto/server/src/helpers/launch.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/tests.rs
Due: crypto

timestamp check
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/tests.rs
Due: crypto

Add test helper fn for user paritipating in DKG
  crypto/server/src/helpers/tests.rs
Due: crypto

Fmt
  crypto/server/src/helpers/tests.rs
Due: crypto

finish tests
  crypto/server/src/validation/mod.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/tests.rs
Due: crypto

lint
  crypto/server/src/validator/api.rs
Due: crypto

remove unneeded commented code
  crypto/server/src/validator/tests.rs
Due: crypto

remove todo
  crypto/server/src/validator/api.rs
Due: crypto

remove uneeded assert for better logging
  crypto/server/src/user/tests.rs
Due: crypto

forbidden keys (#397)
  crypto/server/src/helpers/launch.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validation/mod.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/tests.rs
Due: crypto

User participates in DKG test
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
