Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Fix attestation benchmark
  pallets/attestation/src/benchmarking.rs
Due: pallets

Fix attestation benchmark again
  pallets/attestation/src/benchmarking.rs
Due: pallets

Update attestation pallet test
  pallets/attestation/src/mock.rs
  pallets/attestation/src/tests.rs
Due: pallets

Fix attestation pallet mock/bench
  pallets/attestation/src/benchmarking.rs
  pallets/attestation/src/mock.rs
Due: pallets

Update pallets/registry/src/benchmarking.rs
  pallets/registry/src/benchmarking.rs
Due: pallets

Fix entropy-client test
  crates/client/src/tests.rs
  crates/testing-utils/src/helpers.rs
Due: none

clean
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

clean
  crates/client/src/client.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/sign_init.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fmt
  crates/client/Cargo.toml
  crates/client/src/client.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/sign_init.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fmt
  crates/client/src/client.rs
  crates/client/src/user.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

Comment following review
  pallets/registry/src/lib.rs
Due: pallets

Fix client test
  crates/client/src/tests.rs
  node/cli/src/chain_spec/mod.rs
Due: node

Fix client test
  crates/client/src/tests.rs
Due: none

Changelog
  CHANGELOG.md
Due: none

docs
  CHANGELOG.md
  crates/client/src/user.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

Select validators for jumpstart DKG (#1053)
  CHANGELOG.md
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/protocol/src/lib.rs
  crates/protocol/tests/protocol.rs
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/registry/Cargo.toml
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

tests
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fmt
  Cargo.lock
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add production feature flag
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
Due: none

In production, generate TDX quote using configfs-tsm (#1041)
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
  deny.toml
Due: none

fix tests
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fix test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

add nominator to benchmarks
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Rename test keyshares
  crates/testing-utils/keyshares/production/dave-keyshare-0.keyshare
  crates/testing-utils/keyshares/production/dave-keyshare-1.keyshare
  crates/testing-utils/keyshares/production/dave-keyshare-2.keyshare
  crates/testing-utils/keyshares/production/eve-keyshare-0.keyshare
  crates/testing-utils/keyshares/production/eve-keyshare-1.keyshare
  crates/testing-utils/keyshares/production/eve-keyshare-2.keyshare
  crates/testing-utils/keyshares/test/dave-keyshare-0.keyshare
  crates/testing-utils/keyshares/test/dave-keyshare-1.keyshare
  crates/testing-utils/keyshares/test/dave-keyshare-2.keyshare
  crates/testing-utils/keyshares/test/eve-keyshare-0.keyshare
  crates/testing-utils/keyshares/test/eve-keyshare-1.keyshare
  crates/testing-utils/keyshares/test/eve-keyshare-2.keyshare
Due: none

Fix adding pre-generated keyshares for tests
  Cargo.lock
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Rm unused argument to test helper
  crates/testing-utils/src/helpers.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Use copy not clone and other review suggestions
  crates/testing-utils/src/helpers.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Apply suggestions from code review
  crates/client/src/client.rs
  crates/client/src/user.rs
Due: none

Update crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

move get_signers_from_chain
  Cargo.lock
  crates/client/src/user.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

return option validator name
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

random selection
  CHANGELOG.md
  crates/client/src/client.rs
Due: none

add validator checks
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

clean tests
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Switch to using a `StorageDoubleMap` instead
  pallets/attestation/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

Use loose coupling between attestation and staking extension pallets
  crates/shared/src/types.rs
  pallets/attestation/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

Update test mocks to use loose coupling
  Cargo.lock
  pallets/attestation/src/mock.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/mock.rs
Due: pallets

Appease Clippy
  pallets/staking/src/lib.rs
Due: pallets
