Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Reshare confirmation (#965)
  CHANGELOG.md
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: node, pallets, runtime

validate new reshare
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/staking/src/lib.rs
Due: pallets

add negative tests
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

docs
  pallets/staking/src/lib.rs
Due: pallets

fix tests
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/staking/src/lib.rs
Due: pallets

Update crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

fix
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

add test conditional
  crates/threshold-signature-server/src/user/tests.rs
Due: none

validate new reshare (#970)
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/staking/src/lib.rs
Due: pallets

Set inital signers
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/user/api.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: node, pallets

Set init signers in jumpstart
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: node, pallets

fix benches
  pallets/registry/src/benchmarking.rs
Due: pallets

fix timing
  crates/threshold-signature-server/src/user/tests.rs
Due: none

changelog
  CHANGELOG.md
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Use `no_std` compatible version of Synedrion
  Cargo.lock
  pallets/registry/Cargo.toml
Due: pallets

Use `core` and `alloc` data structures in pallet
  pallets/registry/src/lib.rs
Due: pallets

Use remote Synedrion reference
  Cargo.lock
  pallets/registry/Cargo.toml
Due: pallets

clean
  crates/threshold-signature-server/src/validator/api.rs
  pallets/staking/src/lib.rs
Due: pallets

Set inital signers (#971)
  CHANGELOG.md
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: node, pallets

Add parent key threshold to chain
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  pallets/registry/Cargo.toml
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

changelog
  CHANGELOG.md
Due: none

fix
  Cargo.lock
  pallets/propagation/Cargo.toml
  pallets/propagation/src/mock.rs
Due: pallets

Make derivation path in benchmarks generic instead of hardcoded
  pallets/registry/src/benchmarking.rs
Due: pallets

Use benchmark results for new extrinsic
  pallets/registry/src/lib.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

Rename extrinsic to `register_on_chain`
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

Use `no_std` functions for benches
  pallets/registry/src/benchmarking.rs
Due: pallets

Add entry to `CHANGELOG`
  CHANGELOG.md
Due: none

Rename subsession enum
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/lib.rs
Due: none

Fix updating keyshare on proactive refresh
  crates/threshold-signature-server/src/signing_client/api.rs
Due: none

Add aux gen to reshare process
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Update pallets/staking/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

fix
  crates/client/entropy_metadata.scale
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

fix lint
  deny.toml
Due: none

Add parent key threshold dynamically (#974)
  CHANGELOG.md
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  deny.toml
  pallets/propagation/Cargo.toml
  pallets/propagation/src/mock.rs
  pallets/registry/Cargo.toml
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

add checks to signer changes
  Cargo.lock
  crates/shared/src/constants.rs
  pallets/parameters/Cargo.toml
  pallets/parameters/src/lib.rs
  pallets/parameters/src/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
Due: pallets

implement signer addition
  pallets/staking/src/lib.rs
Due: pallets

add test for signer has not changed
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

add session tests
  Cargo.lock
  crates/shared/src/constants.rs
  pallets/parameters/Cargo.toml
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
  pallets/registry/src/lib.rs
Due: pallets

Add a few tests for failure conditions
  pallets/registry/src/tests.rs
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
