Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Add initial attestation requests to chainspec
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  pallets/propagation/src/lib.rs
Due: node, pallets

fix build
  pallets/propagation/src/mock.rs
Due: pallets

Benchmark for new session
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Add benchmarks to pallet propagation (#1013)
  pallets/propagation/src/benchmarking.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_propagation.rs
Due: pallets, runtime

Pull chain metadata
  crates/client/entropy_metadata.scale
  runtime/src/lib.rs
Due: runtime

Make mock attestation request at block 3
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  pallets/propagation/src/lib.rs
Due: node, pallets

Fix test
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/tests.rs
Due: none

Tidy
  crates/shared/src/types.rs
  pallets/propagation/src/lib.rs
Due: pallets

add new_session_not_adding_new_signer
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

new_session weight
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

lint
  pallets/staking/src/benchmarking.rs
Due: pallets

Only return single registration event
  crates/client/src/client.rs
  crates/test-cli/src/lib.rs
Due: none

Move `get_registered_details` fully into client
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/client/src/substrate.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update error used in signing test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update test CLI for new registration and signing flows (#1008)
  CHANGELOG.md
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/client/src/substrate.rs
  crates/test-cli/src/lib.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add test showing register and sign with test client
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/api.rs
Due: none

Extra check in attestation pallet benchmarks
  pallets/attestation/src/benchmarking.rs
Due: pallets

Improve error message for unexpected attestation
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
Due: none

Use actual weight
  pallets/attestation/src/lib.rs
Due: pallets

Add endpoint to node service
  node/cli/src/service.rs
Due: node

Comments and minor changed following review
  pallets/attestation/src/lib.rs
Due: pallets

Changelog
  CHANGELOG.md
Due: none

Make client register and sign test into integration test
  crates/testing-utils/src/lib.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
Due: none

Rm unused import
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Attestation pallet (#1003)
  CHANGELOG.md
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/service.rs
  pallets/attestation/Cargo.toml
  pallets/attestation/src/benchmarking.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/mock.rs
  pallets/attestation/src/tests.rs
  pallets/attestation/src/weights.rs
  pallets/programs/src/benchmarking.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_attestation.rs
Due: node, pallets, runtime

Rotate parent netowrk key takes 2 steps
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Format benchmarking code
  pallets/staking/src/benchmarking.rs
Due: pallets

Update `*_less_then_signers` bench to scale signers in storage
  pallets/staking/src/benchmarking.rs
Due: pallets

Change benchmarking for session handler to only use two benches
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
Due: pallets

Always update session weight
  pallets/staking/src/lib.rs
Due: pallets

Remove `expect` by using `match` statement
  pallets/staking/src/lib.rs
Due: pallets

Remove unused `new_session_not_adding_new_signer` bench
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Update the name for one of the benches
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Update benchmark results
  runtime/src/weights/pallet_staking_extension.rs
Due: runtime

Add missing parameter to base bench
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
Due: pallets

Suggestions for `new_session` benches (#1019)
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

add rotate keyshare trigger to chain
  node/cli/src/service.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/staking/src/lib.rs
Due: node, pallets

Add test for reference counter update
  pallets/registry/src/tests.rs
Due: pallets

Update `change_program_instance` code to use new registration flow
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
