Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

wasm sign fn should not take sig_uid as well as sig_hash becasue sig_uid contains sig_hash
  crypto/protocol/src/user/wasm.rs
Due: crypto

remove not used test
  pallets/staking/src/tests.rs
Due: pallets

remove proactive refresh trigger (#453)
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
  node/cli/src/chain_spec.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/mock.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: node, crypto, pallets

WIP Update nodejs test
  crypto/protocol/nodejs-test/index.js
  crypto/protocol/src/user/wasm.rs
Due: crypto

Make TOML manifest more accurate
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
  crypto/shared/Cargo.toml
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/helpers/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, crypto, pallets, runtime

Use new versions in pallets
  pallets/free-tx/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
Due: pallets

Fix staking pallet version used in node
  node/cli/Cargo.toml
Due: node

Bump lockfile
  Cargo.lock
Due: none

TaploFmt
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
  crypto/shared/Cargo.toml
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/helpers/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
Due: node, crypto, pallets

Add `activate_proactive_refresh` field to local devnet genesis config
  node/cli/src/chain_spec.rs
Due: node

Add extrinsic benchmark function to benchmarking CLI
  node/cli/src/benchmarking.rs
Due: node

Get `create_benchmark_extrinsic` function compiling
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/benchmarking.rs
Due: node

Use new `create_benchmark_extrinsic` function
  node/cli/src/benchmarking.rs
Due: node

Remove old `create_extrinsic` function
  node/cli/src/service.rs
Due: node

Fix some of the pallet versions
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec.rs
Due: node

Use `entropy-runtime` instead of `kitchensink-runtime` in features
  node/cli/Cargo.toml
Due: node

Remove dependency on `node-executor`
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/command.rs
  node/cli/src/service.rs
Due: node

Add `activate_proactive_refresh` field to local devnet genesis config (#458)
  node/cli/src/chain_spec.rs
Due: node

Appease Clippy
  crypto/server/src/signing_client/protocol_transport.rs
Due: crypto

Change contact email to engineering@entropy.xyz
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
  crypto/shared/Cargo.toml
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/helpers/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, crypto, pallets, runtime

Remove `kitchensink-runtime` dependency
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/service.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: node, runtime

RustFmt
  node/cli/src/command.rs
  node/cli/src/service.rs
  runtime/src/lib.rs
Due: node, runtime

Update some of the CLI fields
  node/cli/src/command.rs
Due: node

Get rid of warnings in the service
  node/cli/src/service.rs
Due: node

Make TOML files more accurate (#456)
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/protocol_transport.rs
  crypto/shared/Cargo.toml
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/helpers/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, crypto, pallets, runtime

Add additional logging, and improve parsing of arguments in wasm
  Cargo.lock
  crypto/protocol/Cargo.toml
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/user/mod.rs
  crypto/protocol/src/user/wasm.rs
Due: crypto

Test script for wasm/nodejs test
  crypto/protocol/nodejs-test/index.js
Due: crypto

Add process feature to tokio
  crypto/server/Cargo.toml
Due: crypto

WIP Add additional test for signing protocol in private mode using wasm
  crypto/server/src/user/tests.rs
Due: crypto

Fmt
  crypto/server/src/user/tests.rs
Due: crypto

Remove statement store RPC code
  node/cli/src/rpc.rs
  node/cli/src/service.rs
Due: node

Remove more statement store code from the service
  Cargo.lock
  node/cli/src/service.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: node, runtime

Remove statement store code from CLI
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/command.rs
Due: node

Remove `node-rpc` dependency
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/service.rs
Due: node

Remove sc-service-test crate
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
Due: node

Format + Clippy
  crypto/server/src/signing_client/protocol_transport.rs
  node/cli/Cargo.toml
Due: node, crypto

use stable for fmt script
  scripts/fmt.sh
Due: none

Clean up unused dependencies from Entropy node (#459)
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec.rs
  node/cli/src/command.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  runtime/src/lib.rs
Due: node, runtime

Add first draft of `RELEASE_CHECKLIST`
  RELEASE_CHECKLIST.md
Due: none

Add more detailed instructions
  RELEASE_CHECKLIST.md
Due: none
