Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

format
  crypto/server/src/message.rs
Due: crypto

remove unwraps in user mod (#217)
  .circleci/then.yml
  crypto/server/src/message.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

add devnet readme (#216)
  README.md
Due: none

Signed message tests (#218)
  crypto/server/src/message.rs
Due: crypto

jesse rocks; fixed subxt Config
  crypto/server/src/chain_api.rs
Due: crypto

fmt
  crypto/server/src/message.rs
  crypto/server/src/user/api.rs
  crypto/testing-utils/src/chain_api.rs
  crypto/testing-utils/src/context.rs
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec.rs
  node/cli/src/cli.rs
  node/cli/src/service.rs
  pallets/relayer/src/weights.rs
Due: node, crypto, pallets

clippy
  crypto/server/src/message.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
Due: crypto

taplo
  node/cli/Cargo.toml
Due: node

fmt and clippy
  crypto/server/src/user/tests.rs
Due: crypto

clippy
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

updated deps
  Cargo.lock
  crypto/centralized-keygen/src/lib.rs
  crypto/server/Cargo.toml
  crypto/testing-utils/Cargo.toml
  subxttest/Cargo.toml
Due: crypto

updates
  Cargo.lock
  README.md
  crypto/centralized-keygen/README.md
  crypto/centralized-keygen/src/lib.rs
  crypto/kvdb/Cargo.toml
  crypto/server/Cargo.toml
  crypto/substrate-common/src/types.rs
Due: crypto

remove most unwraps
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
Due: crypto

remove more unwraps
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
Due: crypto

fmt
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
Due: crypto

fix-ci-pipeline
  .circleci/then.yml
Due: none

Fix CI pipeline (#223)
  .circleci/then.yml
Due: none

Add local ips
  Rocket.toml
  crypto/server/src/utils.rs
  node/cli/src/chain_spec.rs
  scripts/alice-node.sh
  scripts/bob-node.sh
Due: node, crypto

devnet working
  Rocket.toml
  crypto/server/src/utils.rs
  node/cli/src/chain_spec.rs
  scripts/alice-node.sh
  scripts/bob-node.sh
  scripts/purge-chain.sh
  scripts/setup-debian.sh
  scripts/tss.sh
Due: node, crypto

Add scripts for running devnet (#222)
  scripts/alice-node.sh
  scripts/bob-node.sh
  scripts/purge-chain.sh
  scripts/setup-debian.sh
  scripts/tss.sh
Due: none

Create a recoverable signature
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/utils.rs
  test_data/key_shares/0
  test_data/key_shares/1
Due: crypto

refactored EndpointRegister and ThresholdAccounts to ThresholdServer map
  pallets/relayer/src/lib.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  runtime/src/lib.rs
Due: pallets

fmt
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: pallets

cleanup
  pallets/staking/src/lib.rs
Due: pallets

added ServerInfo struct for RPC into node; refactoring
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  node/rpc-api/Cargo.toml
  node/rpc-api/src/lib.rs
  node/rpc-api/src/staking_extension.rs
  node/rpc/Cargo.toml
  node/rpc/src/lib.rs
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
Due: node, pallets

fmt
  crypto/server/src/signing_client/errors.rs
Due: crypto

remove most unwraps
  crypto/server/src/signing_client/errors.rs
Due: crypto

remove mutex unwraps
  crypto/server/src/signing_client/api.rs
Due: crypto

fmt
  crypto/server/src/signing_client/new_party/mod.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
