Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Check that connecting users are part of the signing committee
  crypto/server/src/helpers/signing.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

package conflicts
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/kvdb/Cargo.toml
  crypto/server/Cargo.toml
  crypto/server/src/chain_api.rs
  crypto/shared/Cargo.toml
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/chain_api.rs
  crypto/testing-utils/src/substrate_context.rs
  node/cli/Cargo.toml
  pallets/constraints/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, crypto, pallets, runtime

Use a wrapper over the two websocket connection types so we can have one function handle both incoming and outgoing connections.
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

Variable name, rm comments
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/subscribe/message.rs
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

sign_tx endpoint responds with signature
  crypto/server/src/helpers/signing.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Sign endpoint respond with a stream
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

server compiling
  crypto/constraints/src/constraints.rs
  crypto/server/Cargo.toml
  crypto/server/src/chain_api.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
  crypto/shared/src/constraints.rs
Due: crypto

runtime compiling
  runtime/Cargo.toml
  runtime/build.rs
  runtime/src/lib.rs
Due: runtime

Document updated API for `user/sign_tx`
  crypto/server/src/main.rs
Due: crypto

cargo fmt
  crypto/server/src/main.rs
Due: crypto

compiles
  Cargo.lock
  Cargo.toml
  crypto/constraints/src/constraints.rs
  crypto/server/Cargo.toml
  crypto/server/src/chain_api.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
  crypto/testing-utils/src/chain_api.rs
  crypto/testing-utils/src/substrate_context.rs
  node/cli/Cargo.toml
  node/cli/src/benchmarking.rs
  node/cli/src/cli.rs
  node/cli/src/command.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  pallets/free-tx/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  runtime/build.rs
  runtime/src/lib.rs
Due: node, crypto, pallets, runtime

Decide whether to connect by comparing account IDs, add an extra check that X25519 public keys are correct
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Rm unused import
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

Add timeout for waiting for connections, add test for bogus connection
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

`user/sign_tx` endpoint has signature in the response body (#365)
  crypto/server/src/helpers/signing.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Check that validators given by user when signing match what we expect
  crypto/server/src/user/api.rs
Due: crypto

Rename subscribe to protocol_transport, add doc comments
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
  crypto/server/src/signing_client/protocol_transport/broadcaster.rs
  crypto/server/src/signing_client/protocol_transport/listener.rs
  crypto/server/src/signing_client/protocol_transport/message.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
Due: crypto

server tests working
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/server/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/chain_api.rs
  crypto/testing-utils/src/constants.rs
  crypto/testing-utils/src/node_proc.rs
Due: crypto

Use websockets rather than server sent events for signing protocol messages (#364)
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/helpers/signing.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
  crypto/server/src/signing_client/protocol_transport/broadcaster.rs
  crypto/server/src/signing_client/protocol_transport/listener.rs
  crypto/server/src/signing_client/protocol_transport/message.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Add snow to dependencies
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

Add noise handshake WIP
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

Rm commented code in test
  crypto/server/src/user/tests.rs
Due: crypto

Rm logging
  crypto/server/src/signing_client/protocol_transport/mod.rs
Due: crypto

Reponder checks remote pk on handshaking
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
Due: crypto

Factor noise stuff into separate fn
  crypto/server/src/signing_client/protocol_transport/mod.rs
Due: crypto

Factor noise stuff into separate module
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/signing_client/protocol_transport/noise.rs
Due: crypto

Mv EncryptedWsConnection struct to noise mod
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/signing_client/protocol_transport/noise.rs
Due: crypto

all tests passing
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  pallets/constraints/src/mock.rs
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/mock.rs
  pallets/relayer/src/mock.rs
  pallets/slashing/src/mock.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/transaction-pause/src/mock.rs
Due: node, pallets

fix weights
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/weights.rs
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/weights.rs
  pallets/relayer/src/weights.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/weights.rs
  pallets/transaction-pause/src/benchmarking.rs
  pallets/transaction-pause/src/weights.rs
  runtime/src/weights/pallet_constraints.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_transaction_pause.rs
Due: pallets, runtime

clean warnings
  crypto/server/src/helpers/substrate.rs
  crypto/testing-utils/src/node_proc.rs
  node/cli/src/rpc.rs
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/weights.rs
  pallets/free-tx/src/lib.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
  pallets/slashing/src/lib.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/weights.rs
Due: node, crypto, pallets

Add test for user gives an account ID which is not in the signing group
  crypto/server/src/user/tests.rs
Due: crypto

Error handling
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/signing_client/protocol_transport/noise.rs
Due: crypto

Update test with attempted noise handshake from bogus party
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/signing_client/protocol_transport/noise.rs
  crypto/server/src/user/tests.rs
Due: crypto

Clippy
  crypto/server/src/signing_client/protocol_transport/noise.rs
Due: crypto

Fmt
  crypto/server/src/signing_client/protocol_transport/noise.rs
Due: crypto

clean
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
Due: crypto

clean
  runtime/src/impls.rs
Due: runtime

fmt
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/user/api.rs
  runtime/src/impls.rs
Due: crypto, runtime

lint
  crypto/server/src/user/api.rs
  node/cli/src/benchmarking.rs
  node/cli/src/cli.rs
  node/cli/src/service.rs
Due: node, crypto

Error handling
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
Due: crypto
