Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

licence
  deny.toml
Due: none

benchmarks
  pallets/staking/src/benchmarking.rs
  runtime/src/lib.rs
Due: pallets, runtime

fmt
  pallets/staking/src/benchmarking.rs
  runtime/src/lib.rs
Due: pallets, runtime

lint
  runtime/src/lib.rs
Due: runtime

new licences
  deny.toml
Due: none

changelog
  CHANGELOG.md
  runtime/src/lib.rs
Due: runtime

With custom chain inputs, we no longer use a pre-generated chainspec.
  .github/workflows/container-build-and-push.yaml
Due: none

fixes
  .github/actions/install-dependencies/action.yaml
  CHANGELOG.md
Due: none

Remove option for derivation path
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/user/api.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
Due: pallets

fix benchmarking
  pallets/registry/src/benchmarking.rs
Due: pallets

Remove password file option from `entropy-tss` (#1449)
  CHANGELOG.md
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Document changes
  node/cli/Chainspec-README.md
  node/cli/src/chain_spec/testnet.rs
Due: node

Changelog
  CHANGELOG.md
Due: none

clean
  pallets/attestation/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/staking/src/mock.rs
  runtime/src/impls.rs
Due: pallets, runtime

Add initial authorities to testnet chainspec inputs (#1451)
  CHANGELOG.md
  node/cli/Chainspec-README.md
  node/cli/src/chain_spec/testnet.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Apply PR #1451 adding initial authorities to chainspec inputs
  CHANGELOG.md
  node/cli/Chainspec-README.md
  node/cli/src/chain_spec/testnet.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Fix staking it_deletes_when_no_bond_left test
  pallets/staking/src/tests.rs
Due: pallets

Fix staking it_deletes_when_no_bond_left test (#1459)
  pallets/staking/src/tests.rs
Due: pallets

Make the chainspec generation from chainspec inputs be determinstic
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec/testnet.rs
Due: node

Deference root key used as seed
  node/cli/src/chain_spec/testnet.rs
Due: node

Remove option for derivation path (#1455)
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/user/api.rs
  pallets/attestation/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/staking/src/mock.rs
  runtime/src/impls.rs
Due: pallets, runtime

Use vec, not map for TSS details
  node/cli/src/chain_spec/testnet.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Fix JSON example
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Rm unused import
  node/cli/src/chain_spec/testnet.rs
Due: node

Fix test_validate_jump_start_fail_repeated
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Make the chainspec generation from chainspec inputs be determinstic (#1461)
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec/testnet.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

fix
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fmt
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add endowed accounts from JSON - at compile time
  node/cli/build.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/endowed_accounts.rs
Due: node

Fixes
  node/cli/Cargo.toml
  node/cli/build.rs
  node/cli/src/endowed_accounts.rs
Due: node

Test release 0.4.0 with chainspec inputs (#1447)
  .github/workflows/check-chainspecs.yaml
  .github/workflows/container-build-and-push.yaml
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/shared/src/types.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  node/cli/Cargo.toml
  node/cli/Chainspec-README.md
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/tdx_testnet.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
  node/cli/src/endowed_accounts.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Fix test validate jump start fail repeated (#1463)
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update chainspec readme with following changing how TSS info is given
  node/cli/Chainspec-README.md
Due: node

Bump to 0.4.0-rc.4
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

Add endowed accounts - at compile time (#1466)
  node/cli/Cargo.toml
  node/cli/build.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/endowed_accounts.rs
Due: node

Release candidate 0.4.0-rc.4 (#1468)
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

Deterministic alice bootnodes for testing
  crates/testing-utils/src/node_proc.rs
  crates/testing-utils/src/substrate_context.rs
Due: none
