Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Appease Clippy
  crates/threshold-signature-server/src/user/api.rs
Due: none

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

execute reshare protocol
  crates/protocol/src/execute_protocol.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Replace `mktemp` with GitHub built-in `runner.temp` context variable. (#949)
  .github/workflows/container-build-and-push.yaml
Due: none

Fix OCW HTTP test
  pallets/propagation/src/tests.rs
Due: pallets

Add some docs
  pallets/propagation/src/lib.rs
  pallets/registry/src/lib.rs
Due: pallets

Clean up verifying key check
  pallets/registry/src/lib.rs
Due: pallets

Add instructions for adding Charlie Docker address to `/etc/hosts`
  README.md
  crates/test-cli/README.md
Due: none

Use correct DKG call in jumpstart test
  pallets/registry/src/tests.rs
Due: pallets

Fix warnings when running Staking tests
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Split jumpstart and register flows (#952)
  CHANGELOG.md
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/src/service.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: node, pallets

prepare refresh tests
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Add parent verifying key to chain (#951)
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Trial of using types and derivation code
  Cargo.lock
  pallets/registry/Cargo.toml
  pallets/registry/src/lib.rs
Due: pallets

proactive refresh test
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Move new registration code to its own extrinsic
  pallets/registry/src/lib.rs
Due: pallets

Use my branch of Synedrion
  Cargo.lock
  pallets/registry/Cargo.toml
Due: pallets

Sketch out using the account ID as derivation path
  pallets/registry/src/lib.rs
Due: pallets

Basic test setup
  pallets/registry/src/tests.rs
Due: pallets

Remove session hash from protocol message and use internal session id from synedrion instead
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/protocol_message.rs
Due: none

Fix warnings when running Staking tests (#954)
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Add instructions for adding Charlie Docker address to `/etc/hosts` (#953)
  README.md
  crates/test-cli/README.md
Due: none

Use a `CountedStorageMap` for `Registered` struct
  pallets/registry/src/lib.rs
Due: pallets

Add some error handling
  pallets/registry/src/lib.rs
Due: pallets

Tidy genesis build
  pallets/registry/src/lib.rs
Due: pallets

Add registration struct for new flow
  pallets/registry/src/lib.rs
Due: pallets

Use updated `RegisteredInfo` struct in tests
  pallets/registry/src/tests.rs
Due: pallets

Test flow and validate verifying key
  pallets/registry/src/tests.rs
Due: pallets

add more info from chain
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Remove session hash from protocol message (#956)
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/protocol_message.rs
Due: none

error handling
  crates/protocol/src/lib.rs
  crates/protocol/tests/helpers/mod.rs
  crates/protocol/tests/protocol.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
Due: none

clean
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

clean
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/src/service.rs
  pallets/propagation/src/lib.rs
Due: node, pallets

metadata
  crates/client/entropy_metadata.scale
Due: none

Encode the signature request account in place
  pallets/registry/src/lib.rs
Due: pallets

Update some of the variable names
  pallets/registry/src/lib.rs
Due: pallets

Revert registration struct to be indexed by verifying key
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Initialize `RegisteredOnChain` during genesis builds
  pallets/registry/src/lib.rs
Due: pallets

Remove check that a `signature_request_account` can only register once
  pallets/registry/src/lib.rs
Due: pallets

Insert verifying key into `ModifiableKeys` storage struct
  pallets/registry/src/lib.rs
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
