Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Error handle when serializing session ID
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/lib.rs
Due: none

Tidy
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

spelling
  crates/protocol/src/user/mod.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

Changelog
  CHANGELOG.md
Due: none

Doccomment
  crates/protocol/src/lib.rs
Due: none

inline docs
  crates/testing-utils/src/constants.rs
  crates/testing-utils/src/tss_server_process.rs
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

fix test
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

changelog
  CHANGELOG.md
Due: none

fix event issue
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

lint
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

clean
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

Use SessionId in shared randomness (#676)
  CHANGELOG.md
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/user/mod.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

Add helper to derive keypair and give only publickey as a X25519PublicKey
  crates/protocol/src/hpke/with_sr25519.rs
Due: none

Expose new helper
  crates/threshold-signature-server/src/validation/mod.rs
Due: none

Update validator test
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

clean
  crates/testing-utils/src/constants.rs
  crates/testing-utils/src/tss_server_process.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  pallets/registry/src/lib.rs
Due: pallets

Update pallets/registry/src/lib.rs
  pallets/registry/src/lib.rs
Due: pallets

fix
  pallets/registry/src/lib.rs
Due: pallets

Update crates/test-cli/src/main.rs
  crates/test-cli/src/main.rs
Due: none

fixes
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

Add signature and shift things around
  crates/protocol/src/hpke/mod.rs
  crates/protocol/src/hpke/with_sr25519.rs
Due: none

Tweak api to make it similar to the old one
  crates/protocol/src/hpke/mod.rs
  crates/protocol/src/hpke/with_sr25519.rs
Due: none

Update TSS code
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validation/mod.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Use alice sk when writing to bob in test
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Use bob sk when writing to bob in test
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

clean
  Cargo.lock
  crates/shared/Cargo.toml
  crates/shared/src/constants.rs
  crates/shared/src/lib.rs
  crates/testing-utils/src/constants.rs
  crates/testing-utils/src/tss_server_process.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/Cargo.toml
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
Due: node, pallets

Apply suggestions from code review
  CHANGELOG.md
  crates/test-cli/src/main.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  pallets/registry/src/lib.rs
Due: pallets

clean
  crates/test-cli/src/main.rs
Due: none

clean
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

fix
  crates/shared/src/constants.rs
Due: none

fmt
  crates/shared/src/constants.rs
Due: none

lint
  pallets/registry/src/lib.rs
Due: pallets

fix wasm
  crates/shared/Cargo.toml
Due: none

fix
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

Remove permissioned (#666)
  CHANGELOG.md
  Cargo.lock
  crates/protocol/src/lib.rs
  crates/protocol/src/user/mod.rs
  crates/shared/Cargo.toml
  crates/shared/src/constants.rs
  crates/shared/src/lib.rs
  crates/shared/src/types.rs
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/testing-utils/src/tss_server_process.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: node, pallets

First go at re-work of Slashing pallet
  pallets/slashing/src/lib.rs
  pallets/slashing/src/mock.rs
  pallets/slashing/src/tests.rs
Due: pallets
