Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Add `prune_registration` extrinsic (#472)
  CHANGELOG.md
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_relayer.rs
  scripts/benchmarks.sh
Due: crypto, pallets, runtime

Taplo
  crypto/testing-utils/Cargo.toml
Due: crypto

Update nodejs script to also test DKG
  crypto/protocol/nodejs-test/index.js
Due: crypto

Add test for user participates in DKG protocol on nodejs
  crypto/server/src/user/tests.rs
Due: crypto

Bump synedrion
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
Due: crypto

Update crypto/server/src/user/api.rs
  crypto/server/src/user/api.rs
Due: crypto

fmt
  crypto/server/src/user/tests.rs
Due: crypto

remove old script
  README.md
  scripts/docker_run.sh
Due: none

Remove Docker reference (for now)
  README.md
Due: none

Add a couple more notes to the `RELEASE_CHECKLIST`
  RELEASE_CHECKLIST.md
Due: none

Remove extra line from `CHANGELOG`
  CHANGELOG.md
Due: none

Update metadata
  crypto/server/entropy_metadata.scale
Due: crypto

Release `v0.0.8` (#471)
  CHANGELOG.md
  Cargo.lock
  RELEASE_CHECKLIST.md
  crypto/protocol/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/weights.rs
  pallets/helpers/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/programs/src/weights.rs
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/relayer/src/weights.rs
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/staking/src/weights.rs
  pallets/transaction-pause/Cargo.toml
  pallets/transaction-pause/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_transaction_pause.rs
Due: node, crypto, pallets, runtime

Minor edit to how error is displayed
  crypto/protocol/src/errors.rs
Due: crypto

Add base64 dependency
  crypto/protocol/Cargo.toml
Due: crypto

Add logging, return a base64 signature
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/user/mod.rs
  crypto/protocol/src/user/wasm.rs
Due: crypto

Improve test logging
  crypto/server/src/user/tests.rs
Due: crypto

Remove old Docker related script (#478)
  README.md
  scripts/docker_run.sh
Due: none

Temporary band-aid fix for CI to unblock `entropy-js` developers.
  .github/workflows/build-and-release.yaml
  Dockerfile
Due: none

Update branch names
  .github/workflows/build-and-release.yaml
Due: none

Update test client for changes in master
  Cargo.lock
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/chain_api.rs
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

rename program structs
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

fmt
  crypto/server/src/user/api.rs
Due: crypto

Change container distro to Debian and Ubuntu to avoid runtime errors.
  .github/workflows/build-and-release.yaml
  Dockerfile
  bin/entrypoint.sh
Due: none

Closes #479: Update README to include new Docker Compose instructions.
  README.md
Due: none

More specific docs links.
  README.md
Due: none

Predicates, lol.
  README.md
Due: none

fmt
  pallets/propagation/src/lib.rs
Due: pallets

add to validate proactive refresh endpoint
  Cargo.lock
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/types.rs
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/mock.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: node, crypto, pallets

clean
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
  crypto/shared/src/types.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

working tests
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

fmt
  node/cli/Cargo.toml
Due: node

docs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

metadata
  crypto/server/entropy_metadata.scale
Due: crypto

Update to use main branch of x25519chacha20poly1305
  Cargo.lock
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Change container distro to Debian and Ubuntu to avoid runtime errors. (#481)
  .github/workflows/build-and-release.yaml
  Dockerfile
  bin/entrypoint.sh
Due: none

renamed and explained testing variables
  crypto/server/src/user/tests.rs
  crypto/testing-utils/example_barebones_with_extra.wasm
  crypto/testing-utils/src/constants.rs
Due: crypto

refactored extra to auxilary
  crypto/testing-utils/example_barebones_with_auxilary.wasm
  crypto/testing-utils/src/constants.rs
Due: crypto

Also remark on how to view logs.
  README.md
Due: none

Link to Substrate dependency and installation instructions, too.
  README.md
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
