Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Update mock configs to non-V2 versions
  pallets/constraints/src/benchmarking.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/mock.rs
  pallets/transaction-pause/src/mock.rs
Due: pallets

Put extern crate alloc at top level lib.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/user/wasm.rs
Due: crypto

Fmt
  crypto/protocol/src/lib.rs
  crypto/protocol/src/user/wasm.rs
Due: crypto

Workflow for automated GitHub Release drafting/publishing.
  .github/workflows/build-and-release.yaml
Due: none

Workflow for automated GitHub Release drafting/publishing. (#429)
  .github/workflows/build-and-release.yaml
Due: none

Write a Dockerfile that can build both `entropy` and `server`.
  .dockerignore
  Dockerfile
  bin/entrypoint.sh
Due: none

Use permissioned-programs branch of ec-runtime
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

Update barebones test program
  crypto/testing-utils/template_barebones.wasm
Due: crypto

Pass signature request key to program
  crypto/server/src/user/api.rs
Due: crypto

Add features show all registered accounts, and fund an account with sudo
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Remove code related to BTC and ETH ACLs
  pallets/constraints/src/lib.rs
Due: pallets

Remove references to EVM/BTC ACLs in benchmarking code
  pallets/constraints/src/benchmarking.rs
Due: pallets

Add clarifying comment on multi-stage builds.
  Dockerfile
Due: none

Write a Dockerfile that can build both `entropy` and `server`. (#430)
  .dockerignore
  Dockerfile
  bin/entrypoint.sh
Due: none

Reorder, sort excluded items listed in `.dockerignore`.
  .dockerignore
Due: none

Provide a "local devnet" setup with Docker Compose.
  .dockerignore
  Dockerfile
  docker-compose.yaml
  docker-compose.yml
Due: none

Use contraints V2 code in `Relayer::confirm_register` workflow
  pallets/constraints/src/lib.rs
  pallets/relayer/src/lib.rs
Due: pallets

Update relayer tests
  pallets/relayer/src/tests.rs
Due: pallets

Update `server` to use new `register` API
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/user/tests.rs
Due: crypto

Update Propagation pallet tests
  pallets/propagation/src/tests.rs
Due: pallets

Clean up docs a bit
  pallets/relayer/src/lib.rs
Due: pallets

Clean up wording
  pallets/relayer/src/lib.rs
Due: pallets

Check that the program length is fine in the relayer pallet.
  pallets/relayer/src/lib.rs
Due: pallets

Allow either SSH or GitHub PAT as authentication method while building.
  Dockerfile
Due: none

Use SSH agent forwarding when running `docker compose` as well.
  docker-compose.yaml
Due: none

We don't use IPv6 (yet?) in the Docker Network, don't even ask for it.
  docker-compose.yaml
Due: none

Appease Clippy
  pallets/relayer/src/lib.rs
Due: pallets

RustFmt
  crypto/server/src/helpers/substrate.rs
Due: crypto

Fix types for wasm run_dkg fn and add fn to run signing protocol from JS
  crypto/protocol/src/user/wasm.rs
Due: crypto

WIP Update nodejs test
  crypto/protocol/nodejs-test/index.js
  crypto/protocol/nodejs-test/yarn.lock
Due: crypto

Tags in the `test/` tagspace should also be auto-marked as prerelease.
  .github/workflows/build-and-release.yaml
Due: none

Update field naming in benchmarking
  pallets/relayer/src/benchmarking.rs
Due: pallets

Update `Relayer::register` benchmark
  pallets/relayer/src/benchmarking.rs
Due: pallets

Update `weights.rs` file
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
Due: pallets

Update the other set of weights
  runtime/src/weights/pallet_relayer.rs
Due: runtime

Update time between registrations
  crypto/server/src/user/tests.rs
Due: crypto

Developer experience improvements: SSH auth from workstations, entirely local "devnet" functionality with Compose (#434)
  .dockerignore
  .github/workflows/build-and-release.yaml
  Dockerfile
  docker-compose.yaml
  docker-compose.yml
Due: none

Add the benchmark template from the Polkadot v0.9.43 release
  .maintain/frame-weight-template.hbs
Due: none

Fix ValidatorInfo type for wasm
  crypto/protocol/src/user/wasm.rs
Due: crypto

Remove `is_swapping` field from registration details
  crypto/server/src/user/api.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets
