Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Release `v0.3.0` (#1129)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

Hopefully fix staking extension pallet benchmarking for validate extrinsic
  pallets/staking/src/benchmarking.rs
Due: pallets

fix benchmark
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

fmt
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
Due: pallets

Release `v0.3.0` against new branch (#1133)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

fix
  pallets/staking/src/lib.rs
Due: pallets

comment
  pallets/staking/src/lib.rs
Due: pallets

Remove declare synced
  pallets/registry/src/benchmarking.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Update crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

fix type
  crates/shared/src/types.rs
Due: none

fix benches
  pallets/registry/src/benchmarking.rs
Due: pallets

metaqdata
  crates/client/entropy_metadata.scale
Due: none

fix
  pallets/registry/src/benchmarking.rs
Due: pallets

Improve documentation references in `README` (#1124)
  README.md
Due: none

changes
  CHANGELOG.md
  crates/threshold-signature-server/src/helpers/launch.rs
  docker-compose.yaml
  pallets/registry/src/benchmarking.rs
  pallets/staking/src/lib.rs
Due: pallets

change
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Update pallets/staking/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

Update pallets/staking/src/tests.rs
  pallets/staking/src/tests.rs
Due: pallets

Update pallets/staking/src/pck/production.rs
  pallets/staking/src/pck/production.rs
Due: pallets

Typo in struct name and improve test readablilty
  pallets/staking/src/pck/production.rs
Due: pallets

Rm calls to mock_attest_validate in staking pallet test as fn is now removed
  pallets/staking/src/tests.rs
Due: pallets

Handle errors in production verify_cert fn
  pallets/staking/src/pck/production.rs
Due: pallets

Doccomments
  pallets/staking/src/pck/mod.rs
Due: pallets

Alphabetically sort runtime config types
  pallets/attestation/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/mock.rs
  runtime/src/lib.rs
Due: pallets, runtime

Changelog
  CHANGELOG.md
Due: none

derive serialize and deserialize for JoiningServerInfo
  pallets/staking/src/lib.rs
Due: pallets

Rename struct (typo)
  pallets/attestation/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/pck/mock.rs
  pallets/staking/src/pck/mod.rs
  runtime/src/lib.rs
Due: pallets, runtime

Remove declare synced (#1134)
  CHANGELOG.md
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/launch.rs
  docker-compose.yaml
  pallets/registry/src/benchmarking.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Check current signers still validators (#1097)
  crates/client/entropy_metadata.scale
  crates/protocol/src/execute_protocol.rs
  crates/protocol/tests/helpers/mod.rs
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/register_sign_reshare_sign.rs
  node/cli/src/chain_spec/integration_tests.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: node, pallets, runtime

Make it clearer what is happenning with the PCK generation in staking pallet benchmark
  pallets/staking/src/benchmarking.rs
Due: pallets

Use intel root cert from web link and link to it in doccomments
  pallets/staking/src/pck/Intel_SGX_Provisioning_Certification_RootCA.cer
  pallets/staking/src/pck/production.rs
Due: pallets

update to substrate 1.7.0
  Cargo.lock
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Fix staking pallet benchmarks in always generate a mock quote before validate
  pallets/staking/src/benchmarking.rs
Due: pallets

Slightly improve error conversion
  pallets/staking/src/lib.rs
Due: pallets

Handle PCK certificates (#1068)
  CHANGELOG.md
  Cargo.lock
  crates/client/entropy_metadata.scale
  pallets/attestation/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/pck/Intel_SGX_Provisioning_Certification_RootCA.cer
  pallets/staking/src/pck/mock.rs
  pallets/staking/src/pck/mod.rs
  pallets/staking/src/pck/production.rs
  pallets/staking/src/tests.rs
  pallets/staking/test_pck_certs/pck_cert.der
  pallets/staking/test_pck_certs/platform_pcs_cert.der
  runtime/src/lib.rs
Due: pallets, runtime

Re-apply fjarris suggestions
  crates/protocol/src/execute_protocol.rs
Due: none

Use RwLock rather than mutex
  crates/protocol/src/execute_protocol.rs
Due: none

add run to all blocks
  crates/threshold-signature-server/tests/register_sign_reshare_sign.rs
Due: none

Dont use a mutex
  crates/protocol/src/execute_protocol.rs
Due: none
