Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

name
  pallets/programs/src/lib.rs
Due: pallets

has aux
  crates/test-cli/src/main.rs
Due: none

Apply suggestions from code review
  CHANGELOG.md
  crates/testing-utils/src/test_client/mod.rs
  pallets/programs/src/lib.rs
Due: pallets

Add checked add to set program (#689)
  pallets/programs/src/lib.rs
Due: pallets

clean
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  pallets/programs/src/lib.rs
Due: pallets

fmt
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
Due: none

fmt
  crates/test-cli/src/main.rs
Due: none

fix
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

quick fix
  CHANGELOG.md
  crates/test-cli/src/main.rs
Due: none

Add auxiliary data to `ProgramInfo` (#681)
  CHANGELOG.md
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

Dont include block number when comparing hashes
  crates/threshold-signature-server/src/chain_api.rs
  crates/threshold-signature-server/src/signing_client/api.rs
Due: none

Clippy
  crates/threshold-signature-server/src/signing_client/api.rs
Due: none

test for private acces mode not breaking proactive refresh
  crates/threshold-signature-server/src/signing_client/tests.rs
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Check for timeout reached in store_share test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Fix JS test
  crates/protocol/nodejs-test/index.test.js
Due: none

Update JS readme for entropy-protocol
  crates/protocol/js-README.md
Due: none

Update entropy-protocol wasm integration test
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

Add bad signature test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Fix tracing spans
  crates/threshold-signature-server/src/user/api.rs
Due: none

Add bad signature test in validator tests
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Add negative test to JS tests
  crates/protocol/nodejs-test/index.test.js
Due: none

Test for private acces mode not breaking proactive refresh (#702)
  crates/threshold-signature-server/src/signing_client/tests.rs
  node/cli/src/chain_spec/integration_tests.rs
Due: node

adds a check for out of bounds custom hash (#684)
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

set is validator synced to false when full withdrawn (#690)
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Changelog
  CHANGELOG.md
Due: none

metadata
  crates/threshold-signature-server/entropy_metadata.scale
Due: none

add aux data
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/programs/src/lib.rs
Due: node, pallets

Logging
  crates/threshold-signature-server/src/validator/api.rs
Due: none

add max instructions params onchain
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/user/api.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/tests.rs
Due: node, pallets

benchmarks
  pallets/parameters/src/lib.rs
  pallets/parameters/src/weights.rs
  runtime/src/weights/pallet_parameters.rs
Due: pallets, runtime

changelog
  CHANGELOG.md
Due: none

Add block number to Session Id for DKG and proactive refresh sessions (TOB-ENTROPY-2) (#687)
  Cargo.lock
  crates/protocol/nodejs-test/index.js
  crates/protocol/src/lib.rs
  crates/protocol/src/user/mod.rs
  crates/protocol/src/user/wasm.rs
  crates/shared/src/types.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/chain_api.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
Due: pallets

Apply suggestions from code review
  pallets/parameters/src/tests.rs
Due: pallets

fix
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/user/api.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/parameters/src/tests.rs
Due: node, pallets

Add max instructions parameters onchain (#703)
  CHANGELOG.md
  crates/shared/src/constants.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/user/api.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/tests.rs
  pallets/parameters/src/weights.rs
  runtime/src/weights/pallet_parameters.rs
Due: node, pallets, runtime

refactor sign_tx test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Apply suggestions from code review
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Try buildings docs on `stable`
  Makefile
Due: none

Temporarily remove other jobs
  .circleci/then.yml
Due: none

Make expected output directory
  Makefile
Due: none
