Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Taplo
  node/cli/Cargo.toml
Due: node

Update registry pallet benchmark / tests
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
Due: pallets

Pull chain metadata
  crates/client/entropy_metadata.scale
Due: none

Update entropy-client
  crates/client/src/client.rs
Due: none

Update propagation pallet mock
  pallets/propagation/src/mock.rs
Due: pallets

Fix ```Validate_jumpstart_fail``` (#1477)
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update TSS and client tests
  crates/client/src/tests.rs
  crates/shared/src/attestation.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  crates/threshold-signature-server/src/node_info/api.rs
Due: none

Update TSS and client tests
  crates/threshold-signature-server/src/attestation/tests.rs
Due: none

Quote should be encoded as hex on the /info output
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Comment
  crates/shared/Cargo.toml
Due: none

Typos, comments, tidy
  crates/shared/src/attestation.rs
  crates/threshold-signature-server/src/attestation/api.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
Due: pallets

Rename outtie to forest
  Cargo.lock
  crates/shared/src/attestation.rs
  pallets/attestation/src/lib.rs
  pallets/forest/Cargo.toml
  pallets/forest/src/benchmarking.rs
  pallets/forest/src/lib.rs
  pallets/forest/src/mock.rs
  pallets/forest/src/tests.rs
  pallets/forest/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_forest.rs
  scripts/single_benchmark.sh
Due: pallets, runtime

fix benchmarks
  pallets/forest/src/benchmarking.rs
  pallets/forest/src/weights.rs
  runtime/src/weights/pallet_forest.rs
Due: pallets, runtime

lint
  pallets/forest/src/benchmarking.rs
  runtime/src/weights/mod.rs
Due: pallets, runtime

Changelog
  CHANGELOG.md
Due: none

Add client fn to verify TSS nodes TDX quotes
  crates/client/Cargo.toml
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/client/src/tests.rs
  crates/client/src/user.rs
Due: none

Change quote input data to allow for unknown nonce
  crates/shared/src/attestation.rs
Due: none

Add client function to verify TSS quotes, and make it possible to check quote input without knowing the nonce
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/client/src/tests.rs
  crates/client/src/user.rs
  crates/shared/src/attestation.rs
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/backup_provider/errors.rs
Due: none

update metadata
  crates/client/entropy_metadata.scale
Due: none

changelog
  CHANGELOG.md
Due: none

Also check measurements
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/shared/src/attestation.rs
Due: none

No need to convert account ids
  crates/shared/src/attestation.rs
Due: none

Typo
  crates/client/src/client.rs
Due: none

Typo
  crates/client/src/tests.rs
Due: none

Clippy
  crates/client/src/client.rs
  crates/client/src/tests.rs
Due: none

Try ommitting branch name to see whether rustembed will be able to build the project with only the commit hash
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Add get branch name job
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Image name
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Fix getting branch name
  .github/workflows/entropy-tss-cvm.yaml
Due: none

WIP CVM build workflow
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Hopefully fix how path is specified
  .github/workflows/build-and-release.yaml
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Create release artifact of CVM image
  .github/workflows/build-and-release.yaml
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Build entropy-tss cvm image
  .github/workflows/build-and-release.yaml
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Only upload the version of the image we need for GCP
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Only run workflow if non-tdx is not given
  .github/workflows/build-and-release.yaml
Due: none

Update release checklist
  RELEASE_CHECKLIST.md
Due: none

Dont set ref for yocto build repo
  .github/workflows/entropy-tss-cvm.yaml
Due: none

Apply suggestions from code review
  pallets/forest/src/lib.rs
Due: pallets

fix
  pallets/forest/src/benchmarking.rs
  pallets/forest/src/lib.rs
  runtime/src/weights/pallet_forest.rs
Due: pallets, runtime

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
