Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Taplo
  runtime/Cargo.toml
Due: runtime

Try instead - downgrading rust
  .github/actions/install-dependencies/action.yaml
  runtime/Cargo.toml
Due: runtime

Update rust-toolchain.toml
  rust-toolchain.toml
Due: none

Trivial doccomment change to trigger CI tests
  crates/threshold-signature-server/src/lib.rs
Due: none

Use 1.86 - as 1.78 is too old for our dependencies
  .github/actions/install-dependencies/action.yaml
  rust-toolchain.toml
Due: none

Cherry pick downgrade rust
  .github/actions/install-dependencies/action.yaml
  rust-toolchain.toml
Due: none

Install rustfmt for the toolchain used
  .github/workflows/lint-and-check-licenses.yaml
Due: none

Taplo
  rust-toolchain.toml
Due: none

Install clippy
  .github/workflows/lint-and-check-licenses.yaml
Due: none

Apply suggestions from review
  .github/actions/install-dependencies/action.yaml
  crates/threshold-signature-server/src/lib.rs
  rust-toolchain.toml
Due: none

Install rustfmt and clippy
  .github/workflows/lint-and-check-licenses.yaml
Due: none

Changelog
  CHANGELOG.md
Due: none

Fix for release v0.4.0 (#1432)
  .github/actions/install-dependencies/action.yaml
  .github/workflows/build-and-run-node-test.yaml
  .github/workflows/lint-and-check-licenses.yaml
  crates/kvdb/src/encrypted_sled/tests.rs
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/backup_provider/errors.rs
  crates/threshold-signature-server/src/backup_provider/tests.rs
  crates/threshold-signature-server/src/lib.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/service.rs
  rust-toolchain.toml
Due: node

Fixes for entropy-client on wasm
  crates/shared/src/attestation.rs
Due: none

Downgrade rust version to 1.86 as a temporary measure until we upgrade sp-io (#1436)
  .github/actions/install-dependencies/action.yaml
  .github/workflows/lint-and-check-licenses.yaml
  CHANGELOG.md
  crates/threshold-signature-server/src/lib.rs
  rust-toolchain.toml
Due: none

Fixes for entropy-client on wasm for release v0.4.0 (#1437)
  crates/shared/src/attestation.rs
Due: none

For now, only task tss measurement values as an input for testnet chainspec
  node/cli/src/chain_spec/testnet.rs
Due: node

Update arg to testnet genesis config
  node/cli/src/chain_spec/testnet.rs
Due: node

Update to stable2503-4
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/shared/src/types.rs
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/outtie/Cargo.toml
  pallets/outtie/src/lib.rs
  pallets/parameters/Cargo.toml
  pallets/parameters/src/lib.rs
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  rust-toolchain.toml
Due: node, pallets, runtime

remove strum
  Cargo.lock
  crates/shared/Cargo.toml
  rust-toolchain.toml
Due: none

a lot of small fixes
  Cargo.lock
  crates/shared/src/types.rs
  pallets/attestation/src/mock.rs
  pallets/outtie/src/lib.rs
  pallets/parameters/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/mock.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/pallet_identity.rs
Due: pallets, runtime

more fixes
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_transaction_payment.rs
Due: runtime

Trivial non-code change to bypass testing (very bad i know)
  README.md
Due: none

Add attestation logic to Outtie pallet (#1431)
  Cargo.lock
  README.md
  crates/client/entropy_metadata.scale
  crates/shared/src/attestation.rs
  crates/threshold-signature-server/src/attestation/api.rs
  node/cli/Cargo.toml
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/mock.rs
  pallets/outtie/Cargo.toml
  pallets/outtie/src/benchmarking.rs
  pallets/outtie/src/lib.rs
  pallets/outtie/src/mock.rs
  pallets/outtie/src/tests.rs
  pallets/parameters/Cargo.toml
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/mock.rs
  runtime/src/lib.rs
Due: node, pallets, runtime

Bump package versions to `v0.4.0-rc.3`
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

Bump lockfile
  Cargo.lock
Due: none

Bump package versions to `v0.4.0-rc.3` (#1440)
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

Build chainspec artifact from example inputs
  .github/workflows/container-build-and-push.yaml
  data/testnet/example-chainspec-inputs.json
Due: none

Correct filename in CI script
  .github/workflows/container-build-and-push.yaml
Due: none

weights
  runtime/src/lib.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_utility.rs
Due: runtime

runtime
  pallets/registry/src/lib.rs
  pallets/staking/src/lib.rs
  runtime/src/lib.rs
Due: pallets, runtime

service file
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
  node/cli/src/service.rs
  pallets/registry/src/lib.rs
  pallets/staking/src/lib.rs
  runtime/src/lib.rs
Due: node, pallets, runtime

Add a blank testnet chainspec
  .github/workflows/check-chainspecs.yaml
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

Add some Tss servers to the blank config
  node/cli/src/chain_spec/testnet.rs
Due: node

fix wasm leak
  Cargo.lock
  crates/shared/Cargo.toml
Due: none
