Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Add test for EncryptedConnection
  crypto/protocol/Cargo.toml
  crypto/protocol/src/protocol_transport/noise.rs
Due: crypto

fmt
  crypto/server/src/validator/api.rs
Due: crypto

Use bincode rather than JSON for protocol and subscribe messages (#492)
  Cargo.lock
  crypto/protocol/Cargo.toml
  crypto/protocol/src/errors.rs
  crypto/protocol/src/protocol_message.rs
  crypto/protocol/src/protocol_transport/errors.rs
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/protocol_transport/noise.rs
  crypto/protocol/src/user.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/protocol_transport.rs
  crypto/server/src/user/tests.rs
Due: crypto

Merge master and update test
  crypto/protocol/src/protocol_transport/noise.rs
Due: crypto

Allow big messages on EncryptedConnection and add a test for it
  crypto/protocol/src/protocol_transport/noise.rs
Due: crypto

Add doc comments
  crypto/protocol/src/protocol_transport/noise.rs
Due: crypto

Add test for `EncryptedConnection` (#494)
  crypto/protocol/Cargo.toml
  crypto/protocol/src/protocol_transport/noise.rs
Due: crypto

Allow test suite to take `ENTROPY_NODE` environment variable
  crypto/testing-utils/src/substrate_context.rs
Due: crypto

Update README
  README.md
Due: none

Remove `dbg!` statement
  crypto/testing-utils/src/substrate_context.rs
Due: crypto

change SocketAddr type for String
  crypto/protocol/src/lib.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

lint
  crypto/protocol/src/lib.rs
Due: crypto

refactors
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

refactor
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

Allow big protocol messages (#495)
  crypto/protocol/src/protocol_transport/noise.rs
Due: crypto

Changes following merging master
  Cargo.lock
  crypto/protocol/Cargo.toml
  crypto/protocol/Makefile
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

Add check to CI that entropy-protocol will compile to wasm
  .circleci/then.yml
Due: none

Change `SocketAddr` type for `String` (#496)
  crypto/protocol/src/lib.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

Add `ENTROPY_NODE` environment variable (#497)
  README.md
  crypto/testing-utils/src/substrate_context.rs
Due: crypto

create validator name enum
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
Due: crypto

Update crypto/server/src/validator/api.rs
  crypto/server/src/validator/api.rs
Due: crypto

Update crypto/testing-utils/src/substrate_context.rs
  crypto/testing-utils/src/substrate_context.rs
Due: crypto

refactor
  crypto/server/src/validator/api.rs
Due: crypto

Integration test for validator joining network (#493)
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  crypto/testing-utils/src/node_proc.rs
  crypto/testing-utils/src/substrate_context.rs
  node/cli/src/endowed_accounts.rs
Due: node, crypto

Improve tests and tidy
  crypto/protocol/Makefile
  crypto/protocol/nodejs-test/index.js
  crypto/server/src/user/tests.rs
Due: crypto

Attempt to build entropy-protocol nodejs package in CI
  .circleci/then.yml
Due: none

Fix CI script
  .circleci/then.yml
Due: none

Another fix to CI script
  .circleci/then.yml
Due: none

Add link to issue to TODO
  crypto/protocol/src/execute_protocol.rs
Due: crypto

Improve wasm_register test
  crypto/server/src/user/tests.rs
Due: crypto

Update server tests for changed ValidatorInfo type
  crypto/server/src/user/tests.rs
Due: crypto

Rm comment
  .circleci/then.yml
Due: none

Updates following changes to master
  crypto/server/src/user/tests.rs
Due: crypto

Updates following changes to master
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/common.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Use x25519-dalek v2.0.0
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
  crypto/testing-utils/Cargo.toml
Due: crypto

add 496 to changelog
  CHANGELOG.md
Due: none

add 496 to changed
  CHANGELOG.md
Due: none
