Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Get tests compiling
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Remove tests related to key syncing
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add check that validator is actually in set and not just a candidate
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Remove commented code
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/registry/src/benchmarking.rs
Due: pallets

Appease Clippy
  pallets/registry/src/lib.rs
Due: pallets

Remove commented code
  crates/threshold-signature-server/src/user/api.rs
Due: none

Add third validator to jumpstart tests
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Remove `KeyVisiblity` from registry tests
  pallets/registry/src/tests.rs
Due: pallets

Switch to `KeyShareWithAuxInfo`
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Don't use with `WithAuxInfo` variant
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add validators to benchmark validator set
  pallets/registry/src/benchmarking.rs
Due: pallets

Add ID of validator which confirmed jump start to event
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
Due: pallets

Fix some formatting
  pallets/registry/src/benchmarking.rs
Due: pallets

add aux info back into key
  crates/threshold-signature-server/src/user/api.rs
Due: none

fix jumpstart test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Remove subgroups from jumpstart (#936)
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Add Signer groups and randmoness
  Cargo.lock
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Add exponential backoff when connecting to Substrate node
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/main.rs
Due: none

Split out code for getting threshold account ID from mnemonic check
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
Due: none

Make TSS balance check non-fatal
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
Due: none

Get rid of import warnings
  crates/threshold-signature-server/src/main.rs
Due: none

Move account check out of `setup_mnemonic`
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
Due: none

Move code for checking node connection and TSS balance to a helper
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
Due: none

Update lockfile
  Cargo.lock
Due: none

TaploFmt
  crates/threshold-signature-server/Cargo.toml
Due: none

Use correct account in test
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Use `threshold_account_id()` in tests
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Remove `dbg!` statement
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Make TSS startup checks more forgiving (#934)
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

add parameters
  crates/client/src/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
  pallets/parameters/src/weights.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_parameters.rs
Due: node, pallets, runtime

Add Charlie node and TSS to Docker compose config
  docker-compose.yaml
Due: none

Add third validator to `devnet-local` chainspec
  node/cli/src/chain_spec/dev.rs
  node/cli/src/command.rs
Due: node

Include the `create-test-keyshares` crate in Docker builds
  .dockerignore
Due: none

add signer roation
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

changelog
  CHANGELOG.md
Due: none

Fix port number in chainspec
  node/cli/src/chain_spec/dev.rs
Due: node

docs
  pallets/staking/src/lib.rs
Due: pallets

lint
  pallets/parameters/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

Add three-node `devnet-local` configuration (#940)
  .dockerignore
  docker-compose.yaml
  node/cli/src/chain_spec/dev.rs
  node/cli/src/command.rs
Due: node
