Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Use actual Markdown checkboxes
  RELEASE_CHECKLIST.md
Due: none

Add more details around tagging
  RELEASE_CHECKLIST.md
Due: none

Remove features used by `nightly`
  .rustfmt.toml
Due: none

Format .rustfmt.toml
  .rustfmt.toml
Due: none

Use stable toolchain for format script (#461)
  .rustfmt.toml
  scripts/fmt.sh
Due: none

Add `RELEASE_CHECKLIST` (#463)
  RELEASE_CHECKLIST.md
Due: none

Refactor CI to reusable (callable) workflows, build container images.
  .circleci/sign-and-upload.yml
  .github/workflows/build-and-release.yaml
  .github/workflows/container-build-and-push.yaml
  .github/workflows/git-ref-basename.yaml
  docker-compose-common.yaml
  docker-compose.yaml
Due: none

Refactor CI to reusable (callable) workflows, build container images. (#465)
  .circleci/sign-and-upload.yml
  .github/workflows/build-and-release.yaml
  .github/workflows/container-build-and-push.yaml
  .github/workflows/git-ref-basename.yaml
  docker-compose-common.yaml
  docker-compose.yaml
Due: none

Reduce authoring version and add some `RuntimeVersion` comments
  runtime/src/lib.rs
Due: runtime

Reduce `authoring_version` and add `RuntimeVersion` comments (#467)
  runtime/src/lib.rs
Due: runtime

fix socket addr type
  crypto/protocol/src/lib.rs
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

Use only neccessary features of subxt-signer crate
  crypto/protocol/Cargo.toml
Due: crypto

Update crypto/server/src/user/tests.rs
  crypto/server/src/user/tests.rs
Due: crypto

fix test
  crypto/server/src/user/tests.rs
Due: crypto

change error message
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

Fix socket addres type (#469)
  crypto/protocol/src/lib.rs
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

add way for validators to resolve different verifying keys
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

inline docs
  pallets/relayer/src/lib.rs
Due: pallets

add verifying key test
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

add failed registered benchmark
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

undo fmt script
  scripts/fmt.sh
Due: none

Update pallets/relayer/src/lib.rs
  pallets/relayer/src/lib.rs
Due: pallets

Update crypto/server/src/user/api.rs
  crypto/server/src/user/api.rs
Due: crypto

refactor
  crypto/server/src/user/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

refactor tests
  crypto/server/src/user/tests.rs
Due: crypto

add weight to annotations
  pallets/relayer/src/lib.rs
Due: pallets

refactor
  crypto/server/src/user/api.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

Update CHANGELOG.md
  CHANGELOG.md
Due: none

refactor
  pallets/relayer/src/lib.rs
Due: pallets

comment
  crypto/server/src/user/tests.rs
Due: crypto

refactors
  crypto/server/src/user/tests.rs
  scripts/fmt.sh
Due: crypto

add changelog
  CHANGELOG.md
Due: none

handle a failed registration at the server level
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

fix
  pallets/relayer/src/benchmarking.rs
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
