Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Add instructions for running the wasm tests (#737)
  crates/protocol/README.md
  crates/threshold-signature-server/README.md
Due: none

update psvm script
  scripts/update-substrate.sh
Due: none

Update subxt to 0.35.3 (#747)
  Cargo.lock
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

update psvm script (#762)
  scripts/update-substrate.sh
Due: none

Remove unused dependencies
  Cargo.lock
  node/cli/Cargo.toml
Due: node

remove more
  Cargo.lock
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  runtime/Cargo.toml
Due: pallets, runtime

Add IT helpdesk issue template
  .github/ISSUE_TEMPLATE/new-IT-request.yml
Due: none

fmt
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
Due: node

WIP try to add threading to execution loop
  crates/protocol/src/execute_protocol.rs
Due: none

Remove unused packages (#763)
  Cargo.lock
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Use arc and mutex
  crates/protocol/src/execute_protocol.rs
Due: none

Comments
  crates/protocol/src/execute_protocol.rs
Due: none

Add some unwraps to try to find what is failing
  crates/protocol/benches/helpers/mod.rs
Due: none

Add testnet account json
  node/cli/src/endowed_accounts.rs
  testnet_accounts.json
Due: node

changelog
  CHANGELOG.md
Due: none

fix
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/endowed_accounts.rs
  testnet-accounts.json
Due: node

Improve/fix handing of verifying keys in CLI / test client
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
Due: none

Fix tss tests
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Fix wasm tests
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

Use an integration test rather than a benchmark
  Cargo.lock
  crates/protocol/Cargo.toml
  crates/protocol/tests/helpers/mod.rs
  crates/protocol/tests/test_sign.rs
Due: none

Update crates/test-cli/src/main.rs
  crates/test-cli/src/main.rs
Due: none

Make verification key constants be [u8;32] rather than &Vec<u8>
  crates/shared/src/constants.rs
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Revert change of VERIFICATION_KEY_LENGTH constant
  crates/shared/src/constants.rs
  crates/shared/src/types.rs
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
Due: none

Improve test CLI following removing permissioned mode (#770)
  crates/shared/src/constants.rs
  crates/shared/src/types.rs
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Make common crates for tss and test client
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/sign_init.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/tss-client-common/Cargo.toml
  crates/tss-client-common/entropy_metadata.scale
  crates/tss-client-common/src/chain_api.rs
  crates/tss-client-common/src/lib.rs
  crates/tss-client-common/src/substrate.rs
  crates/tss-client-common/src/user.rs
Due: none

Error handling
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/validator/errors.rs
Due: none

Apply suggestions from code review
  CHANGELOG.md
  node/cli/src/endowed_accounts.rs
Due: node

clean
  node/cli/src/chain_spec/testnet-accounts.json
  node/cli/src/endowed_accounts.rs
Due: node

Update tests following refactor
  Cargo.lock
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Taplo
  crates/protocol/Cargo.toml
Due: none

Taplo
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  crates/tss-client-common/Cargo.toml
Due: none

Add testnet account json (#769)
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec/testnet-accounts.json
  node/cli/src/endowed_accounts.rs
Due: node

Update cargo deny config
  deny.toml
Due: none

Update wasm test
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

update feeless tx
  Cargo.lock
  crates/chain-api/Cargo.toml
  crates/chain-api/entropy_metadata.scale
  crates/chain-api/src/lib.rs
  crates/test-cli/Cargo.toml
  crates/test-cli/src/main.rs
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/lib.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  scripts/pull_entropy_metadata.sh
Due: none

Fix so that the client common crate compiles to wasm
  Cargo.lock
  crates/protocol/Cargo.toml
  crates/protocol/src/lib.rs
  crates/shared/src/types.rs
  crates/tss-client-common/Cargo.toml
  crates/tss-client-common/src/lib.rs
  crates/tss-client-common/src/substrate.rs
  crates/tss-client-common/src/user.rs
Due: none

Improve README for JS bindings to entropy-protocol
  crates/protocol/js-README.md
Due: none

Fix feature flags for entropy-shared
  crates/shared/src/types.rs
Due: none

Use SemVer `hex` version instead of wildcard
  Cargo.lock
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

Rephrase sentence in readme
  crates/protocol/js-README.md
Due: none
