Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Add check for the first commit of a branch
  .github/workflows/build-and-run-node-test.yaml
Due: none

Trivial doccomment change to check if code change detection is working
  crates/protocol/src/execute_protocol.rs
Due: none

remove GITHUB_ENV redirect to simplify job
  .github/workflows/build-and-run-node-test.yaml
Due: none

add changelog
  CHANGELOG.md
Due: none

Remove deadlines in OCW (#1411)
  CHANGELOG.md
  pallets/propagation/src/lib.rs
Due: pallets

Use ss58 loggings for peers to report
  crates/threshold-signature-server/src/user/api.rs
Due: none

Fix CI check for code changed (suggested by Zach) (#1410)
  .github/workflows/build-and-run-node-test.yaml
Due: none

Temporary - rm nodejs test form CI - to see which other tests pass
  .github/workflows/build-and-run-node-test.yaml
Due: none

Hopefully fix cargo deny issue
  deny.toml
Due: none

Clippy
  crates/client/src/tests.rs
  crates/protocol/src/lib.rs
Due: none

Revert registry benchmarking changes which appear to be broken
  pallets/registry/src/benchmarking.rs
Due: pallets

Doccomments, errors
  crates/protocol/src/lib.rs
Due: none

Clippy
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/protocol_message.rs
Due: none

Small fix registry benchmarking
  pallets/registry/src/benchmarking.rs
Due: pallets

Changelog
  CHANGELOG.md
Due: none

Trivial doccomment change to trigger CI tests
  crates/protocol/src/execute_protocol.rs
Due: none

more loggings
  crates/client/src/user.rs
  crates/protocol/src/execute_protocol.rs
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

FIx test_node_process_stationary_local
  crates/testing-utils/src/substrate_context.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
Due: none

Disable building the entropy-protocol nodejs package in order to see CI tests running
  .github/workflows/build-and-run-node-test.yaml
Due: none

Trivial doccomment change to trigger CI tests
  crates/testing-utils/src/substrate_context.rs
Due: none

Hopefully fix entropy-protocol compilation on wasm
  crates/protocol/Cargo.toml
Due: none

Revert change to run test workflow
  .github/workflows/build-and-run-node-test.yaml
Due: none

Revert change to run test workflow and apply entropy-protocol fix
  .github/workflows/build-and-run-node-test.yaml
  crates/protocol/Cargo.toml
Due: none

FIx test_node_process_stationary_local (#1415)
  crates/testing-utils/src/substrate_context.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
Due: none

Use ss58 for loggings (#1413)
  crates/client/src/user.rs
  crates/protocol/src/execute_protocol.rs
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

Add outtie pallet
  Cargo.lock
  pallets/outtie/Cargo.toml
  pallets/outtie/src/benchmarking.rs
  pallets/outtie/src/lib.rs
  pallets/outtie/src/mock.rs
  pallets/outtie/src/tests.rs
Due: pallets

compiles
  Cargo.lock
  pallets/outtie/Cargo.toml
  pallets/outtie/src/lib.rs
Due: pallets

add box
  pallets/outtie/src/lib.rs
Due: pallets

test
  pallets/outtie/src/lib.rs
  pallets/outtie/src/mock.rs
  pallets/outtie/src/tests.rs
Due: pallets

add event
  pallets/outtie/src/lib.rs
  pallets/outtie/src/mock.rs
  pallets/outtie/src/tests.rs
Due: pallets

add benchmarks
  pallets/outtie/src/benchmarking.rs
Due: pallets

add to runtime
  Cargo.lock
  pallets/outtie/src/lib.rs
  pallets/outtie/src/mock.rs
  pallets/outtie/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_outtie.rs
Due: pallets, runtime

inline docs
  pallets/outtie/src/lib.rs
Due: pallets

fmt
  pallets/outtie/Cargo.toml
Due: pallets

changelog
  CHANGELOG.md
Due: none

Documentation change to bypass CI
  crates/protocol/js-README.md
Due: none

Use released version of manul 0.2.1
  Cargo.lock
  Cargo.toml
  crates/protocol/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

Move TssPublicKeys type to entropy-shared so it can be accessed by the chain node
  crates/shared/src/types.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/node_info/api.rs
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
