Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Bump version to v0.0.12
  Cargo.lock
  crates/protocol/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Integrate oracle to programs (#788)
  Cargo.lock
  crates/shared/device_key_proxy.wasm
  crates/test-cli/src/main.rs
  crates/testing-utils/example_barebones_with_auxilary.wasm
  crates/testing-utils/example_custom_hash.wasm
  crates/testing-utils/example_noop.wasm
  crates/testing-utils/infinite_loop.wasm
  crates/testing-utils/src/test_client/mod.rs
  crates/testing-utils/template_barebones.wasm
  crates/testing-utils/template_basic_transaction.wasm
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

fix benchmarks
  pallets/registry/src/benchmarking.rs
  pallets/staking/src/benchmarking.rs
Due: pallets

Add new `--no-sync` flag for initial TSS startup. Needed after #784.
  docker-compose.yaml
Due: none

Remove GitHub Actions trigger for release build on my test branches.
  .github/workflows/build-and-release.yaml
Due: none

tests working
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/common.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/main.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/sign.rs
Due: none

Update changelog
  CHANGELOG.md
Due: none

Bump spec version / transaction version
  runtime/src/lib.rs
Due: runtime

Run benchmarks
  runtime/src/weights/frame_benchmarking.rs
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_parameters.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_registry.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_storage.rs
Due: runtime

Add new `--no-sync` flag for initial TSS startup. Needed after #784. (#787)
  .github/workflows/build-and-release.yaml
  docker-compose.yaml
Due: none

clean
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/main.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

clean
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

remove unwrap
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
Due: none

add check balance check to launch
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/main.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/registry/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

fix test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fix inital chainstate
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/staking/src/lib.rs
Due: node, pallets

clean tests
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

changelog
  CHANGELOG.md
Due: none

fmt
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/staking/src/tests.rs
Due: pallets

fix
  CHANGELOG.md
  pallets/propagation/src/mock.rs
Due: pallets

fix
  pallets/registry/src/mock.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Remove subgroups (#799)
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/common.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/main.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/sign.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: node, pallets

remove permission from chain
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/staking/src/benchmarking.rs
Due: pallets

update chainspec
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
Due: node

benchmarks
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/pallet_babe.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_grandpa.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_offences.rs
  runtime/src/weights/pallet_parameters.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_registry.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_storage.rs
  scripts/benchmarks.sh
Due: runtime

benchmarks
  runtime/src/weights/pallet_utility.rs
  runtime/src/weights/pallet_vesting.rs
Due: runtime

remove permissioned from tss
  crates/protocol/src/listener.rs
  crates/protocol/src/user/mod.rs
  crates/protocol/src/user/wasm.rs
  crates/protocol/tests/helpers/mod.rs
  crates/shared/src/types.rs
  crates/test-cli/README.md
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/chain_api.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  pallets/propagation/src/tests.rs
Due: pallets

remove unused benches
  runtime/src/weights/pallet_babe.rs
  runtime/src/weights/pallet_grandpa.rs
  runtime/src/weights/pallet_offences.rs
Due: runtime

Set client version number to 0.0.11
  Cargo.lock
  crates/client/Cargo.toml
Due: none

Make common crate for TSS and test client (#775)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/entropy_metadata.scale
  crates/client/src/chain_api.rs
  crates/client/src/client.rs
  crates/client/src/lib.rs
  crates/client/src/substrate.rs
  crates/client/src/user.rs
  crates/client/src/util.rs
  crates/protocol/Cargo.toml
  crates/protocol/src/lib.rs
  crates/shared/Cargo.toml
  crates/shared/src/types.rs
  crates/shared/src/user.rs
  crates/test-cli/Cargo.toml
  crates/test-cli/src/main.rs
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/lib.rs
  crates/testing-utils/src/tss_server_process.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/sign_init.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  deny.toml
  scripts/pull_entropy_metadata.sh
Due: none

Make it possible to submit extrinsics on wasm
  crates/client/src/substrate.rs
Due: none

Doccomment
  crates/client/src/substrate.rs
Due: none

Fix Dockerfile for issue with rust-src on wasm
  Dockerfile
Due: none

Clippy
  crates/kvdb/src/kv_manager/helpers.rs
  crates/kvdb/src/kv_manager/kv.rs
  pallets/staking/src/lib.rs
Due: pallets

Clippy
  pallets/slashing/src/lib.rs
Due: pallets

Updates link to docs.
  README.md
Due: none

Fix Dockerfile for issue with rust-src on wasm (#805)
  Dockerfile
  crates/kvdb/src/kv_manager/helpers.rs
  crates/kvdb/src/kv_manager/kv.rs
  pallets/slashing/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

Updates link to docs. (#807)
  README.md
Due: none

fix endowed accounts for docker
  node/cli/src/endowed_accounts.rs
Due: node
