Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

refactor: remove unused deps
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/server/Cargo.toml
Due: crypto

fix fmt
  crypto/kvdb/Cargo.toml
Due: crypto

add hex-literal back in
  crypto/server/Cargo.toml
Due: crypto

format
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

Sig error refactor (#220)
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
Due: crypto

refactor: remove unused deps (#224)
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/server/Cargo.toml
Due: crypto

subgropu fix
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  node/cli/src/chain_spec.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: node, crypto, pallets

fmt
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  node/cli/src/chain_spec.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: node, crypto, pallets

fmt
  pallets/staking/src/lib.rs
Due: pallets

subgropu fix (#226)
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  node/cli/src/chain_spec.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: node, crypto, pallets

rebase subgroup-signing-branch
  Cargo.lock
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  runtime/src/lib.rs
Due: pallets

WIP BROKEN
  Cargo.lock
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/tests.rs
  node/cli/src/chain_spec.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: node, crypto, pallets

Merge branch 'master'
  Cargo.lock
  pallets/staking/Cargo.toml
Due: pallets

metadata fix
  crypto/server/entropy_metadata.scale
Due: crypto

fixed metadata
  crypto/server/entropy_metadata.scale
Due: crypto

fix unwraps
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
Due: crypto

working
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  runtime/src/lib.rs
Due: pallets

fix test
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  runtime/src/lib.rs
Due: pallets

Update Validator set on chain for new sessions
  Cargo.lock
  pallets/relayer/src/lib.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/staking/t.py
Due: pallets

removed rpc packages; moving to new branch
  Cargo.lock
  node/rpc-api/Cargo.toml
  node/rpc-api/src/lib.rs
  node/rpc-api/src/staking_extension.rs
  node/rpc/Cargo.toml
  node/rpc/src/lib.rs
Due: node

fmt
  node/cli/src/chain_spec.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/staking/src/mock.rs
  runtime/src/lib.rs
Due: node, pallets

taplo fmt
  crypto/kvdb/src/encrypted_sled/tests.rs
Due: crypto

clippy
  crypto/server/src/user/tests.rs
  pallets/staking/src/lib.rs
Due: crypto, pallets

Switch to pallet_session::ValidatorId type
  pallets/relayer/Cargo.toml
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/staking/t.py
  runtime/src/lib.rs
Due: pallets

cleanup
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: pallets

fix mocks
  pallets/staking/src/mock.rs
Due: pallets

basic RPC method
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/rpc.rs
  node/rpc/Cargo.toml
  node/rpc/src/lib.rs
  node/rpc/src/runtime-api/mod.rs
Due: node

removed AccountId aliases
  Cargo.lock
  pallets/staking/src/lib.rs
Due: pallets

refactor/remove TssServerAccount and ValidatorStashAccount
  pallets/staking/src/lib.rs
Due: pallets

update metadata
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
  pallets/staking/test.py
  scripts/setup-debian.sh
Due: crypto, pallets

fix formatting
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/test.py
Due: crypto, pallets

Refactor `Endpoints` and `ThresholdAccounts` to `ThresholdServers` (#230)
  Cargo.lock
  crypto/kvdb/src/encrypted_sled/tests.rs
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/tests.rs
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: node, crypto, pallets

fix validator key conversion
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/node_proc.rs
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
Due: crypto, pallets

fix tests
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: crypto, pallets

fmt
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  scripts/install-taplo.sh
Due: crypto, pallets

cleanup comments
  crypto/server/src/user/tests.rs
  pallets/staking/src/lib.rs
Due: crypto, pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
