Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Improve sign fn
  Cargo.lock
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/test_client/mod.rs
  crypto/testing-utils/src/test_client/validation.rs
Due: crypto

Doccomments
  crypto/testing-utils/src/main.rs
Due: crypto

Fmt
  crypto/testing-utils/src/main.rs
Due: crypto

Rm tests for SignedMessage
  crypto/testing-utils/src/test_client/validation.rs
Due: crypto

more negative tests
  crypto/server/entropy_metadata.scale
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

Nodejs test
  crypto/protocol/nodejs-test/index.js
  crypto/protocol/nodejs-test/package.json
  crypto/protocol/nodejs-test/yarn.lock
Due: crypto

KeyVisibility as option to register command
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Comment
  crypto/testing-utils/src/main.rs
Due: crypto

Fallback to environment variable for endpoint URI
  Cargo.lock
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/main.rs
Due: crypto

proactive refresh (#413)
  Cargo.lock
  crypto/kvdb/src/kv_manager/value.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: crypto, pallets

add get signature back in
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  runtime/src/lib.rs
Due: crypto, runtime

update changelog
  CHANGELOG.md
Due: none

Update README.md
  README.md
Due: none

changed remaining references of --ws-external to --rpc-external
  README.md
Due: none

Use validator info from chain rather than from user
  crypto/server/src/user/api.rs
Due: crypto

Update tests for using validator info from chain
  crypto/server/src/user/tests.rs
Due: crypto

Clippy
  crypto/server/src/user/api.rs
Due: crypto

add regression test
  crypto/server/src/user/tests.rs
Due: crypto

Place `demo_offence` dispatchable behind root origin check
  pallets/slashing/src/lib.rs
  pallets/slashing/src/tests.rs
Due: pallets

RustFmt
  pallets/slashing/src/lib.rs
  pallets/slashing/src/tests.rs
Due: pallets

Ensure correct validator order by using ValidatorInfo from chain rather than from user (#425)
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Update .editorconfig to match .rustfmt.toml settings
  .editorconfig
Due: none

Appease Clippy
  pallets/slashing/src/lib.rs
Due: pallets

Update comment to be doc comment
  pallets/slashing/src/lib.rs
Due: pallets

Add `extern crate alloc`
  crypto/protocol/src/user/wasm.rs
Due: crypto

Delete `update_constraints` dispatchable and related code
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/tests.rs
Due: pallets

Remove test related to empty contraint errors
  pallets/constraints/src/tests.rs
Due: pallets

Remove `ConstraintsUpdated` event
  pallets/constraints/src/lib.rs
Due: pallets

Update call index to be `0`
  pallets/constraints/src/lib.rs
Due: pallets

Place `demo_offence` dispatchable behind root origin check (#426)
  pallets/slashing/src/lib.rs
  pallets/slashing/src/tests.rs
Due: pallets

Update `.editorconfig` to match `.rustfmt.toml` settings (#427)
  .editorconfig
Due: none

Remove "v2" usages from more places
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/mock.rs
  pallets/constraints/src/tests.rs
  runtime/src/lib.rs
Due: pallets, runtime

Add benchmarking template from Substrate's `polkadot-v0.9.43` branch
  .maintain/frame-weight-template.hbs
Due: none

Generate weight file for constraints pallet
  pallets/constraints/src/weights.rs
Due: pallets

Update the runtime benchmark weights
  runtime/src/weights/pallet_constraints.rs
Due: runtime

Remove more mentions of "v2"
  pallets/constraints/src/lib.rs
  pallets/constraints/src/tests.rs
Due: pallets

Update node metadata
  crypto/server/entropy_metadata.scale
Due: crypto

Update v2 references from the `server`
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
Due: crypto

Update module comments
  pallets/constraints/src/lib.rs
Due: pallets

RustFmt
  pallets/constraints/src/mock.rs
  runtime/src/lib.rs
Due: pallets, runtime

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
