Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

end of day
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

fix clippy
  node/cli/src/benchmarking.rs
Due: node

fix clippy 2
  node/cli/src/benchmarking.rs
Due: node

constraints: access control list (#247)
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/lib.rs
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/constraints/src/tx/utils.rs
  crypto/constraints/src/whitelist.rs
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
  crypto/server/src/user/api.rs
  crypto/substrate-common/Cargo.toml
  crypto/substrate-common/src/lib.rs
  crypto/substrate-common/src/types.rs
  node/cli/src/benchmarking.rs
  pallets/staking/Cargo.toml
Due: node, crypto, pallets

testing
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

get key url
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

added cli
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/main.rs
  crypto/server/src/utils.rs
  scripts/server.sh
Due: crypto

add in sync keys on spin up
  crypto/server/src/main.rs
  crypto/server/src/utils.rs
  crypto/server/src/validator/api.rs
Due: crypto

comment
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  scripts/server_bob.sh
Due: crypto

taplo
  crypto/server/Cargo.toml
Due: crypto

remove print lns
  crypto/server/src/main.rs
Due: crypto

clippy
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  node/cli/src/benchmarking.rs
Due: node, crypto

clippy
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
Due: crypto

add in get all keys (#250)
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/main.rs
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
  crypto/server/src/utils.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/mod.rs
  crypto/server/src/validator/tests.rs
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec.rs
  pallets/relayer/src/lib.rs
  scripts/server.sh
  scripts/server_bob.sh
Due: node, crypto, pallets

add in on chain elements
  crypto/server/entropy_metadata.scale
  crypto/server/src/validator/api.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
  scripts/benchmarks.sh
Due: crypto, pallets

fix benchamark script
  scripts/benchmarks.sh
Due: none

extra substrate functions
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  crypto/substrate-common/src/lib.rs
Due: crypto

fmt
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  crypto/substrate-common/src/lib.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
  pallets/staking/src/weights.rs
Due: crypto, pallets

feat: added mappings for constraints
  Cargo.lock
  crypto/substrate-common/src/types.rs
  pallets/constraints/Cargo.toml
  pallets/constraints/src/lib.rs
  pallets/constraints/src/mock.rs
  pallets/relayer/src/lib.rs
  runtime/src/lib.rs
Due: crypto, pallets

feat: set_acl extrinsic, needs cleanup
  Cargo.lock
  crypto/substrate-common/src/types.rs
  pallets/constraints/Cargo.toml
  pallets/constraints/src/lib.rs
Due: crypto, pallets

fix test
  crypto/server/entropy_metadata.scale
  crypto/server/src/validator/api.rs
Due: crypto

clippy ignore weights
  runtime/src/weights/mod.rs
Due: none

comments
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
Due: crypto

clippy all
  runtime/src/weights/mod.rs
Due: none

feat: changed set_acl to update_acl
  pallets/constraints/src/lib.rs
Due: pallets

fix clippy
  file_header.txt
  pallets/constraints/src/weights.rs
  pallets/free-tx/src/weights.rs
  pallets/relayer/src/weights.rs
  pallets/staking/src/weights.rs
  pallets/transaction-pause/src/weights.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_constraints.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_transaction_pause.rs
  scripts/benchmarks.sh
Due: pallets

add cli for alice & bob
  crypto/server/src/main.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/utils.rs
Due: crypto

fix fmt
  crypto/server/src/user/tests.rs
Due: crypto

clippy
  runtime/src/weights/pallet_relayer.rs
Due: none

fmt
  crypto/server/src/main.rs
Due: crypto

formatting
  crypto/server/src/main.rs
  crypto/server/src/utils.rs
Due: crypto

add is syncing in (#254)
  crypto/server/entropy_metadata.scale
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  crypto/substrate-common/src/lib.rs
  file_header.txt
  pallets/constraints/src/weights.rs
  pallets/free-tx/src/weights.rs
  pallets/relayer/src/weights.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/staking/src/weights.rs
  pallets/transaction-pause/src/weights.rs
  runtime/src/weights/pallet_constraints.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_transaction_pause.rs
  scripts/benchmarks.sh
Due: crypto, pallets

fix nits
  crypto/server/src/main.rs
  crypto/server/src/utils.rs
Due: crypto

feat: register() takes constraint addr
  Cargo.lock
  pallets/constraints/Cargo.toml
  pallets/constraints/src/lib.rs
  pallets/relayer/Cargo.toml
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
Due: pallets

fix tests, fmt
  crypto/server/src/utils.rs
Due: crypto

fix nits
  crypto/server/src/main.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/utils.rs
  crypto/server/src/validator/tests.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
