Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Fix to be able to submit extrinsics on wasm using `entropy-client` (#803)
  crates/client/src/substrate.rs
Due: none

clean
  crates/protocol/src/lib.rs
  crates/protocol/src/listener.rs
  crates/protocol/src/user/mod.rs
  crates/protocol/src/user/wasm.rs
  crates/protocol/tests/helpers/mod.rs
  crates/shared/src/types.rs
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/sign.rs
  pallets/propagation/src/tests.rs
Due: pallets

Fix endowed accounts for docker (#808)
  node/cli/src/endowed_accounts.rs
Due: node

clean tests
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

remove commented out code
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
Due: none

wasm test
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

Addresses #809: Include data directory contents during container image build.
  Dockerfile
  data/README.md
  data/testnet/endowed_accounts.json
  node/cli/src/endowed_accounts.rs
Due: node

lint
  pallets/staking/src/lib.rs
Due: pallets

rename file
  data/testnet/testnet-accounts.json
Due: none

Addresses #809: Include data directory contents during container image build. (#810)
  Dockerfile
  data/README.md
  data/testnet/testnet-accounts.json
  node/cli/src/endowed_accounts.rs
Due: node

lint
  crates/kvdb/src/kv_manager/helpers.rs
  crates/kvdb/src/kv_manager/kv.rs
Due: none

Add executable permissions for the `data` directory in the image.
  Dockerfile
Due: none

Add executable permissions for the `data` directory in the image. (#811)
  Dockerfile
Due: none

Make the full client possible to compile on wasm
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/client.rs
  crates/client/src/lib.rs
  crates/threshold-signature-server/Cargo.toml
Due: none

Fixes #809: Grant execute permissions for exported directories.
  Dockerfile
Due: none

Fixes `permission denied` error when exporting container filesystem. (#812)
  Dockerfile
Due: none

Rm unused dependency
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
Due: none

Add tests for DKG and proactive refresh
  crates/protocol/tests/helpers/mod.rs
  crates/protocol/tests/protocol.rs
Due: none

Tidy, comments
  crates/protocol/tests/protocol.rs
Due: none

Re-enable feature flag
  crates/client/src/lib.rs
Due: none

lint
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/slashing/src/lib.rs
  pallets/staking/src/mock.rs
Due: pallets

Clippy
  crates/client/src/client.rs
Due: none

Remove sig party size
  crates/shared/src/constants.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/user/api.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/staking/src/benchmarking.rs
  runtime/src/lib.rs
Due: pallets, runtime

Add timed protocol tests for DKG and proactive refresh (#815)
  crates/protocol/tests/helpers/mod.rs
  crates/protocol/tests/protocol.rs
Due: none

Rm unused dependency `template-barebones` (#814)
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
Due: none

clean
  pallets/propagation/src/mock.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/benchmarking.rs
Due: pallets

Rm comment and unwraps
  crates/client/src/client.rs
Due: none

Make full version of `entropy-client` possible to compile on wasm (#816)
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/client.rs
  crates/threshold-signature-server/Cargo.toml
Due: none

fixes
  crates/protocol/nodejs-test/index.js
  crates/shared/src/types.rs
  crates/testing-utils/src/constants.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

remove permission from chain (#801)
  crates/kvdb/src/kv_manager/helpers.rs
  crates/kvdb/src/kv_manager/kv.rs
  crates/protocol/nodejs-test/index.js
  crates/protocol/src/lib.rs
  crates/protocol/src/listener.rs
  crates/protocol/src/user/mod.rs
  crates/protocol/src/user/wasm.rs
  crates/protocol/tests/helpers/mod.rs
  crates/shared/src/types.rs
  crates/test-cli/README.md
  crates/test-cli/src/main.rs
  crates/testing-utils/src/constants.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/chain_api.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/slashing/src/lib.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: node, pallets

lint
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
Due: pallets

Rm anyhow from entropy-client and make a ClientError
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/client.rs
Due: none

remove certain endowed accounts from chain
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/endowed_accounts.rs
Due: node

Update changelog with forgotten things
  CHANGELOG.md
Due: none

Fix for test-cli
  crates/test-cli/src/main.rs
Due: none

Remove sig party size (#817)
  crates/shared/src/constants.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/user/api.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/benchmarking.rs
  runtime/src/lib.rs
Due: pallets, runtime

allow insecure api url
  crates/client/src/chain_api.rs
Due: none

add endowed accounts
  data/testnet/testnet-accounts.json
  node/cli/src/endowed_accounts.rs
Due: node

funded accounts only get funded
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/endowed_accounts.rs
Due: node
