Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature (path-filtering)
# https://circleci.com/docs/dynamic-config
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # always-run is always triggered (yikes), regardless of the pipeline parameters.
  always-run: 
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
            # do rest after validation
            # crypto/centralized-keygen/.* centralized-keygen-change true
            # crypto/.* signing-client-change true
          mapping: |
            node/.* node true
            crypto/.* crypto true
            pallets/.* pallets true
          base-revision: master
          # path to trigger once filtering/value updates finish 
          config-path: .circleci/then.yml

fix tests
  crypto/server/src/user/tests.rs
Due: crypto

Add CLI arguments for Alice & Bob (#255)
  crypto/server/src/main.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/utils.rs
  crypto/server/src/validator/tests.rs
Due: crypto

dirty
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/utils.rs
  crypto/server/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/substrate-common/Cargo.toml
  crypto/substrate-common/src/constraints.rs
  crypto/substrate-common/src/lib.rs
  crypto/substrate-common/src/types.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/mock.rs
  pallets/constraints/src/tests.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/lib.rs
Due: crypto, pallets

fixed tests
  crypto/server/src/user/tests.rs
Due: crypto

clippy 1
  crypto/constraints/src/constraint.rs
  crypto/substrate-common/src/types.rs
  pallets/constraints/src/lib.rs
Due: crypto, pallets

fmt
  crypto/constraints/src/tx/evm.rs
  crypto/server/src/user/tests.rs
  crypto/substrate-common/src/constraints.rs
  crypto/substrate-common/src/lib.rs
  crypto/substrate-common/src/types.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/tests.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/transaction-pause/src/mock.rs
  runtime/src/lib.rs
Due: crypto, pallets

clippy2
  crypto/constraints/src/tests.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/validator/tests.rs
  pallets/constraints/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  runtime/src/impls.rs
Due: crypto, pallets

clipppy3
  pallets/constraints/src/tests.rs
  pallets/relayer/src/tests.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

fmt2
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/staking/src/mock.rs
Due: pallets

fixed benchmarks
  Cargo.lock
  crypto/substrate-common/Cargo.toml
  crypto/substrate-common/src/constraints.rs
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/relayer/Cargo.toml
  pallets/relayer/src/benchmarking.rs
Due: crypto, pallets

validator spin up
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

benchmarks
  pallets/relayer/src/benchmarking.rs
Due: pallets

updated benchs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/tests.rs
  pallets/constraints/src/weights.rs
  runtime/src/weights/pallet_constraints.rs
Due: pallets

refactoring for clarity
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/tests.rs
  crypto/substrate-common/src/constraints.rs
  pallets/constraints/src/tests.rs
Due: crypto, pallets

cleanup comments
  crypto/substrate-common/src/constraints.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

changed acronyms to uppercamelcase
  crypto/constraints/src/tx/evm.rs
  crypto/substrate-common/src/constraints.rs
  pallets/constraints/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: crypto, pallets

fmt
  crypto/constraints/src/tx/evm.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

refactoring acronyms to uppercamelcase
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/evm.rs
  crypto/server/src/user/api.rs
Due: crypto

self audit
  crypto/substrate-common/src/constraints.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

fmt
  pallets/relayer/src/lib.rs
Due: pallets

updated metadata
  crypto/server/entropy_metadata.scale
Due: crypto

tweaks
  crypto/server/src/main.rs
  crypto/server/src/utils.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

validator spin up (#257)
  crypto/server/src/main.rs
  crypto/server/src/utils.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

handle staking pallet errors better
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: pallets

fix batch size error
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

lint
  crypto/server/src/message.rs
Due: crypto

clippy
  node/cli/src/chain_spec.rs
Due: node

updated comment
  pallets/constraints/src/lib.rs
Due: pallets

handle staking pallet errors better (#258)
  crypto/server/src/message.rs
  node/cli/src/chain_spec.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: node, crypto, pallets

fix batch size error (#259)
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

session handler benchmarking
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
  scripts/server_bob.sh
Due: pallets

remove unneeded crates
  Cargo.toml
  alice-send/Cargo.toml
  alice-send/local-share1.json
  alice-send/local-share2.json
  alice-send/local-share3.json
  alice-send/src/lib.rs
  alice-send/src/tests.rs
  subxttest/Cargo.toml
  subxttest/src/entropy_metadata.scale
  subxttest/src/main.rs
Due: none

fmt
  Cargo.toml
Due: none

On session benchmarks (#260)
  Cargo.toml
  alice-send/Cargo.toml
  alice-send/local-share1.json
  alice-send/local-share2.json
  alice-send/local-share3.json
  alice-send/src/lib.rs
  alice-send/src/tests.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
  scripts/server_bob.sh
  subxttest/Cargo.toml
  subxttest/src/entropy_metadata.scale
  subxttest/src/main.rs
Due: pallets
