Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Rm unused import
  node/cli/src/chain_spec/testnet.rs
Due: node

Changelog
  CHANGELOG.md
Due: none

Doccomments
  node/cli/src/chain_spec/testnet.rs
Due: node

Fix comment following review comments
  node/cli/src/command.rs
Due: node

Add outtie pallet (#1418)
  CHANGELOG.md
  Cargo.lock
  crates/client/entropy_metadata.scale
  pallets/outtie/Cargo.toml
  pallets/outtie/src/benchmarking.rs
  pallets/outtie/src/lib.rs
  pallets/outtie/src/mock.rs
  pallets/outtie/src/tests.rs
  pallets/outtie/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_outtie.rs
Due: pallets, runtime

Add keyshare to app state cache
  crates/threshold-signature-server/src/helpers/app_state.rs
Due: none

Add helpers to read/write keyshare and next keyshare
  crates/threshold-signature-server/src/helpers/app_state.rs
Due: none

Make kvdb a private field and use app state methods to access keyshare
  crates/threshold-signature-server/src/helpers/app_state.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Rm deployment instructions from release checklist
  RELEASE_CHECKLIST.md
Due: none

Small edit to checklist
  RELEASE_CHECKLIST.md
Due: none

Update release checklist with instructions to build CVM image for TDX (#1366)
  RELEASE_CHECKLIST.md
Due: none

Update appstate and tests
  crates/threshold-signature-server/src/helpers/app_state.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/main.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/unsafe/api.rs
  crates/threshold-signature-server/src/unsafe/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Add basic attestation logic to outtie pallet
  Cargo.lock
  crates/shared/src/attestation.rs
  pallets/outtie/Cargo.toml
  pallets/outtie/src/benchmarking.rs
  pallets/outtie/src/lib.rs
  pallets/outtie/src/mock.rs
  pallets/outtie/src/tests.rs
Due: pallets

Add attestation handler to outtie pallet config
  runtime/src/lib.rs
Due: runtime

Pull metadata
  crates/client/entropy_metadata.scale
Due: none

Fix update keyshare method
  crates/threshold-signature-server/src/helpers/app_state.rs
Due: none

Error handling, slightly improve test
  crates/threshold-signature-server/src/helpers/app_state.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Update parameters pallet for multiple CVM services
  Cargo.lock
  pallets/parameters/Cargo.toml
  pallets/parameters/src/benchmarking.rs
  pallets/parameters/src/lib.rs
  pallets/parameters/src/mock.rs
  pallets/parameters/src/tests.rs
Due: pallets

Update attestation pallet to support both services
  pallets/attestation/src/lib.rs
  pallets/attestation/src/mock.rs
Due: pallets

Update chainspecs
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Update tdx testnet chainspec
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/tdx_testnet.rs
Due: node

Tidy chainspec generation fns
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Fix registry pallet mock
  pallets/registry/src/mock.rs
Due: pallets

Fix testnet chainspec generation fn
  node/cli/src/chain_spec/tdx_testnet.rs
Due: node

Fix staking pallet mock
  pallets/staking/src/mock.rs
Due: pallets

Update call to parameters pallet in entropy-tss
  crates/threshold-signature-server/src/attestation/api.rs
Due: none

Suggestions from code review
  node/cli/src/command.rs
Due: node

Add docs
  README.md
  node/cli/Chainspec-README.md
Due: node

Improve docs
  node/cli/Chainspec-README.md
Due: node

Readme
  README.md
Due: none

Add custom testnet chainspec inputs (#1424)
  .github/workflows/check-chainspecs.yaml
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/shared/src/types.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  node/cli/Cargo.toml
  node/cli/Chainspec-README.md
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/tdx_testnet.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
  node/cli/src/endowed_accounts.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Repeatedly make encryption key backup attempts when starting `entropy-tss` (#1385)
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/backup_provider/errors.rs
  crates/threshold-signature-server/src/backup_provider/tests.rs
Due: none

Fix CI check for code changed (suggested by Zach) (#1410)
  .github/workflows/build-and-run-node-test.yaml
Due: none

Trivial doccomment change to trigger CI tests
  crates/threshold-signature-server/src/lib.rs
Due: none

Fix kvdb tests
  crates/kvdb/src/encrypted_sled/tests.rs
Due: none

Fixes for latest clippy rules (#1389)
  crates/threshold-signature-server/src/lib.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/service.rs
Due: node

Add `panic = abort` to runtime crate to see if it fixes #1435
  runtime/Cargo.toml
Due: runtime

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
