Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Apply suggestions from code review
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

clean
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

clean
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

clean
  crates/threshold-signature-server/src/user/api.rs
Due: none

clean
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Use counted double map for validation queue
  pallets/staking/src/lib.rs
Due: pallets

Use new NMap key syntax for staking tests
  pallets/staking/src/tests.rs
Due: pallets

Add limit to number of pending attestations in queue
  pallets/attestation/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  runtime/src/lib.rs
Due: pallets, runtime

Add test for max pending attestations
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Use x509 crate that works with no-std
  Cargo.lock
  pallets/attestation/Cargo.toml
  pallets/attestation/src/pck.rs
Due: pallets

Tidy, comments
  pallets/attestation/src/pck.rs
Due: pallets

Unignore register and sign test, and do a non-mock jumpstart
  crates/threshold-signature-server/tests/register_and_sign.rs
Due: none

Make jumpstart helper and unignore other test
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Clippy
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

replace charlie with dave in key creation
  crates/testing-utils/keyshares/production/dave-keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/production/dave-keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/production/dave-keyshare-held-by-dave.keyshare
  crates/testing-utils/keyshares/production/eve-keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/production/eve-keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/production/eve-keyshare-held-by-dave.keyshare
  crates/testing-utils/keyshares/test/dave-keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/test/dave-keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/test/dave-keyshare-held-by-charlie.keyshare
  crates/testing-utils/keyshares/test/eve-keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/test/eve-keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/test/eve-keyshare-held-by-charlie.keyshare
  crates/testing-utils/src/create_test_keyshares.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  scripts/create-test-keyshares/src/main.rs
Due: none

fmt
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  scripts/create-test-keyshares/src/main.rs
Due: none

lint
  crates/threshold-signature-server/src/helpers/tests.rs
  scripts/create-test-keyshares/src/main.rs
Due: none

Comments, tidy
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Hardcode pending attestation limit
  runtime/src/lib.rs
Due: runtime

test fix
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Add benchmark for Staking Extension's `on_initialize` hook
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/tests.rs
Due: pallets

Fix a few staking pallet benchmarks
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
Due: pallets

Add `/relay_tx` endpoint (#1050)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/client.rs
  crates/client/src/user.rs
  crates/testing-utils/keyshares/production/dave-keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/production/dave-keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/production/dave-keyshare-held-by-dave.keyshare
  crates/testing-utils/keyshares/production/eve-keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/production/eve-keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/production/eve-keyshare-held-by-dave.keyshare
  crates/testing-utils/keyshares/test/dave-keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/test/dave-keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/test/dave-keyshare-held-by-charlie.keyshare
  crates/testing-utils/keyshares/test/eve-keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/test/eve-keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/test/eve-keyshare-held-by-charlie.keyshare
  crates/testing-utils/src/create_test_keyshares.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/sign_init.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  scripts/create-test-keyshares/src/main.rs
Due: none

RustFmt
  pallets/staking/src/benchmarking.rs
Due: pallets

No unbonding when signer or next signer (#1031)
  CHANGELOG.md
  crates/client/entropy_metadata.scale
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/staking/src/weights.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Unignore register and sign integration test, and do a non-mock jumpstart (#1070)
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Dont add keyshare for the non-signer
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Tidy how validator names are represented in create-test-keyshares
  scripts/create-test-keyshares/src/main.rs
Due: none

Tidy create test keyshares fn
  crates/testing-utils/src/create_test_keyshares.rs
  scripts/create-test-keyshares/src/main.rs
Due: none

Rm comment
  crates/testing-utils/src/create_test_keyshares.rs
Due: none

run multiple test validators
  crates/client/src/tests.rs
  crates/testing-utils/src/helpers.rs
  crates/testing-utils/src/node_proc.rs
  crates/testing-utils/src/substrate_context.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Add hack for writing to Staking pallet storage from Attestation benches
  crates/shared/src/types.rs
  pallets/attestation/src/benchmarking.rs
  pallets/staking/src/lib.rs
Due: pallets

RustFmt
  crates/shared/src/types.rs
Due: none

change same tss_endpoints
  crates/testing-utils/src/node_proc.rs
  crates/testing-utils/src/substrate_context.rs
Due: none

Run through benchmark for `Staking::on_intialize()`
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Run through benchmark for `Attestation::on_intialize()`
  pallets/attestation/src/benchmarking.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/weights.rs
  runtime/src/weights/pallet_attestation.rs
Due: pallets, runtime

Add new method to key handler for dealing with PCKs
  crates/shared/src/types.rs
  pallets/attestation/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets
