Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

checkpoint
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/client/src/substrate.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Rm uneeded copy of example chainspec inputs
  data/testnet/example-chainspec-inputs.json
Due: none

Update container build workflow
  .github/workflows/container-build-and-push.yaml
  node/cli/src/command.rs
Due: node

fix pair signer
  crates/client/src/substrate.rs
  crates/threshold-signature-server/src/helpers/app_state.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

sp_core
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validation/mod.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/tests/helpers/mod.rs
Due: none

compile
  Cargo.lock
  crates/testing-utils/src/node_proc.rs
  crates/testing-utils/src/substrate_context.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/mod.rs
  crates/threshold-signature-server/src/validator/errors.rs
  scripts/create-test-keyshares/Cargo.toml
Due: none

remove subxt signer
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
Due: none

Changelog
  CHANGELOG.md
Due: none

Tidy, errors, comments
  crates/threshold-signature-server/src/helpers/app_state.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
Due: none

test changes
  crates/client/src/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/jumpstart_register_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  pallets/attestation/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/staking/src/mock.rs
Due: pallets

mocks
  pallets/attestation/src/mock.rs
  pallets/outtie/src/mock.rs
  pallets/parameters/src/mock.rs
  pallets/programs/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/registry/src/mock.rs
  pallets/slashing/src/mock.rs
  pallets/staking/src/mock.rs
  pallets/transaction-pause/src/mock.rs
Due: pallets

checkpoint
  crates/threshold-signature-server/src/user/tests.rs
  pallets/staking/src/mock.rs
Due: pallets

checkpoint
  crates/threshold-signature-server/src/user/tests.rs
Due: none

tests run
  crates/client/src/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Template testnet chainspec artifact (#1442)
  .github/workflows/check-chainspecs.yaml
  .github/workflows/container-build-and-push.yaml
  CHANGELOG.md
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

Clear poison when reading writing keyshare mutexes
  crates/threshold-signature-server/src/helpers/app_state.rs
Due: none

Suggestions from code review
  crates/threshold-signature-server/src/helpers/app_state.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
Due: none

metadata
  crates/client/entropy_metadata.scale
  crates/client/src/substrate.rs
Due: none

Apply custom chainspec inputs commit with conflicts resolved
  .github/workflows/check-chainspecs.yaml
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/shared/Cargo.toml
  crates/shared/src/types.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  node/cli/Cargo.toml
  node/cli/Chainspec-README.md
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/tdx_testnet.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
  node/cli/src/endowed_accounts.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Apply template blank spec commit
  .github/workflows/check-chainspecs.yaml
  .github/workflows/container-build-and-push.yaml
  CHANGELOG.md
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

Taplo
  crates/threshold-signature-server/Cargo.toml
Due: none

Revert change to sp-core version
  Cargo.lock
  crates/shared/Cargo.toml
Due: none

Rm password file option from entropy-tss
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Add initial authorities to testnet chainspec inputs
  node/cli/src/chain_spec/testnet.rs
Due: node

Use custom authorities
  node/cli/src/chain_spec/testnet.rs
Due: node

Fix types
  node/cli/src/chain_spec/testnet.rs
Due: node

Run DKG in a separate task to request handler
  crates/threshold-signature-server/src/user/api.rs
Due: none

Dont call unchecked_into()
  node/cli/src/chain_spec/testnet.rs
Due: node

Temporary - ignore proactive refresh validation fail test
  crates/threshold-signature-server/src/signing_client/tests.rs
Due: none

Typo
  node/cli/src/chain_spec/testnet.rs
Due: node

fix tests
  crates/testing-utils/src/substrate_context.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fmt
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/validator/tests.rs
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/outtie/Cargo.toml
  pallets/outtie/src/lib.rs
  pallets/parameters/Cargo.toml
  pallets/parameters/src/lib.rs
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  rust-toolchain.toml
Due: node, pallets, runtime

lint
  crates/client/src/client.rs
  crates/threshold-signature-server/src/main.rs
  runtime/src/lib.rs
Due: runtime

Add initial authorities to example testnet chainspec inputs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Trivial non-code change to bypass testing (very bad i know)
  README.md
Due: none

lint
  Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
  runtime/src/lib.rs
Due: runtime

lint
  node/cli/Cargo.toml
  runtime/src/lib.rs
Due: node, runtime

Only read from the `entropy-tss` key-value store following a reboot (#1429)
  CHANGELOG.md
  README.md
  crates/threshold-signature-server/src/helpers/app_state.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/main.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/unsafe/api.rs
  crates/threshold-signature-server/src/unsafe/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/errors.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none
