Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Make it possible to give custom testnet configuration
  node/cli/src/chain_spec/tdx_testnet.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Rm tdx testnet config as this can now be configured by the standard testnet config
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/tdx_testnet.rs
Due: node

Taplo
  crates/threshold-signature-server/Cargo.toml
Due: none

Fix `entropy-protocol` compilation on wasm (#1417)
  crates/protocol/Cargo.toml
  crates/protocol/js-README.md
Due: none

Read input as json
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

Handle file in testnet.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

Add test for JSON input chainspec parsing
  node/cli/src/chain_spec/testnet.rs
Due: node

Fix imports
  crates/client/src/tests.rs
  crates/threshold-signature-server/src/node_info/tests.rs
Due: none

Fix imports
  node/cli/src/chain_spec/testnet.rs
Due: node

Fix maping measurement values
  node/cli/src/chain_spec/testnet.rs
Due: node

Clippy
  node/cli/src/chain_spec/testnet.rs
Due: node

Fix feature flags
  node/cli/Cargo.toml
Due: node

Fix feature flags
  crates/shared/src/types.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/node_info/api.rs
  node/cli/Cargo.toml
Due: node

Fix following changing account id type
  node/cli/src/chain_spec/testnet.rs
Due: node

Take accepted measurement values as hex
  crates/threshold-signature-server/src/node_info/tests.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Add hex crate
  Cargo.lock
  node/cli/Cargo.toml
Due: node

Apply suggestions from code review
  pallets/outtie/src/lib.rs
  pallets/outtie/src/tests.rs
Due: pallets

fixes
  pallets/outtie/src/benchmarking.rs
  pallets/outtie/src/lib.rs
  pallets/outtie/src/mock.rs
  pallets/outtie/src/tests.rs
Due: pallets

Merge master
  crates/protocol/src/execute_protocol.rs
Due: none

Use example chainspec inputs in CI checks
  node/cli/src/command.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Use example chainspec inputs in CI checks
  .github/workflows/check-chainspecs.yaml
Due: none

Correct filename in CI script
  .github/workflows/check-chainspecs.yaml
Due: none

metadata
  crates/client/entropy_metadata.scale
Due: none

Add endowed accounts
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/endowed_accounts.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Clippy
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/endowed_accounts.rs
Due: node

Clone endowed accounts
  node/cli/src/chain_spec/testnet.rs
Due: node

Add schemars - to derive JSON schema for input struct
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec/testnet.rs
Due: node

Ditch schemars - it would need to be implemented on a bunch of foreign types - so probably it makes sense to implement JsonSchema manually - which i would do in a followup
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec/testnet.rs
Due: node

Error handling
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
  node/cli/test-chainspec-inputs/example-chainspec-inputs.json
Due: node

Error handling
  node/cli/src/chain_spec/testnet.rs
Due: node

Clippy
  crates/threshold-signature-server/Cargo.toml
  node/cli/src/chain_spec/testnet.rs
Due: node

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
