Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Allow MPL-2.0
  deny.toml
Due: none

Use `private` field to ignore non-published workspace crates
  deny.toml
Due: none

List issue around Constraint repo licensing
  deny.toml
Due: none

Tag `TODO` with issue number
  deny.toml
Due: none

TaploFmt
  deny.toml
Due: none

fix tests
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

tofnd shoutout for kvdb crate
  crates/kvdb/README.md
Due: none

Add script for adding license headers to files
  .maintain/AGPL-3.0-header.txt
  scripts/add-license-headers.sh
Due: none

Add comments to script
  scripts/add-license-headers.sh
Due: none

Add license headers to `free-tx` pallet
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  pallets/free-tx/src/weights.rs
Due: pallets

Add license headers to `helpers` pallet
  pallets/helpers/src/lib.rs
Due: pallets

Add license headers to `programs` pallet
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
  pallets/programs/src/weights.rs
Due: pallets

Add license headers to `propagation` pallet
  pallets/propagation/src/benchmarking.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
Due: pallets

Add license headers to `relayer` pallet
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
Due: pallets

Add license headers to `slashing` pallet
  pallets/slashing/src/benchmarking.rs
  pallets/slashing/src/lib.rs
  pallets/slashing/src/mock.rs
  pallets/slashing/src/tests.rs
Due: pallets

Add license headers to `staking` pallet
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/staking/src/weights.rs
Due: pallets

Add license headers to `transaction-pause` pallet
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/weights.rs
Due: pallets

Add license headers to `protocol` crate
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
  crates/protocol/src/lib.rs
  crates/protocol/src/protocol_message.rs
  crates/protocol/src/protocol_transport/broadcaster.rs
  crates/protocol/src/protocol_transport/errors.rs
  crates/protocol/src/protocol_transport/mod.rs
  crates/protocol/src/protocol_transport/noise.rs
  crates/protocol/src/protocol_transport/subscribe_message.rs
  crates/protocol/src/user/mod.rs
  crates/protocol/src/user/wasm.rs
Due: none

Add license headers to `shared` crate
  crates/shared/src/lib.rs
  crates/shared/src/types.rs
Due: none

Add license headers to `test-cli` crate
  crates/test-cli/src/main.rs
Due: none

Add license headers to `testing-utils` crate
  crates/testing-utils/src/constants.rs
  crates/testing-utils/src/lib.rs
  crates/testing-utils/src/node_proc.rs
  crates/testing-utils/src/substrate_context.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/testing-utils/src/tss_server_process.rs
Due: none

Remove duplicate license header
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
Due: pallets

Add `kvdb` `README` file and MIT license
  crates/kvdb/MIT-LICENSE
  crates/kvdb/README.md
Due: none

Add license headers to `kvdb` crate
  crates/kvdb/src/encrypted_sled/constants.rs
  crates/kvdb/src/encrypted_sled/kv.rs
  crates/kvdb/src/encrypted_sled/mod.rs
  crates/kvdb/src/encrypted_sled/password.rs
  crates/kvdb/src/encrypted_sled/record.rs
  crates/kvdb/src/encrypted_sled/result.rs
  crates/kvdb/src/encrypted_sled/tests.rs
  crates/kvdb/src/kv_manager/error.rs
  crates/kvdb/src/kv_manager/helpers.rs
  crates/kvdb/src/kv_manager/kv.rs
  crates/kvdb/src/kv_manager/mod.rs
  crates/kvdb/src/kv_manager/sled_bindings.rs
  crates/kvdb/src/kv_manager/tests.rs
  crates/kvdb/src/kv_manager/types.rs
  crates/kvdb/src/kv_manager/value.rs
  crates/kvdb/src/lib.rs
Due: none

Add paths to license files
  crates/kvdb/README.md
Due: none

Add GPL-3 license headers to Substrate files
  node/cli/src/admin.rs
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec.rs
  node/cli/src/cli.rs
  node/cli/src/command.rs
  node/cli/src/main.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  runtime/src/constants.rs
  runtime/src/impls.rs
  runtime/src/lib.rs
  runtime/src/voter_bags.rs
Due: node, runtime

Add AGPL license headers to Substrate code
  node/cli/build.rs
  node/cli/src/admin.rs
  node/cli/src/benchmarking.rs
  node/cli/src/chain_spec.rs
  node/cli/src/cli.rs
  node/cli/src/command.rs
  node/cli/src/endowed_accounts.rs
  node/cli/src/main.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  runtime/build.rs
  runtime/src/constants.rs
  runtime/src/impls.rs
  runtime/src/lib.rs
  runtime/src/voter_bags.rs
  runtime/src/weights/mod.rs
Due: node, runtime

Add license headers to weight files
  runtime/src/weights/frame_benchmarking.rs
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_storage.rs
  runtime/src/weights/pallet_treasury.rs
  runtime/src/weights/pallet_utility.rs
  runtime/src/weights/pallet_vesting.rs
  scripts/benchmarks.sh
Due: runtime

Add `Licensing` section to `README`
  README.md
Due: none

Try adding srtool github action
  .github/workflows/srtool.yml
Due: none

Set workdir in srtool github action
  .github/workflows/srtool.yml
Due: none

Check for license header before adding one
  scripts/add-license-headers.sh
Due: none

Add license header to `transaction-pause` weights
  pallets/transaction-pause/src/benchmarking.rs
Due: pallets

Add missing bracket
  pallets/transaction-pause/src/benchmarking.rs
Due: pallets

Add note about Acala in `README`
  README.md
Due: none

Add automated license checks (#564)
  .circleci/then.yml
  deny.toml
Due: none

Hacky fix to srtool github action to get it to not build entropy-tss
  .github/workflows/srtool.yml
Due: none

Omit workdir input in srtool github action
  .github/workflows/srtool.yml
Due: none

Add --exclude build option in srtools github action
  .github/workflows/srtool.yml
Due: none
