Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Use context, not block number in quote input
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/attestation/api.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/tests.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: pallets

Get context from querystring
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/tests.rs
Due: none

Rm blocknumber from quoteinput in staking pallet benchmarking code
  pallets/staking/src/benchmarking.rs
Due: pallets

Add no current signer guard (#1175)
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Fix pallet staking benchmarking
  pallets/staking/src/benchmarking.rs
Due: pallets

Update client tests
  crates/client/src/tests.rs
Due: none

test gets finalized blocks
  crates/client/src/tests.rs
Due: none

Test CLI - if no configuration / aux info interfaces files are provided, default to an empty vector (#1178)
  crates/test-cli/src/lib.rs
Due: none

more logging
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/tests/register_sign_reshare_sign.rs
Due: none

yaml
  .github/workflows/build-and-run-node-test.yaml
Due: none

pushed further
  crates/protocol/src/execute_protocol.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/tests/register_sign_reshare_sign.rs
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Tidy test
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Tidy test
  crates/protocol/src/execute_protocol.rs
Due: none

Add command to get oracle headings (#1170)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/client/src/tests.rs
  crates/test-cli/src/lib.rs
Due: none

Error handle
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
Due: none

Changelog
  CHANGELOG.md
Due: none

Neater handling of querystring
  crates/threshold-signature-server/src/attestation/api.rs
Due: none

Use an internal queue for messages with mismatched protocol id
  crates/protocol/src/execute_protocol.rs
Due: none

Add type info to oracle data
  pallets/oracle/src/lib.rs
  pallets/oracle/src/tests.rs
Due: pallets

update tss for oracle info
  CHANGELOG.md
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/substrate.rs
  pallets/oracle/src/lib.rs
Due: pallets

fix benchmarks
  pallets/oracle/src/benchmarking.rs
Due: pallets

lint
  crates/threshold-signature-server/tests/register_sign_reshare_sign.rs
Due: none

Use an internal queue for messages with mismatched session id in protocol execution loop (#1183)
  crates/protocol/src/execute_protocol.rs
Due: none

Fix for deadline issue
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Rm unused variable
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Fix local storage for rotate network key endpoint
  node/cli/src/service.rs
Due: node

Update test
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Reshare happens in a spawned task, fix local service rotate keyshares lookup key
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Reshare happens in a spawned task, fix local service rotate keyshares lookup key
  node/cli/src/service.rs
Due: node

Clippy
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Make context enum non exhaustive
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/attestation/api.rs
Due: none

Clippy
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Fix remaining tests
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Wait for protocol to finish during reshare test
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Use context, not block number in TDX quote input data (#1179)
  CHANGELOG.md
  crates/client/src/tests.rs
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/tests.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: pallets

Fix integration test
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/register_sign_reshare_sign.rs
Due: none
