Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

removed prontlns for debugging
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/subscribe/mod.rs
Due: crypto

cleanup1
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/user/api.rs
Due: crypto

more cleanup
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

cleaned up code, minus commented out code
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
Due: crypto

cleaned up
  crypto/server/src/user/tests.rs
Due: crypto

fmt
  crypto/server/src/user/tests.rs
Due: crypto

updated .gitignore
  .gitignore
Due: none

updates
  crypto/server/src/user/tests.rs
Due: crypto

taplo
  crypto/server/Cargo.toml
Due: crypto

set cicd nightly to same version as substrate master
  .circleci/then.yml
Due: none

cli warning
  crypto/shared/src/types.rs
Due: crypto

fmt
  crypto/shared/src/types.rs
Due: crypto

WIP
  .vscode/launch.json
  .vscode/tasks.json
  Cargo.lock
  README.md
  crypto/server/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/mod.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/validator.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  crypto/testing-utils/src/lib.rs
  crypto/testing-utils/src/substrate_context.rs
  runtime/Cargo.toml
Due: crypto, runtime

`/user/tx` starts the signing process when user submits valid EVM Transaction Request (#299)
  .circleci/then.yml
  .gitignore
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/helpers/signing.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  crypto/shared/src/types.rs
Due: crypto

add swap key benchmark
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

dank macros that solve our shit
  crypto/server/src/chain_api.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

fix more typos
  README.md
Due: none

add swap key benchmark (#298)
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

add validate with chain data
  Cargo.lock
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
  crypto/shared/Cargo.toml
  crypto/shared/src/types.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

fix wip: ocw posts to both 3001 and 3002
  crypto/server/src/helpers/signing.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

block number check working
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
  crypto/shared/src/types.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

verification working
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

working tests
  crypto/server/src/user/tests.rs
Due: crypto

fmt
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
  crypto/shared/Cargo.toml
  crypto/shared/src/types.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

add errors and negative tests
  Cargo.lock
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
Due: crypto

docs
  Cargo.lock
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
Due: crypto

clean
  Cargo.lock
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

clean
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

fmt
  Cargo.lock
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/tests.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

fix tests
  pallets/propagation/src/tests.rs
Due: pallets

add validate with chain data (#301)
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
  crypto/shared/Cargo.toml
  crypto/shared/src/types.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
Due: crypto, pallets

Add systemd unit services/Makefile
  Makefile
  service/entropy.service
  service/server.service
Due: none

feat: integration test for /user/tx (dirty)
  .vscode/launch.json
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/constraints/src/architectures.rs
  crypto/constraints/src/constraints.rs
  crypto/constraints/src/tests.rs
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/server/entropy_metadata.scale
  crypto/server/src/chain_api.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  crypto/shared/Cargo.toml
  crypto/shared/src/constraints.rs
  node/cli/src/endowed_accounts.rs
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/tests.rs
Due: node, crypto, pallets

fmt
  crypto/server/src/chain_api.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/mod.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/validator.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  crypto/shared/src/constraints.rs
  crypto/testing-utils/src/lib.rs
  crypto/testing-utils/src/substrate_context.rs
  pallets/constraints/src/tests.rs
Due: crypto, pallets

added negative tests
  crypto/kvdb/src/kv_manager/kv.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto
