Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Bump TOML versions to `0.0.9`
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/helpers/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, crypto, pallets, runtime

add program owner
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
  runtime/src/lib.rs
Due: pallets, runtime

Add missing `CHANGELOG` entries
  CHANGELOG.md
Due: none

Wrap long `CHANGELOG` line
  CHANGELOG.md
Due: none

Write high level release overview in `CHANGELOG`
  CHANGELOG.md
Due: none

Update `RELEASE_CHECKLIST` step to follow our tag structure
  RELEASE_CHECKLIST.md
Due: none

Bump lockfile
  Cargo.lock
Due: none

Update metadata
  crypto/server/entropy_metadata.scale
Due: crypto

Update weights
  runtime/src/weights/frame_benchmarking.rs
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_storage.rs
  runtime/src/weights/pallet_treasury.rs
  runtime/src/weights/pallet_utility.rs
  runtime/src/weights/pallet_vesting.rs
Due: runtime

Export plain binaries, always `strip(1)`, use `cargo build`. (#534)
  .github/workflows/build-and-release.yaml
  .github/workflows/container-build-and-push.yaml
  Dockerfile
Due: none

Remove Loki logger from tests
  crypto/server/src/helpers/tests.rs
Due: crypto

Rm blank line in readme
  crypto/test-cli/README.md
Due: crypto

Typo in readme
  crypto/test-cli/README.md
Due: crypto

Set publish to true in test CLI, change package name and use default features of sp-core
  Cargo.lock
  crypto/test-cli/Cargo.toml
Due: crypto

Changelog
  CHANGELOG.md
Due: none

Include simple CLI with testing-utils (#417)
  CHANGELOG.md
  Cargo.lock
  crypto/protocol/src/protocol_transport/noise.rs
  crypto/server/src/common.rs
  crypto/server/tests/protocol_wasm.rs
  crypto/server/tests/sign.rs
  crypto/test-cli/Cargo.toml
  crypto/test-cli/README.md
  crypto/test-cli/src/main.rs
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Remove Loki logger from tests (#541)
  crypto/server/src/helpers/tests.rs
Due: crypto

update server
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/tests/protocol_wasm.rs
  crypto/testing-utils/src/test_client/mod.rs
  pallets/programs/src/lib.rs
  pallets/relayer/src/mock.rs
Due: crypto, pallets

fix tests
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
Due: pallets

Test.
  README.md
Due: none

remove program bench
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/programs/src/weights.rs
  pallets/relayer/src/benchmarking.rs
  runtime/src/weights/frame_benchmarking.rs
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_storage.rs
  runtime/src/weights/pallet_treasury.rs
  runtime/src/weights/pallet_utility.rs
  runtime/src/weights/pallet_vesting.rs
Due: pallets, runtime

add change pointer benchmark
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

fix test
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

fix bench
  pallets/programs/src/lib.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

clean
  pallets/relayer/src/lib.rs
Due: pallets

merge master
  crypto/server/tests/protocol_wasm.rs
  crypto/server/tests/sign.rs
  crypto/test-cli/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
  pallets/programs/src/weights.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_relayer.rs
Due: crypto, pallets, runtime

clean
  crypto/server/tests/protocol_wasm.rs
  crypto/server/tests/sign.rs
  crypto/test-cli/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
  pallets/programs/src/tests.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

lint
  crypto/server/tests/protocol_wasm.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

docs
  pallets/programs/src/lib.rs
Due: pallets

fix weight changes
  runtime/src/weights/frame_benchmarking.rs
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_storage.rs
  runtime/src/weights/pallet_treasury.rs
  runtime/src/weights/pallet_utility.rs
  runtime/src/weights/pallet_vesting.rs
Due: runtime

wasm stuff
  crypto/server/tests/protocol_wasm.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

add to changelog
  CHANGELOG.md
Due: none

fix tests
  crypto/server/tests/sign.rs
Due: crypto

add program does not exist check
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

fix tests
  pallets/propagation/src/tests.rs
Due: pallets

Add readme and update makefile
  crypto/protocol/LICENSE
  crypto/protocol/Makefile
  crypto/protocol/js-README.md
Due: crypto

Rm LICENSE and cp top-level LICENSE to pkg
  crypto/protocol/LICENSE
  crypto/protocol/Makefile
Due: crypto

Add usage instructions to readme
  crypto/protocol/js-README.md
Due: crypto

Derive x25519 secret key inside entropy-protocol
  Cargo.lock
  crypto/protocol/Cargo.toml
  crypto/protocol/src/user/wasm.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
