Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Signing flow with derived accounts (#990)
  CHANGELOG.md
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/client/src/client.rs
  crates/client/src/user.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

First pass at new registration flow
  crates/client/src/client.rs
  crates/test-cli/src/lib.rs
Due: none

Hack jumpstart during registration flow
  crates/client/src/client.rs
Due: none

Split regstration into two functions depending on old or new flow
  crates/client/src/client.rs
  crates/test-cli/src/lib.rs
Due: none

Only do jumpstart if using the on-chain flow
  crates/client/src/client.rs
Due: none

Support signing for both old and new flows
  crates/client/src/client.rs
Due: none

Make `mnemonic_option` consistent across registration and signing
  crates/test-cli/src/lib.rs
Due: none

Clean up a few things in the register flow
  crates/client/src/client.rs
Due: none

Panic if we didn't get any successful registrations
  crates/test-cli/src/lib.rs
Due: none

Remove hacked jumpstart from registration flow
  crates/client/src/client.rs
Due: none

Clean attestation pallet (#1006)
  pallets/attestation/Cargo.toml
  pallets/attestation/src/lib.rs
Due: pallets

fmt
  pallets/attestation/src/lib.rs
Due: pallets

Make an attestation in the test
  pallets/attestation/Cargo.toml
  pallets/attestation/src/mock.rs
  pallets/attestation/src/tests.rs
Due: pallets

Lockfile
  Cargo.lock
Due: none

Taplo
  pallets/attestation/Cargo.toml
Due: pallets

Comments
  pallets/attestation/src/tests.rs
Due: pallets

Make quote input constructor generic, rm authorship pallet
  Cargo.lock
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/attestation/api.rs
  pallets/attestation/Cargo.toml
  pallets/attestation/src/lib.rs
  pallets/attestation/src/mock.rs
  pallets/attestation/src/tests.rs
Due: pallets

Add benchmarks
  Cargo.lock
  pallets/attestation/Cargo.toml
  pallets/attestation/src/benchmarking.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/tests.rs
  pallets/programs/src/benchmarking.rs
Due: pallets

Add pallet to chain runtime
  Cargo.lock
  crates/threshold-signature-server/src/attestation/api.rs
  pallets/attestation/Cargo.toml
  pallets/attestation/src/lib.rs
  runtime/Cargo.toml
Due: pallets, runtime

Rm unused import
  crates/threshold-signature-server/src/attestation/api.rs
Due: none

Move comment around
  crates/test-cli/src/lib.rs
Due: none

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

Improve benchmark
  pallets/attestation/Cargo.toml
  pallets/attestation/src/benchmarking.rs
  pallets/attestation/src/lib.rs
Due: pallets

merge
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/user/tests.rs
Due: none

clean
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/oracle/src/lib.rs
Due: pallets

add benchmarks
  pallets/oracle/src/benchmarking.rs
  pallets/oracle/src/lib.rs
  pallets/oracle/src/mock.rs
  pallets/oracle/src/weights.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_oracle.rs
Due: pallets, runtime

fix
  runtime/src/weights/mod.rs
Due: runtime

Generate weights
  pallets/attestation/src/benchmarking.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/mock.rs
  pallets/attestation/src/weights.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_attestation.rs
Due: pallets, runtime

Include weights in runtime
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
Due: runtime

Update metadata
  crates/client/entropy_metadata.scale
Due: none

Oracle data integration (#922)
  CHANGELOG.md
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/oracle/Cargo.toml
  pallets/oracle/src/benchmarking.rs
  pallets/oracle/src/lib.rs
  pallets/oracle/src/mock.rs
  pallets/oracle/src/tests.rs
  pallets/oracle/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_oracle.rs
Due: pallets, runtime

Submit the attest extrinsic to test the attestation pallet
  crates/threshold-signature-server/src/attestation/api.rs
Due: none

Fixes for submitting extrinsic
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
Due: none

Update attestation endpoint in preparation for using the propagation pallet to call it
  crates/threshold-signature-server/src/attestation/api.rs
  crates/threshold-signature-server/src/attestation/errors.rs
  crates/threshold-signature-server/src/attestation/tests.rs
Due: none

Propagation pallet propagates attestation requests
  Cargo.lock
  crates/shared/src/types.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
Due: pallets

Decode input from propagation pallet
  crates/threshold-signature-server/src/attestation/api.rs
Due: none

Add benchmarks to pallet propgation
  pallets/propagation/src/benchmarking.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/weights.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  runtime/src/weights/mod.rs
  runtime/src/weights/pallet_propagation.rs
Due: pallets, runtime

Add initial attestation requests to genesis config
  crates/threshold-signature-server/src/attestation/api.rs
  pallets/attestation/src/lib.rs
  pallets/attestation/src/mock.rs
  pallets/propagation/src/lib.rs
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
