Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

entropy-protocol wasm api takes sr25519 secret key rather than seed
  crypto/protocol/src/user/wasm.rs
Due: crypto

Add missing `CHANGELOG` entry for #414 (#527)
  CHANGELOG.md
Due: none

Add wasm-test feature flag for testing with sp-core keypairs
  crypto/protocol/Cargo.toml
  crypto/protocol/Makefile
  crypto/protocol/src/user/wasm.rs
Due: crypto

Update CI script
  .circleci/then.yml
Due: none

Comment
  crypto/protocol/src/user/wasm.rs
Due: crypto

Use from_ed25519_bytes when testing
  crypto/protocol/src/user/wasm.rs
Due: crypto

Clean up Loki labels
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/helpers/logger.rs
Due: crypto

Add `.await` to all test logger calls
  crypto/server/src/health/tests.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  crypto/server/src/version/tests.rs
Due: crypto

Add note about Loki test logger
  crypto/server/src/helpers/tests.rs
Due: crypto

`ec-runtime` now errors for zero-sized programs (#529)
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

Update Synedrion usage to v0.0.12
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_message.rs
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/user/wasm.rs
  crypto/server/Cargo.toml
  crypto/testing-utils/Cargo.toml
Due: crypto

Generalize session running loop
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/user/mod.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
Due: crypto

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

update program pallet
  pallets/programs/src/lib.rs
Due: pallets

Update test
  crypto/protocol/nodejs-test/index.js
  crypto/protocol/src/user/wasm.rs
  crypto/server/tests/protocol_wasm.rs
Due: crypto

Fjarri/update synedrion (#535)
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_message.rs
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/user/mod.rs
  crypto/protocol/src/user/wasm.rs
  crypto/server/Cargo.toml
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
  crypto/testing-utils/Cargo.toml
Due: crypto

update relayer
  pallets/relayer/src/lib.rs
Due: pallets

Adjust block number offset used for selecting DKG committe when registering in private mode
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

programs tests
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
Due: pallets

Export plain binaries, always `strip(1)`, use `cargo build`.
  .github/workflows/build-and-release.yaml
  .github/workflows/container-build-and-push.yaml
  Dockerfile
Due: none

relayer tests
  crypto/server/src/user/api.rs
  pallets/programs/src/lib.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

test change pointer
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

`entropy-protocol` - polkadot-js compatible sr25519 key generation for wasm API (#533)
  .circleci/then.yml
  crypto/protocol/Cargo.toml
  crypto/protocol/Makefile
  crypto/protocol/nodejs-test/index.js
  crypto/protocol/src/user/wasm.rs
  crypto/server/tests/protocol_wasm.rs
Due: crypto

Change about description for CLI
  crypto/testing-utils/src/main.rs
Due: crypto

Typo
  crypto/testing-utils/src/main.rs
Due: crypto

Add long about
  crypto/testing-utils/src/main.rs
Due: crypto

CLI display changes suggested in PR review
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Initialise test logger in integration test
  crypto/server/tests/sign.rs
Due: crypto

Initialize test logger in integration test
  crypto/server/tests/sign.rs
Due: crypto

Improve display of registered accounts
  crypto/testing-utils/src/main.rs
Due: crypto

Dont initialise test logger in integration tests
  crypto/server/tests/sign.rs
Due: crypto

Comment changes based on PR review feedback
  crypto/testing-utils/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Move test cli to separate binary
  Cargo.lock
  crypto/test-cli/Cargo.toml
  crypto/test-cli/src/main.rs
  crypto/testing-utils/Cargo.toml
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Add README
  crypto/test-cli/README.md
Due: crypto

Update CLI readme
  crypto/test-cli/README.md
Due: crypto

Taplo
  crypto/testing-utils/Cargo.toml
Due: crypto

Fix import issue in protocol wasm test
  crypto/server/tests/protocol_wasm.rs
Due: crypto

Fixes following merge with master
  crypto/protocol/src/protocol_transport/noise.rs
  crypto/server/tests/protocol_wasm.rs
Due: crypto

Add Loki logging layer (#528)
  CHANGELOG.md
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/health/tests.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/logger.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  crypto/server/src/version/tests.rs
Due: crypto

Bump `spec_version`
  runtime/src/lib.rs
Due: runtime

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
