Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

prep chain for verification key
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

Clippy
  crypto/server/src/helpers/substrate.rs
Due: crypto

update threshold server for validating key
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

added bounded vec
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

fix benchmarks
  pallets/relayer/src/benchmarking.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

Store verifying key with registration (#398)
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  runtime/src/weights/pallet_relayer.rs
Due: crypto, pallets, runtime

new_user runs DKG in a separate task in order to be able to respond early
  crypto/server/src/user/api.rs
Due: crypto

Update store_share test to wait to confirm that the user is registered before checking for a stored share
  crypto/server/src/user/tests.rs
Due: crypto

Tidy
  crypto/server/src/user/tests.rs
Due: crypto

Propagation pallet should only call user/new when someone registered
  pallets/propagation/src/lib.rs
Due: pallets

Fmt
  pallets/propagation/src/lib.rs
Due: pallets

Update propagation pallet test
  pallets/propagation/src/tests.rs
Due: pallets

add check_stale to sign message
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validation/errors.rs
  crypto/server/src/validation/mod.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/tests.rs
Due: crypto

add check_stale to sign message (#399)
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validation/errors.rs
  crypto/server/src/validation/mod.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/tests.rs
Due: crypto

private KeyVisibilty includes x25519 public key
  crypto/shared/src/types.rs
Due: crypto

Update relayer pallet to only require x25519 public key with private key visibility
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

Update chain_spec
  node/cli/src/chain_spec.rs
Due: node

Update chain metadata
  crypto/server/entropy_metadata.scale
Due: crypto

Update server
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Fmt
  pallets/relayer/src/lib.rs
Due: pallets

Update relayer benchmarking
  pallets/relayer/src/benchmarking.rs
Due: pallets

Rm test annotation that was there by accident
  crypto/server/src/helpers/substrate.rs
Due: crypto

User can participate in DKG (second try) (#396)
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/types.rs
  node/cli/src/chain_spec.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: node, crypto, pallets

tests passing
  crypto/server/src/helpers/signing.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

remove signing state
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

version bump
  runtime/src/lib.rs
Due: runtime

add sig and test
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

tests and signature with returned data
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

more signing tests
  crypto/server/src/user/tests.rs
Due: crypto

remove comments
  pallets/propagation/src/lib.rs
Due: pallets

Add needed dependencies
  crypto/protocol/Cargo.toml
  crypto/protocol/src/protocol_transport/broadcaster.rs
  crypto/protocol/src/protocol_transport/noise.rs
  crypto/protocol/src/protocol_transport/protocol_message.rs
Due: crypto

Errors
  crypto/protocol/src/errors.rs
Due: crypto

Protocol transport module
  crypto/protocol/src/protocol_transport/broadcaster.rs
  crypto/protocol/src/protocol_transport/errors.rs
  crypto/protocol/src/protocol_transport/mod.rs
  crypto/protocol/src/protocol_transport/noise.rs
  crypto/protocol/src/protocol_transport/protocol_message.rs
Due: crypto

Execute protocol fns
  crypto/protocol/src/execute_protocol.rs
Due: crypto

Top level lib.rs
  crypto/protocol/src/lib.rs
Due: crypto

Lockfile
  Cargo.lock
Due: none

Fmt
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/protocol_transport/noise.rs
Due: crypto

Rm half-baked user-protocol crate
  crypto/user-protocol/Cargo.toml
  crypto/user-protocol/src/lib.rs
Due: crypto

Begin refactor of server
  crypto/protocol/src/protocol_message.rs
  crypto/server/src/signing_client/listener.rs
  crypto/server/src/signing_client/protocol_execution/execute_protocol.rs
  crypto/server/src/signing_client/protocol_execution/protocol_message.rs
  crypto/server/src/signing_client/protocol_transport/broadcaster.rs
  crypto/server/src/signing_client/protocol_transport/message.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/signing_client/protocol_transport/noise.rs
Due: crypto

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
