Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Fill out `testnet` module
  node/cli/src/admin.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

Add `testnet_local` configuration
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

Remove `admin` module
  node/cli/src/admin.rs
  node/cli/src/main.rs
Due: node

Remove uneccessary chain configs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/endowed_accounts.rs
Due: node

Clean up `--chain` options
  node/cli/src/command.rs
Due: node

TaploFmt
  crates/shared/Cargo.toml
  node/cli/Cargo.toml
Due: node

If a program is already stored when registering, use it rather than failing with an error
  crates/test-cli/Cargo.toml
  crates/test-cli/src/main.rs
Due: none

relayer tests
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

fix server tests
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
Due: none

programs benchmark
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
Due: pallets

program benchmarks
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
Due: pallets

fix all tests
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  pallets/propagation/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

change function to change program data
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  pallets/programs/src/benchmarking.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

Move testing configuration to own module
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testing.rs
  node/cli/src/command.rs
Due: node

Rename `test` chainspec to `integration_tests`
  crates/testing-utils/src/substrate_context.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/command.rs
Due: node

Move X25519 public keys into consts and own module
  Cargo.lock
  crates/shared/Cargo.toml
  crates/shared/src/lib.rs
  crates/testing-utils/src/constants.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Move TSS AccountID into own module
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Use new consts in `integration_tests` module
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Clean up some unused re-exports
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Use full word for "properties"
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Use `get_account_id_from_seed` from import instead of full path
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Add `Charlie` X25519 public key
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
Due: node

Update comments around what each network is made up of
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

clean
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

It doesn't need to be a validator for tests to pass
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Clean up unused re-export
  node/cli/src/chain_spec/mod.rs
Due: node

Update some comments
  node/cli/src/chain_spec/dev.rs
  node/cli/src/command.rs
Due: node

Replace more hex accounts with named accounts
  node/cli/src/endowed_accounts.rs
Due: node

Display stored program in status information
  Cargo.lock
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  pallets/programs/src/lib.rs
Due: pallets

Also display program hash when displaying programs
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
Due: none

add changelog
  CHANGELOG.md
Due: none

fix setup only flag
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
Due: none

Update crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

tweak
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Pull out `Eve` X25519 public key into const
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Add `devnet-local` configuration back
  docker-compose.yaml
  node/cli/src/chain_spec/dev.rs
  node/cli/src/command.rs
Due: node

Change `testnet-local` address to use Docker addresses
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
Due: node

Make note about breaking changes in `CHANGELOG`
  CHANGELOG.md
Due: none

Refactor Rust-based chain specs (#592)
  CHANGELOG.md
  Cargo.lock
  crates/testing-utils/src/substrate_context.rs
  docker-compose.yaml
  node/cli/Cargo.toml
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
  node/cli/src/endowed_accounts.rs
  node/cli/src/main.rs
Due: node

Fix hash fn used when hashing programs, and improve CLI status output
  Cargo.lock
  crates/test-cli/Cargo.toml
  crates/test-cli/src/main.rs
Due: none
