Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Update tests
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/main.rs
Due: crypto

allow local host pass for offchain url (#443)
  Cargo.lock
  docker-compose.yaml
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  node/cli/src/cli.rs
  node/cli/src/service.rs
Due: node

update doc
  node/cli/src/cli.rs
Due: node

Update node/cli/src/cli.rs
  node/cli/src/cli.rs
Due: node

change info message
  node/cli/src/service.rs
Due: node

Update TSS startup inline docs (#445)
  node/cli/src/cli.rs
  node/cli/src/service.rs
Due: node

Update `pallet-relayer` to use Contraints V2 (#433)
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/user/tests.rs
  pallets/constraints/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: crypto, pallets, runtime

Take a storage deposit for programs during registration
  pallets/constraints/src/lib.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
Due: pallets

Take a storage deposit for programs during registration (#447)
  pallets/constraints/src/lib.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
Due: pallets

Select DKG committee when registerig with private key visibility
  crypto/testing-utils/src/test_client/mod.rs
Due: crypto

Remove some unused functions
  pallets/constraints/src/lib.rs
Due: pallets

Add some docs to Config trait
  pallets/constraints/src/lib.rs
Due: pallets

Replace "constraint" with "program" in a bunch of places
  pallets/constraints/src/lib.rs
  pallets/constraints/src/mock.rs
  pallets/constraints/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  runtime/src/lib.rs
Due: pallets, runtime

Update benchmarks
  pallets/constraints/src/benchmarking.rs
Due: pallets

Rename `update_constraints` extrinsic to `update_program`
  crypto/server/src/helpers/tests.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/tests.rs
  pallets/constraints/src/weights.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/weights/pallet_constraints.rs
Due: crypto, pallets, runtime

Update constants in mock runtimes
  pallets/constraints/src/mock.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/mock.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

Update metadata
  crypto/server/entropy_metadata.scale
Due: crypto

Fix benchmarks
  pallets/constraints/src/benchmarking.rs
  pallets/relayer/src/benchmarking.rs
Due: pallets

Update constraint tests to use "program" wording
  pallets/constraints/src/tests.rs
  pallets/relayer/src/tests.rs
Due: pallets

Remove import in server tests
  crypto/server/src/user/tests.rs
Due: crypto

Remove V1 constraints from `pallet_constraints` (#428)
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
  pallets/constraints/src/benchmarking.rs
  pallets/constraints/src/lib.rs
  pallets/constraints/src/mock.rs
  pallets/constraints/src/tests.rs
  pallets/constraints/src/weights.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_constraints.rs
Due: crypto, pallets, runtime

Remove unneccesary commit messages from `CHANGELOG`
  CHANGELOG.md
Due: none

Point to the `entropy-core` repo in the `CHANGELOG`
  CHANGELOG.md
Due: none

Update the URL when comparing releases too
  CHANGELOG.md
Due: none

Remove git-cliff
  cliff.toml
  scripts/changelog.sh
Due: none

Add current set of unreleased changes
  CHANGELOG.md
Due: none

one test working
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/kvdb/Cargo.toml
  crypto/protocol/Cargo.toml
  crypto/server/Cargo.toml
  crypto/server/src/chain_api.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/api.rs
  crypto/shared/Cargo.toml
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  node/cli/src/command.rs
  node/cli/src/rpc.rs
  node/cli/src/service.rs
  pallets/constraints/Cargo.toml
  pallets/constraints/src/lib.rs
  pallets/free-tx/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/relayer/Cargo.toml
  pallets/relayer/src/lib.rs
  pallets/slashing/Cargo.toml
  pallets/slashing/src/lib.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
  pallets/transaction-pause/Cargo.toml
  pallets/transaction-pause/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: node, crypto, pallets, runtime

lint
  node/cli/src/admin.rs
  node/cli/src/chain_spec.rs
  node/cli/src/command.rs
  pallets/propagation/src/lib.rs
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
  runtime/src/lib.rs
Due: node, pallets, runtime

fix all tests
  crypto/server/src/chain_api.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  node/cli/Cargo.toml
  node/cli/src/command.rs
  node/cli/src/service.rs
  pallets/free-tx/Cargo.toml
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
  runtime/src/lib.rs
Due: node, crypto, pallets, runtime

remove unwraps
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
Due: crypto

clean
  pallets/free-tx/src/mock.rs
Due: pallets

fix all tests
  node/cli/src/service.rs
  pallets/relayer/src/mock.rs
  pallets/slashing/src/mock.rs
  pallets/staking/src/mock.rs
  pallets/transaction-pause/src/mock.rs
  runtime/src/impls.rs
Due: node, pallets, runtime

lint
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
  pallets/constraints/src/lib.rs
Due: crypto, pallets

fix some pallet mocks
  pallets/constraints/src/mock.rs
  pallets/free-tx/src/mock.rs
Due: pallets

lint
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
Due: crypto

fix propogation tests
  cliff.toml
  node/cli/src/service.rs
  pallets/constraints/src/mock.rs
  pallets/free-tx/src/mock.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/mock.rs
Due: node, pallets

fix the batch sizing
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/tests.rs
Due: crypto

fix constraints pallet
  pallets/constraints/src/lib.rs
Due: pallets

Work clean. <3 <3 <3
  .rustfmt.toml
  scripts/git/hooks/pre-commit
Due: none

Rename `pallet-constraints` to `pallet-programs`
  pallets/constraints/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: pallets, runtime

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
