Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

fix sig recovery check
  crates/threshold-signature-server/src/user/tests.rs
Due: none

add pre sign checks
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

add signer check
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Inline test code used to spin up Substrate nodes
  crates/testing-utils/src/substrate_context.rs
Due: none

Use new spin up functions in validator tests
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Add back default TSS spin up helper function
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Use renamed helper for spinning up TSS servers with unique ports
  crates/threshold-signature-server/src/user/tests.rs
Due: none

RustFmt
  crates/testing-utils/src/substrate_context.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Just run `user` and `validator` tests
  .github/workflows/build-and-run-node-test.yaml
Due: none

Remove port scaning for old node spinup API
  crates/testing-utils/src/substrate_context.rs
Due: none

Revert changes in validator tests
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Only build the `entropy-tss` code
  .github/workflows/build-and-run-node-test.yaml
Due: none

Use new node spin up API in `user` tests
  crates/threshold-signature-server/src/user/tests.rs
Due: none

RustFmt
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Build node before test and limit threads properly
  .github/workflows/build-and-run-node-test.yaml
Due: none

Increase some timeouts
  crates/testing-utils/src/node_proc.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Limit test threads to one and log output
  .github/workflows/build-and-run-node-test.yaml
Due: none

Select jumpstart validators when handling jumpstart extrinsic
  Cargo.lock
  pallets/registry/Cargo.toml
  pallets/registry/src/lib.rs
Due: pallets

OcwMessageDkg no longer includes signature request account
  crates/shared/src/types.rs
Due: none

Update propagation pallet
  pallets/propagation/src/lib.rs
Due: pallets

Update metadata
  crates/client/entropy_metadata.scale
Due: none

DKG session id no longer contains signature request account
  crates/protocol/src/lib.rs
Due: none

Handle validating selected validators on jumpstart on TSS
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Lockfile
  Cargo.lock
Due: none

Tidy
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/api.rs
Due: none

Tests for registry pallet
  Cargo.lock
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Tidy
  crates/threshold-signature-server/src/user/api.rs
  pallets/registry/Cargo.toml
  pallets/registry/src/lib.rs
Due: pallets

Add alloc feature to rand
  pallets/registry/Cargo.toml
Due: pallets

Update entropy-protocol tests
  crates/protocol/tests/protocol.rs
Due: none

Update registry benchmarks
  pallets/registry/src/benchmarking.rs
Due: pallets

Recalculate registry weights
  runtime/src/weights/pallet_registry.rs
Due: runtime

Update test helper for mocking jumpstart
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

add validator checks
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
Due: none

Fix jumpstart network test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

remove validator info from user sig req message
  crates/client/src/client.rs
  crates/client/src/user.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/sign_init.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Apply suggestions from code review
  CHANGELOG.md
  RELEASE_CHECKLIST.md
  pallets/programs/src/lib.rs
Due: pallets

clean
  crates/test-cli/src/lib.rs
Due: none

Update pallets/programs/src/benchmarking.rs
  pallets/programs/src/benchmarking.rs
Due: pallets

Remove thread limitation on Wasm test
  .github/workflows/build-and-run-node-test.yaml
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
