Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Use signature request account, not request author account, to lookup keyshare
  crates/threshold-signature-server/src/user/api.rs
Due: none

Fix integration tests and add negative test for signing in private mode with bad request author
  crates/threshold-signature-server/tests/sign.rs
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Check for out of range indexes when selecting random validator
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Update test
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

add loggings on error
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/validator/errors.rs
Due: none

add changelog
  CHANGELOG.md
Due: none

Update TSS info used in testnet
  node/cli/src/chain_spec/testnet.rs
Due: node

Update volume path used in insert key script
  scripts/insert-validator-node-keys.sh
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

pusb account getting to chain
  crates/shared/src/types.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
  pallets/relayer/src/mock.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
Due: node, pallets

refactor
  CHANGELOG.md
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/validator/errors.rs
Due: none

Edit comment
  crates/threshold-signature-server/tests/sign.rs
Due: none

Check for out of range indexes when selecting random validator (#624)
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Emit events on TSS server errors (#625)
  CHANGELOG.md
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/validator/errors.rs
Due: none

Re-order tests and change variable name following review
  crates/threshold-signature-server/tests/sign.rs
Due: none

Add this PR to added section of changelog
  CHANGELOG.md
Due: none

Include user account in tracing span for test client sign fn
  crates/testing-utils/src/test_client/mod.rs
Due: none

Simplify type conversion of request author account ID and improve naming following review
  crates/threshold-signature-server/src/user/api.rs
Due: none

Public access mode (#623)
  CHANGELOG.md
  crates/protocol/src/lib.rs
  crates/protocol/src/user/mod.rs
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
Due: none

Update initial TSS accounts to match deployed testnet (#626)
  node/cli/src/chain_spec/testnet.rs
  scripts/insert-validator-node-keys.sh
Due: node

Add option allowing to sign with someone elses account for public access mode
  crates/test-cli/src/main.rs
Due: none

Improve public key logging
  crates/test-cli/src/main.rs
Due: none

changelog
  CHANGELOG.md
  pallets/propagation/src/mock.rs
  pallets/relayer/src/mock.rs
  pallets/staking/src/mock.rs
Due: pallets

fix tests
  pallets/propagation/src/tests.rs
Due: pallets

new session rust test
  pallets/staking/src/tests.rs
Due: pallets

add to changelog
  CHANGELOG.md
Due: none

Change doc comment following review
  crates/test-cli/src/main.rs
Due: none

Update doc comment following review
  crates/test-cli/src/main.rs
Due: none

Typo
  crates/test-cli/src/main.rs
Due: none

parse_account_id should take &str rather than String
  crates/test-cli/src/main.rs
Due: none

Clippy
  crates/test-cli/src/main.rs
Due: none

add comment to test
  pallets/staking/src/tests.rs
Due: pallets

Update crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
Due: none

remove refreshes done
  CHANGELOG.md
  crates/shared/src/types.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/staking/src/lib.rs
Due: pallets

docs
  crates/shared/src/types.rs
Due: none

docs
  pallets/staking/src/lib.rs
Due: pallets

Update test CLI for public access mode (#628)
  crates/test-cli/src/main.rs
Due: none
