Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

execute dkg
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/server/Cargo.toml
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

validate new_user endpoint
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

add receive key endpoint
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

setup listener for dkg
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/errors.rs
Due: crypto

confirm register
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

more tests
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

recieve key tests
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

add validator info to dgk ocw
  crypto/server/src/user/api.rs
  crypto/shared/src/types.rs
  pallets/propagation/src/lib.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

fix tests compilation
  crypto/server/src/user/tests.rs
Due: crypto

refactor ocw data type
  crypto/server/src/user/api.rs
  crypto/shared/src/types.rs
  pallets/propagation/src/lib.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

add send key
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

lint
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

fix tests
  node/cli/Cargo.toml
  pallets/propagation/src/tests.rs
  pallets/relayer/src/tests.rs
Due: node, pallets

fix benchmarks
  Cargo.lock
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  pallets/propagation/src/lib.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
Due: node, crypto, pallets

working tests
  Cargo.lock
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/types.rs
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  pallets/propagation/src/lib.rs
  pallets/relayer/src/lib.rs
Due: node, crypto, pallets

docs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
Due: crypto

remove a dbg
  crypto/server/src/helpers/user.rs
Due: crypto

lint
  pallets/relayer/src/lib.rs
Due: pallets

fix tests
  crypto/server/src/helpers/tests.rs
Due: crypto

update synedrion
  Cargo.lock
  crypto/kvdb/Cargo.toml
  crypto/kvdb/src/kv_manager/mod.rs
  crypto/kvdb/src/kv_manager/value.rs
  crypto/server/Cargo.toml
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/signing_protocol.rs
Due: crypto

change node run scripts
  scripts/alice-node.sh
  scripts/bob-node.sh
Due: none

clean
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/types.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
Due: crypto, pallets

remove swapping code
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: crypto, pallets, runtime

remove swapping code
  crypto/server/src/user/tests.rs
Due: crypto

Rename variables to generalise DKG and signing protocols
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/execute_protocol.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/protocol_message.rs
  crypto/server/src/signing_client/protocol_transport/broadcaster.rs
  crypto/server/src/signing_client/protocol_transport/listener.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
Due: crypto

fmt
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

Fixes following merge with master
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/user/tests.rs
Due: crypto

spawn_testing_validators helper function should optionally create a share for the user
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
Due: crypto

add free confirm register tx
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  runtime/src/lib.rs
Due: pallets, runtime

metadata change
  crypto/server/entropy_metadata.scale
Due: crypto

fmt
  runtime/src/lib.rs
Due: runtime

try updating rust version to stable (#385)
  rust-toolchain.toml
Due: none

add free confirm register tx (#389)
  crypto/server/entropy_metadata.scale
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  runtime/src/lib.rs
Due: crypto, pallets, runtime

rough integration
  Cargo.lock
  Cargo.toml
  crypto/server/Cargo.toml
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/constants.rs
  crypto/testing-utils/template_barebones.wasm
  rust-toolchain.toml
Due: crypto

fmt
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/constants.rs
Due: crypto

clippy
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/user/api.rs
Due: crypto

fixed ssh dep
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

fmt
  crypto/server/src/helpers/substrate.rs
Due: crypto
