Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature (path-filtering)
# https://circleci.com/docs/dynamic-config
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
# https://circleci.com/developer/orbs/orb/circleci/path-filtering
orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  # always-run is always triggered (yikes), regardless of the pipeline parameters.
  always-run: 
    jobs:
      # the path-filtering/filter job determines which pipeline parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
            # do rest after validation
            # crypto/centralized-keygen/.* centralized-keygen-change true
            # crypto/.* signing-client-change true
          mapping: |
            node/.* node true
            crypto/.* crypto true
            pallets/.* pallets true
          base-revision: master
          # path to trigger once filtering/value updates finish 
          config-path: .circleci/then.yml

fix benchmarks
  pallets/staking/src/benchmarking.rs
Due: pallets

formatting
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/src/lib.rs
  pallets/staking/src/lib.rs
Due: crypto, pallets

address comments
  crypto/server/src/user/tests.rs
  crypto/testing-utils/src/node_proc.rs
  pallets/relayer/src/lib.rs
  pallets/staking/src/mock.rs
  runtime/src/lib.rs
Due: crypto, pallets

Subgroup flow (#228)
  Cargo.lock
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  pallets/relayer/Cargo.toml
  pallets/relayer/src/lib.rs
  pallets/staking/Cargo.toml
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
  pallets/staking/test.py
  runtime/src/lib.rs
  scripts/install-taplo.sh
  scripts/setup-debian.sh
Due: crypto, pallets

parsing basic evm tx
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/constraints/src/lib.rs
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/constraints/src/tx/utils.rs
  crypto/server/Cargo.toml
Due: crypto

cleanup and additional test
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/constraints/src/tx/utils.rs
Due: crypto

fmt
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/constraints/src/tx/utils.rs
Due: crypto

clippy
  crypto/constraints/src/tx/utils.rs
Due: crypto

removed default feats on web3 to make it lighter
  Cargo.lock
  crypto/constraints/Cargo.toml
Due: crypto

refactoring
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/utils.rs
Due: crypto

clean up comments
  crypto/constraints/src/tx/mod.rs
Due: crypto

fmt
  crypto/constraints/src/tx/evm.rs
Due: crypto

updated test lol
  crypto/constraints/src/tests.rs
Due: crypto

updated errors
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/utils.rs
Due: crypto

fix linting
  crypto/constraints/src/tx/evm.rs
Due: crypto

add TODO about EVM transaction requests
  crypto/constraints/src/tx/utils.rs
Due: crypto

Parse JSON EVM Transaction Requests (#239)
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/constraints/src/lib.rs
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/constraints/src/tx/utils.rs
  crypto/server/Cargo.toml
Due: crypto

Add function header
  crypto/server/src/user/api.rs
Due: crypto

add SignatureRequest event containing request
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

fmt
  pallets/relayer/src/lib.rs
Due: pallets

add Arch type to TX
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/server/src/user/api.rs
Due: crypto

Add `SignatureRequest` Event containing IP addresses of Validators (#246)
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: pallets

Add endpoint
  Cargo.lock
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/server/Cargo.toml
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Add TODO
  crypto/server/src/user/api.rs
Due: crypto

Add unsigned tx endpoint (#245)
  Cargo.lock
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/server/Cargo.toml
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

constraints: access control list
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/lib.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/constraints/src/tx/utils.rs
  crypto/constraints/src/whitelist.rs
Due: crypto

working rebase
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/lib.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/constraints/src/tx/utils.rs
  crypto/substrate-common/Cargo.toml
  crypto/substrate-common/src/lib.rs
  crypto/substrate-common/src/types.rs
Due: crypto

add tests
  Cargo.lock
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx/mod.rs
  crypto/server/Cargo.toml
  crypto/server/src/user/api.rs
  crypto/substrate-common/Cargo.toml
  pallets/staking/Cargo.toml
Due: crypto, pallets

constraints: access control list
  crypto/constraints/src/tx/utils.rs
Due: crypto

rebased
  crypto/constraints/Cargo.toml
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/lib.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/constraints/src/tx/utils.rs
  crypto/server/src/user/api.rs
  crypto/substrate-common/Cargo.toml
  crypto/substrate-common/src/types.rs
Due: crypto

working
  crypto/constraints/src/tx/utils.rs
Due: crypto

add in get all keys
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/errors.rs
  crypto/server/src/validator/mod.rs
  crypto/server/src/validator/tests.rs
Due: crypto

test get all keys
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  node/cli/src/chain_spec.rs
  pallets/relayer/src/lib.rs
Due: node, crypto, pallets

add null_addr struct member
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/tests.rs
  crypto/substrate-common/src/types.rs
Due: crypto

compileing
  crypto/server/src/main.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

fix clippy
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
Due: crypto
