Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

tweaks
  crates/testing-utils/src/test_client/mod.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
Due: pallets

change program data to instance
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

Program config storage (#593)
  CHANGELOG.md
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/weights/pallet_relayer.rs
Due: pallets, runtime

Get `entropy-shared` compiling with updated deps
  crates/shared/Cargo.toml
  crates/shared/src/types.rs
Due: none

Fix `entropy-shared` build for `wasm-no-std`
  crates/shared/Cargo.toml
  crates/shared/src/types.rs
Due: none

integrate program config to tss
  Cargo.lock
  crates/testing-utils/example_barebones_with_auxilary.wasm
  crates/testing-utils/example_custom_hash.wasm
  crates/testing-utils/infinite_loop.wasm
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/api.rs
Due: none

change program_type_definition to configuration_interface
  crates/testing-utils/src/test_client/mod.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/tests.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

Make `pallet-staking-extension` compile
  Cargo.lock
  pallets/staking/Cargo.toml
  pallets/staking/src/lib.rs
Due: pallets

update changelog
  CHANGELOG.md
Due: none

Introduce staking changes from https://github.com/paritytech/substrate/pull/12970
  pallets/staking/src/mock.rs
  pallets/staking/src/tests.rs
Due: pallets

Add RuntimeFreezeReason from https://github.com/paritytech/polkadot-sdk/pull/1900
  pallets/staking/src/mock.rs
Due: pallets

Re-map errors in staking extension pallet
  pallets/staking/src/lib.rs
Due: pallets

Bump `pallet-programs`
  Cargo.lock
  pallets/programs/Cargo.toml
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
Due: pallets

Missed a crate dep for staking extension
  Cargo.lock
  pallets/staking/Cargo.toml
Due: pallets

Remove commented out code
  pallets/staking/Cargo.toml
Due: pallets

Get `pallet-relayer` compiling
  Cargo.lock
  pallets/relayer/Cargo.toml
  pallets/relayer/src/lib.rs
Due: pallets

Fix relayer test compilation
  pallets/relayer/src/mock.rs
  pallets/staking/src/mock.rs
Due: pallets

Fix `pallet-free-tx`'s tests
  Cargo.lock
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
Due: pallets

Reorder config types
  pallets/relayer/src/mock.rs
  pallets/staking/src/mock.rs
Due: pallets

update tag
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
Due: none

update metadata
  crates/threshold-signature-server/entropy_metadata.scale
Due: none

Fix `--setup-only` flag (#594)
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/main.rs
Due: none

Bump `pallet-propagation` dependencies
  Cargo.lock
  pallets/propagation/Cargo.toml
  pallets/propagation/src/lib.rs
  pallets/propagation/src/mock.rs
Due: pallets

Bump `pallet-slashing` dependencies
  Cargo.lock
  pallets/slashing/Cargo.toml
  pallets/slashing/src/lib.rs
  pallets/slashing/src/mock.rs
Due: pallets

Bump `pallet-transaction-pause`
  Cargo.lock
  pallets/transaction-pause/Cargo.toml
  pallets/transaction-pause/src/lib.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

TaploFmt
  crates/shared/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
Due: pallets

Use `StakingAccount` instead of `.into()`
  pallets/staking/src/lib.rs
Due: pallets

Import `vec` macro in `pallet-slashing`
  pallets/slashing/src/lib.rs
Due: pallets

Import `vec` in other pallets
  pallets/propagation/src/lib.rs
  pallets/relayer/src/lib.rs
Due: pallets

Bump TOML dependencies for runtime
  Cargo.lock
  runtime/Cargo.toml
Due: runtime

Self define types instead of using `node-primitives`
  runtime/src/constants.rs
  runtime/src/lib.rs
Due: runtime

Update staking related configs
  runtime/src/lib.rs
Due: runtime

Update `pallet-preimage` config
  runtime/src/lib.rs
Due: runtime

Add `MaxNominators` to `pallet_babe`
  runtime/src/lib.rs
Due: runtime

Add `MaxNominators` to `pallet_grandpa`
  runtime/src/lib.rs
Due: runtime

Add `RuntimeFreezeReason` to `pallet_nomination_pools`
  runtime/src/lib.rs
Due: runtime

Add `MaxTipAmount` to `pallet_tips`
  runtime/src/lib.rs
Due: runtime

Add `IdentityInformation` to `pallet_identity`
  runtime/src/lib.rs
Due: runtime

Use partial_tx with nonce api when submitting register tx
  crates/testing-utils/src/test_client/mod.rs
Due: none

Update wasm integration test
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none
