Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

integrate oracle data to core
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
Due: none

test oracle data fetch
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/api.rs
Due: none

parameterized bounded vecs
  pallets/oracle/src/benchmarking.rs
  pallets/oracle/src/lib.rs
  pallets/oracle/src/mock.rs
  pallets/oracle/src/tests.rs
  runtime/src/lib.rs
Due: pallets, runtime

fmt
  pallets/oracle/src/tests.rs
  runtime/Cargo.toml
Due: pallets, runtime

clean
  pallets/oracle/src/benchmarking.rs
  pallets/oracle/src/lib.rs
  pallets/oracle/src/weights.rs
  runtime/src/lib.rs
Due: pallets, runtime

remove unwrap
  pallets/oracle/src/lib.rs
Due: pallets

add build checks
  pallets/oracle/src/lib.rs
Due: pallets

add changelog
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

clean
  crates/threshold-signature-server/src/user/tests.rs
  pallets/registry/src/lib.rs
Due: pallets

remove todo
  pallets/registry/src/lib.rs
Due: pallets

Apply suggestions from code review
  CHANGELOG.md
  crates/threshold-signature-server/src/user/api.rs
  pallets/registry/src/lib.rs
Due: pallets

fixes
  crates/client/entropy_metadata.scale
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/user/api.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
Due: pallets

add comment
  pallets/registry/src/lib.rs
Due: pallets

fix
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Apply suggestions from code review
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/registry/src/lib.rs
Due: pallets

fix
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/user/api.rs
Due: none

change master to parent
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/registry/src/lib.rs
Due: pallets

Skip password prompt for TSS development accounts
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

fix build
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

Skip password prompt for TSS development accounts (#929)
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

fix build
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Bump crate versions to `v0.2.0`
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Add #901 to the breaking changes list
  CHANGELOG.md
Due: none

Update `CHANGELOG` to use full release instead of `rc`
  CHANGELOG.md
Due: none

TaploFmt
  crates/threshold-signature-server/Cargo.toml
Due: none

fix
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Release `v0.2.0` (#930)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Update crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/errors.rs
Due: none

fix
  CHANGELOG.md
  crates/threshold-signature-server/src/user/api.rs
Due: none

Jumpstart network (#918)
  CHANGELOG.md
  crates/client/entropy_metadata.scale
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

Change parent key heading
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/registry/src/lib.rs
Due: pallets

fix test
  pallets/registry/src/tests.rs
Due: pallets

Change parent key heading (#933)
  crates/shared/src/constants.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Missed a merge item
  pallets/registry/src/tests.rs
Due: pallets

Remove subgroups from jumpstart code
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Remove subgroup from TSS call
  crates/threshold-signature-server/src/user/api.rs
Due: none

Bump metadata
  crates/client/entropy_metadata.scale
Due: none

Try and update benches
  pallets/registry/src/benchmarking.rs
Due: pallets

fix failing benchmark
  pallets/registry/src/benchmarking.rs
Due: pallets
