Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

removed comments; add comment
  crypto/server/src/user/api.rs
Due: crypto

fmt
  crypto/server/Cargo.toml
Due: crypto

test
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

SignerState -> ListenerState, comments
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/protocol_transport/listener.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Update HTTP API doccomments for new endpoints
  crypto/server/src/main.rs
Due: crypto

doccomments for new endpoints
  crypto/server/src/user/api.rs
Due: crypto

Rename new_party -> protocol_execution
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/protocol_execution/context.rs
  crypto/server/src/signing_client/protocol_execution/execute_protocol.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/signing_client/protocol_execution/protocol_message.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
Due: crypto

Rename variables/file to generalise for DKG and signing protocols (#388)
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/main.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/protocol_execution/context.rs
  crypto/server/src/signing_client/protocol_execution/execute_protocol.rs
  crypto/server/src/signing_client/protocol_execution/mod.rs
  crypto/server/src/signing_client/protocol_execution/protocol_message.rs
  crypto/server/src/signing_client/protocol_transport/broadcaster.rs
  crypto/server/src/signing_client/protocol_transport/listener.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

Rm unused test helper function
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
Due: crypto

User can participate in signing (#379)
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/protocol_execution/execute_protocol.rs
  crypto/server/src/signing_client/protocol_transport/listener.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
Due: crypto

Add async-trait as dependency
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

Use a trait and generics for representing websocket connection with arbitrary implementation
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/signing_client/protocol_transport/noise.rs
Due: crypto

Update tests
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
Due: crypto

addressed PR comments
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
Due: crypto

fmt
  crypto/server/src/helpers/substrate.rs
Due: crypto

clippy
  crypto/server/src/helpers/substrate.rs
Due: crypto

entropy-protocol crate
  Cargo.lock
  crypto/protocol/Cargo.toml
  crypto/protocol/src/broadcaster.rs
  crypto/protocol/src/errors.rs
  crypto/protocol/src/execute_protocol.rs
  crypto/protocol/src/lib.rs
  crypto/protocol/src/noise.rs
  crypto/protocol/src/protocol_message.rs
  crypto/protocol/src/validation/mod.rs
Due: crypto

entropy-user-protocol crate
  crypto/user-protocol/Cargo.toml
  crypto/user-protocol/src/lib.rs
Due: crypto

SubscribeMessage includes signature
  crypto/server/src/signing_client/protocol_transport/message.rs
Due: crypto

Update usages of SubscribeMessage
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
Due: crypto

Update doc comment
  crypto/server/src/signing_client/protocol_transport/message.rs
Due: crypto

code mocked out untested
  crypto/server/src/user/api.rs
Due: crypto

Clippy
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/user.rs
  crypto/server/src/signing_client/protocol_transport/message.rs
Due: crypto

Use a trait/generics to represent websocket connection with arbitrary implementation (#391)
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/protocol_transport/mod.rs
  crypto/server/src/signing_client/protocol_transport/noise.rs
  crypto/server/src/user/tests.rs
Due: crypto

get random subgroup tweak
  crypto/server/src/main.rs
  crypto/server/src/user/api.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  runtime/src/lib.rs
Due: crypto, runtime

REVERT THIS: list ssh keys
  .circleci/then.yml
Due: none

removed prev commit
  .circleci/then.yml
Due: none

Fix Vercel build by adding the second dependency's SSH key, too.
  Makefile
Due: none

Does the order matter at all, let's see.
  Makefile
Due: none

Use SSH host aliases for different SSH deploy keys, augh.
  Makefile
Due: none

Correct syntax for Git URL rewriting?
  Makefile
Due: none

Fix SSH config file syntax; `Hostname` for the DNS name.
  Makefile
Due: none

clippy
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
Due: crypto

Update relayer and propagation pallets
  pallets/propagation/src/lib.rs
  pallets/relayer/src/lib.rs
Due: pallets
