Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

Set ports for 4 test nodes
  crates/testing-utils/src/node_proc.rs
  crates/testing-utils/src/substrate_context.rs
Due: none

Fix port setting cli arg
  crates/testing-utils/src/node_proc.rs
Due: none

Handle p2p port
  crates/testing-utils/src/node_proc.rs
Due: none

Bump synedrion to v0.2.0 release (#1186)
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/protocol/src/errors.rs
  crates/protocol/src/execute_protocol.rs
  crates/protocol/tests/protocol.rs
  crates/testing-utils/Cargo.toml
  crates/testing-utils/keyshares/production/alice/keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/production/alice/keyshare-held-by-charlie.keyshare
  crates/testing-utils/keyshares/production/alice/keyshare-held-by-dave.keyshare
  crates/testing-utils/keyshares/production/bob/keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/production/bob/keyshare-held-by-charlie.keyshare
  crates/testing-utils/keyshares/production/bob/keyshare-held-by-dave.keyshare
  crates/testing-utils/keyshares/production/charlie/keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/production/charlie/keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/production/charlie/keyshare-held-by-dave.keyshare
  crates/testing-utils/keyshares/production/dave/keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/production/dave/keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/production/dave/keyshare-held-by-charlie.keyshare
  crates/testing-utils/keyshares/test/alice/keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/test/alice/keyshare-held-by-charlie.keyshare
  crates/testing-utils/keyshares/test/alice/keyshare-held-by-dave.keyshare
  crates/testing-utils/keyshares/test/bob/keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/test/bob/keyshare-held-by-charlie.keyshare
  crates/testing-utils/keyshares/test/bob/keyshare-held-by-dave.keyshare
  crates/testing-utils/keyshares/test/charlie/keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/test/charlie/keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/test/charlie/keyshare-held-by-dave.keyshare
  crates/testing-utils/keyshares/test/dave/keyshare-held-by-alice.keyshare
  crates/testing-utils/keyshares/test/dave/keyshare-held-by-bob.keyshare
  crates/testing-utils/keyshares/test/dave/keyshare-held-by-charlie.keyshare
  crates/testing-utils/src/create_test_keyshares.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/registry/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: pallets

Use published version of entropy-programs-runtime v0.11.0 (#1193)
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
Due: none

cli json
  crates/test-cli/src/lib.rs
Due: none

Add oracle data pointer check
  Cargo.lock
  pallets/programs/Cargo.toml
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
Due: pallets

update benchmarks
  crates/client/entropy_metadata.scale
  pallets/programs/Cargo.toml
  pallets/programs/src/benchmarking.rs
Due: pallets

Add get_quote_and_change_endpoint client fn, error handling
  crates/client/src/client.rs
  crates/client/src/tests.rs
Due: none

Cli command to change endpoint no longer takes quote
  crates/test-cli/src/lib.rs
Due: none

Doccomments
  crates/client/src/client.rs
Due: none

fix tests
  Cargo.lock
  pallets/propagation/Cargo.toml
  pallets/propagation/src/mock.rs
  pallets/registry/Cargo.toml
  pallets/registry/src/mock.rs
  pallets/transaction-pause/Cargo.toml
  pallets/transaction-pause/src/mock.rs
Due: pallets

compiling
  Cargo.lock
  runtime/Cargo.toml
Due: runtime

update wasm builder
  Cargo.lock
  runtime/Cargo.toml
Due: runtime

fix
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
Due: none

fmt
  crates/testing-utils/Cargo.toml
Due: none

fix tests
  crates/client/src/tests.rs
Due: none

Clippy
  crates/client/src/client.rs
Due: none

Comment for clarity
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Changelog
  CHANGELOG.md
Due: none

Add oracle data pointer check (#1194)
  Cargo.lock
  crates/client/entropy_metadata.scale
  pallets/programs/Cargo.toml
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
  pallets/propagation/Cargo.toml
  pallets/propagation/src/mock.rs
  pallets/registry/Cargo.toml
  pallets/registry/src/mock.rs
  pallets/transaction-pause/Cargo.toml
  pallets/transaction-pause/src/mock.rs
Due: pallets

Hot fix for reshare issue
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/staking/src/lib.rs
  runtime/src/lib.rs
Due: pallets, runtime

fix
  pallets/propagation/src/lib.rs
Due: pallets

Fix lockfile
  Cargo.lock
Due: none

Update runtime/src/lib.rs
  runtime/src/lib.rs
Due: runtime

Add context when calling attest endpoint
  crates/client/src/client.rs
  crates/shared/src/types.rs
  crates/test-cli/src/lib.rs
Due: none

Add tdx-testnet chainspec
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/tdx_testnet.rs
  node/cli/src/command.rs
Due: node

Downgrade parity-scale-codec as current version has been yanked
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

Error handle http response in GetTdxQuote command
  crates/test-cli/src/lib.rs
Due: none

Improve error handling when getting quotes
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/test-cli/src/lib.rs
Due: none

fix tests
  pallets/propagation/src/tests.rs
Due: pallets

fix tests
  pallets/staking/src/tests.rs
Due: pallets

Downgrade parity-scale-codec as version we currently use has been yanked (#1205)
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

Add accepted MRTD values to TDX testnet chainspec
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/tdx_testnet.rs
Due: node

Use display not debug for building quote context querystring
  crates/client/src/client.rs
Due: none

Refactor handling of mnemonics in test-cli
  crates/test-cli/src/lib.rs
Due: none

Update change TSS endpoints client function and CLI command
  crates/client/src/client.rs
  crates/test-cli/src/lib.rs
Due: none

get-tdx-quote command now takes quote context as an arguement
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/shared/src/types.rs
  crates/test-cli/src/lib.rs
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
