Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

server build working
  .github/workflows/build-apple-aarch64.yml
  .github/workflows/build-apple-x86_64.yml
  .github/workflows/build-linux-x86_64.yml
  scripts/build-and-upload.sh
Due: none

reduce scope
  .github/workflows/build-apple-aarch64.yml
  .github/workflows/build-apple-x86_64.yml
  .github/workflows/build-linux-x86_64.yml
Due: none

add new build
  scripts/build-and-upload.sh
Due: none

remove docs
  docs/entropyHotTub/hot tub.png
  docs/rust-setup.md
  docs/sequenceDiagrams/README.md
  docs/sequenceDiagrams/node-signing.seqdiag
  docs/sequenceDiagrams/node_signing_flow.plantuml
  docs/sequenceDiagrams/sequence.plantuml
Due: none

fix: fix sdk testing scripts to clean tss db
  scripts/sdk-alice-tss.sh
  scripts/sdk-bob-tss.sh
Due: none

remove docs (#282)
  docs/entropyHotTub/hot tub.png
  docs/rust-setup.md
  docs/sequenceDiagrams/README.md
  docs/sequenceDiagrams/node-signing.seqdiag
  docs/sequenceDiagrams/node_signing_flow.plantuml
  docs/sequenceDiagrams/sequence.plantuml
Due: none

fix: fix sdk testing scripts to clean tss db (#283)
  scripts/sdk-alice-tss.sh
  scripts/sdk-bob-tss.sh
Due: none

remove legacy free tx code
  crypto/server/src/validator/tests.rs
  node/cli/src/endowed_accounts.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: node, crypto, pallets

move unsafe code
  crypto/server/src/main.rs
  crypto/server/src/unsafe/api.rs
  crypto/server/src/unsafe/mod.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

upgrade substrate from v0.9.30 to v0.9.31
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/server/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
  crypto/shared/Cargo.toml
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  node/cli/src/cli.rs
  pallets/constraints/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  runtime/src/impls.rs
  runtime/src/lib.rs
Due: node, crypto, pallets

optimize CICD
  .circleci/then.yml
Due: none

test regression
  crypto/server/src/validator/tests.rs
Due: crypto

update CICD
  .circleci/then.yml
Due: none

remove legacy free tx code (#284)
  crypto/server/src/validator/tests.rs
  node/cli/src/endowed_accounts.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
Due: node, crypto, pallets

move unsafe code (#285)
  crypto/server/src/main.rs
  crypto/server/src/unsafe/api.rs
  crypto/server/src/unsafe/mod.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/user/mod.rs
  crypto/server/src/user/tests.rs
Due: crypto

upgrade substrate from v0.9.30 to v0.9.31 (#287)
  .circleci/then.yml
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/server/Cargo.toml
  crypto/server/entropy_metadata.scale
  crypto/server/src/user/tests.rs
  crypto/shared/Cargo.toml
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  node/cli/src/cli.rs
  pallets/constraints/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  runtime/src/impls.rs
  runtime/src/lib.rs
Due: node, crypto, pallets

cargo fmt
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/api.rs
Due: crypto

WIP upgrade 0.9.31 to 0.9.32
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/server/Cargo.toml
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/api.rs
  crypto/shared/Cargo.toml
  crypto/testing-utils/Cargo.toml
  node/cli/Cargo.toml
  pallets/constraints/Cargo.toml
  pallets/free-tx/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, crypto, pallets

update docs
  README.md
Due: none

x86
  .github/workflows/build-linux-x86_64.yml
Due: none

rebuild on push
  .github/workflows/build-apple-aarch64.yml
  .github/workflows/build-apple-x86_64.yml
  .github/workflows/build-linux-x86_64.yml
Due: none

revert ubuntu
  .github/workflows/build-linux-x86_64.yml
Due: none

fix linker errors
  scripts/build-and-upload.sh
  scripts/setup-macos.sh
Due: none

add target arch
  scripts/build-and-upload.sh
Due: none

refactor
  crypto/server/src/chain_api.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/mod.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/validator.rs
  crypto/server/src/main.rs
  crypto/server/src/message.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
  crypto/server/src/signing_client/subscribe/broadcaster.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/unsafe/api.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/utils.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
Due: crypto

feat: server deserializes client tx reqs
  Cargo.lock
  crypto/constraints/Cargo.toml
  crypto/constraints/src/architectures.rs
  crypto/constraints/src/constraint.rs
  crypto/constraints/src/constraints.rs
  crypto/constraints/src/lib.rs
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx.rs
  crypto/constraints/src/tx/evm.rs
  crypto/constraints/src/tx/mod.rs
  crypto/constraints/src/tx/utils.rs
  crypto/constraints/src/utils.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/constraints.rs
Due: crypto

fmt
  crypto/constraints/src/architectures.rs
  crypto/constraints/src/constraints.rs
  crypto/constraints/src/lib.rs
  crypto/constraints/src/tests.rs
  crypto/constraints/src/tx.rs
  crypto/constraints/src/utils.rs
  crypto/server/src/sign_init.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/tests.rs
  crypto/shared/src/constraints.rs
Due: crypto

remove unused deps
  Cargo.lock
  crypto/server/Cargo.toml
  pallets/constraints/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
Due: crypto, pallets

fix tests
  Cargo.lock
  crypto/server/Cargo.toml
Due: crypto

remove duplicate test code
  crypto/server/src/helpers/mod.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/validator/tests.rs
Due: crypto

refactor (#290)
  Cargo.lock
  crypto/server/Cargo.toml
  crypto/server/src/chain_api.rs
  crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/mod.rs
  crypto/server/src/helpers/signing.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/helpers/validator.rs
  crypto/server/src/main.rs
  crypto/server/src/message.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/new_party/tofn_protocol.rs
  crypto/server/src/signing_client/subscribe/broadcaster.rs
  crypto/server/src/signing_client/subscribe/listener.rs
  crypto/server/src/signing_client/subscribe/mod.rs
  crypto/server/src/signing_client/tests.rs
  crypto/server/src/unsafe/api.rs
  crypto/server/src/unsafe/tests.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/src/utils.rs
  crypto/server/src/validator/api.rs
  crypto/server/src/validator/tests.rs
  pallets/constraints/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
Due: crypto, pallets

feat: /tx logic
  crypto/constraints/src/architectures.rs
  crypto/server/src/user/api.rs
Due: crypto

fmt
  crypto/constraints/src/architectures.rs
  crypto/server/src/user/api.rs
Due: crypto

build
  scripts/build-and-upload.sh
Due: none

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
