Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Update program modification change flow to use new registration
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Remove outdated test related to double registration
  pallets/registry/src/tests.rs
Due: pallets

Merge tests related to empty programs on registration
  pallets/registry/src/tests.rs
Due: pallets

Remove empty test related to parent key registration
  pallets/registry/src/tests.rs
Due: pallets

Remove unused import
  pallets/registry/src/tests.rs
Due: pallets

Remove `prune_registration` extrinsic
  pallets/registry/src/lib.rs
Due: pallets

Update call indices
  pallets/registry/src/lib.rs
Due: pallets

Remove test code
  pallets/registry/src/tests.rs
Due: pallets

Remove benchmarking code
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

make sure is signer
  crates/threshold-signature-server/src/validator/api.rs
  pallets/propagation/src/lib.rs
Due: pallets

Add test showing register and sign with test client (#1012)
  crates/testing-utils/src/lib.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/register_and_sign.rs
Due: none

Add a method to remove a program to entropy-client, and a test
  crates/client/src/client.rs
  crates/client/src/errors.rs
  crates/client/src/tests.rs
Due: none

Add a command to the test-cli to remove a program
  crates/test-cli/README.md
  crates/test-cli/src/lib.rs
Due: none

Changelog
  CHANGELOG.md
Due: none

Update tracing spans
  crates/client/src/client.rs
Due: none

Readme
  crates/test-cli/README.md
Due: none

Check MRTD value
  crates/shared/src/constants.rs
  pallets/attestation/src/lib.rs
Due: pallets

Comment
  pallets/attestation/src/lib.rs
Due: pallets

Add benchmark for `new_session` hook (#1016)
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/weights.rs
  runtime/src/weights/pallet_staking_extension.rs
Due: pallets, runtime

Bump metadata
  crates/client/entropy_metadata.scale
Due: none

Remove leftover comment
  pallets/registry/src/tests.rs
Due: pallets

Move `confirm_register` test back to original spot
  pallets/registry/src/tests.rs
Due: pallets

add validate rotate keyshare
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/src/validator/api.rs
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
  pallets/staking/src/lib.rs
Due: pallets

Ignore failing tests
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Remove `confirm_registered` extrinsic
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Remove code related to free transactions for `confirm_register`
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Get rid of import warnings
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Remove `confirm_register` benchmarking related code
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

Get rid of signed extension in runtime
  node/cli/src/benchmarking.rs
  runtime/src/lib.rs
Due: node, runtime

Change `confirm_register` in TSS to `confirm_jump_start`
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
Due: none

Remove `prune_registration` extrinsic (#1022)
  CHANGELOG.md
  crates/client/entropy_metadata.scale
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

Remove some of the confirmation helpers
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Ignore two integration tests
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Update call indicies
  pallets/registry/src/lib.rs
Due: pallets

Clean up unused imports
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Remove mention of extrinsic in doc comments
  pallets/registry/src/lib.rs
Due: pallets

Ignore `test_store_share()`
  crates/threshold-signature-server/src/user/tests.rs
Due: none
