Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

handle version number
  pallets/programs/src/lib.rs
Due: pallets

Doccomments
  crates/kvdb/src/lib.rs
Due: none

Update release checklist with instructions to build CVM image for TDX
  RELEASE_CHECKLIST.md
Due: none

comment
  pallets/programs/src/lib.rs
Due: pallets

Change `entropy-tss` storage location for TDX production builds (#1361)
  CHANGELOG.md
  crates/kvdb/src/kv_manager/tests.rs
  crates/kvdb/src/lib.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/tests.rs
Due: none

Update RELEASE_CHECKLIST.md
  RELEASE_CHECKLIST.md
Due: none

Build devnet chainspec script takes a chainspec given as an argument
  scripts/build-devnet-chainspec.sh
Due: none

Create return type for spawn tss nodes
  crates/testing-utils/src/helpers.rs
Due: none

fix tests
  crates/client/src/tests.rs
  crates/threshold-signature-server/src/backup_provider/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/jumpstart_register_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

add docs
  crates/testing-utils/src/helpers.rs
Due: none

lint
  crates/client/src/tests.rs
Due: none

Refactor info/version types into entropy-shared
  Cargo.lock
  crates/shared/Cargo.toml
  crates/shared/src/lib.rs
  crates/shared/src/tss_node_info.rs
  crates/threshold-signature-server/src/node_info/api.rs
Due: none

Build tdx-testnet chainspec using TSS details from running genesis TSS nodes
  node/cli/Cargo.toml
  node/cli/src/chain_spec/mod.rs
  node/cli/src/chain_spec/tdx_testnet.rs
  node/cli/src/command.rs
Due: node

Fix feature flags, use sp_runtime::AccountId32
  crates/shared/Cargo.toml
  crates/shared/src/lib.rs
  crates/shared/src/tss_node_info.rs
  crates/threshold-signature-server/src/node_info/api.rs
  crates/threshold-signature-server/src/node_info/tests.rs
Due: none

Update type following moving to sp_runtime::AccountId32
  node/cli/src/chain_spec/tdx_testnet.rs
Due: node

Apply suggestions from code review
  crates/testing-utils/src/helpers.rs
  crates/threshold-signature-server/src/backup_provider/tests.rs
Due: none

format
  crates/threshold-signature-server/src/backup_provider/tests.rs
Due: none

remove destructurings
  crates/client/src/tests.rs
  crates/testing-utils/src/helpers.rs
  crates/threshold-signature-server/src/backup_provider/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/jumpstart_register_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Create return type for spawn tss nodes (#1368)
  crates/client/src/tests.rs
  crates/testing-utils/src/helpers.rs
  crates/threshold-signature-server/src/backup_provider/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/jumpstart_register_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

Bump spec/transaction version
  runtime/src/lib.rs
Due: runtime

Add 0.4.0 section to changelog
  CHANGELOG.md
Due: none

Bump version numbers of crates
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

Bump version numbers of crates
  Cargo.lock
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
Due: node, pallets

Taplo
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

Pull metadata
  crates/client/entropy_metadata.scale
Due: none

Bump version numbers of crates
  Cargo.lock
  pallets/oracle/Cargo.toml
  pallets/programs/Cargo.toml
Due: pallets

Add v1 to all endpoints
  crates/threshold-signature-server/src/lib.rs
  node/cli/src/service.rs
  pallets/propagation/src/lib.rs
  pallets/propagation/src/tests.rs
Due: node, pallets

Add v1 to all endpoints
  crates/client/src/client.rs
  crates/protocol/tests/helpers/mod.rs
  crates/threshold-signature-server/src/attestation/tests.rs
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/lib.rs
  crates/threshold-signature-server/src/node_info/tests.rs
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  pallets/propagation/src/lib.rs
Due: pallets

Bump various substrate crates relating to the runtime-benchmarks feature
  Cargo.lock
  node/cli/Cargo.toml
  runtime/Cargo.toml
Due: node, runtime

Use backoff crate to repeatedly attempt requesting quote nonce from backup provider
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/backup_provider/errors.rs
Due: none

Improve error handling
  crates/threshold-signature-server/src/backup_provider/api.rs
Due: none

Additional logging
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

changelog
  CHANGELOG.md
Due: none

remove multi phase election
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: runtime

Additional changelog entry
  CHANGELOG.md
Due: none

Also use backup when requesting encryption key
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/backup_provider/errors.rs
Due: none

If recovery fails, backup broken db and start fresh
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Repeatedly attempt to retrieve TSS db backup and on failure start fresh (#1380)
  crates/threshold-signature-server/src/backup_provider/api.rs
  crates/threshold-signature-server/src/backup_provider/errors.rs
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update substrate to polkadot-stable2409
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/update-substrate.sh
Due: node, pallets, runtime

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
  runtime: any of: runtime/.*
