Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

tests
  node/cli/src/main.rs
  pallets/parameters/src/lib.rs
  runtime/src/lib.rs
Due: node, pallets, runtime

fmt
  crates/client/entropy_metadata.scale
  node/cli/src/main.rs
Due: node

wasm compilation
  crates/shared/Cargo.toml
Due: none

add public address
  crates/testing-utils/src/node_proc.rs
Due: none

changelog
  CHANGELOG.md
Due: none

cargo toml
  Cargo.toml
Due: none

cargo toml
  Cargo.lock
Due: none

RustFmt benches
  pallets/staking/src/benchmarking.rs
Due: pallets

Use better mock endpoint
  pallets/staking/src/benchmarking.rs
Due: pallets

Switch to requiring a PCK chain instead of a certificate directly
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Bump metadata
  crates/client/entropy_metadata.scale
Due: none

Update `client` to use PCK certificate chains
  crates/client/src/client.rs
  crates/client/src/tests.rs
Due: none

Update the `test-cli` to use PCK certificate chains
  crates/test-cli/src/lib.rs
Due: none

Undo some formatting changes
  pallets/staking/src/lib.rs
Due: pallets

Variables mystery amount
  crates/client/src/tests.rs
Due: none

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

Revert "Add `CHANGELOG` entry"
  CHANGELOG.md
Due: none

Updated `CHANGELOG` without formatting
  CHANGELOG.md
Due: none

Protocol message versioning (#1140)
  CHANGELOG.md
  crates/protocol/src/lib.rs
  crates/protocol/src/protocol_transport/errors.rs
  crates/protocol/src/protocol_transport/subscribe_message.rs
  crates/threshold-signature-server/src/signing_client/errors.rs
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
Due: none

Add tss endpoints to chain nodes, and comment out some places where we mock OCW requests
  crates/testing-utils/src/substrate_context.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

WIP reshare test
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/register_sign_reshare_sign.rs
Due: none

Integration oracle test
  crates/testing-utils/oracle_example.wasm
  crates/testing-utils/src/constants.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

lint
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update programs to accespt multiple oracle data
  Cargo.lock
  crates/client/entropy_metadata.scale
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/user/api.rs
  pallets/programs/src/lib.rs
Due: pallets

update tests
  crates/client/src/client.rs
  crates/testing-utils/example_barebones_with_auxilary.wasm
  crates/testing-utils/example_custom_hash.wasm
  crates/testing-utils/faucet_program.wasm
  crates/testing-utils/infinite_loop.wasm
  crates/testing-utils/template_barebones.wasm
  crates/testing-utils/template_basic_transaction.wasm
  crates/threshold-signature-server/src/user/tests.rs
  pallets/programs/src/tests.rs
Due: pallets

fix tests
  crates/shared/device_key_proxy.wasm
  crates/threshold-signature-server/src/user/tests.rs
Due: none

fix benchmarks
  pallets/programs/src/benchmarking.rs
Due: pallets

handle oracle hash and length
  pallets/programs/src/lib.rs
  pallets/programs/src/tests.rs
Due: pallets

bounde oracle data length
  pallets/programs/src/lib.rs
Due: pallets

bound oracle pointer length
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
  pallets/propagation/src/mock.rs
Due: pallets

Add quote guards to `ServerInfo` related extrinsics (#1123)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/entropy_metadata.scale
  crates/client/src/client.rs
  crates/client/src/tests.rs
  crates/test-cli/src/lib.rs
  crates/testing-utils/src/lib.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  pallets/staking/src/benchmarking.rs
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Release `v0.3.0` against new branch (#1133)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

TaploFmt
  crates/testing-utils/Cargo.toml
Due: none

fix benchmarks and bounded vec
  crates/client/entropy_metadata.scale
  crates/client/src/client.rs
  crates/threshold-signature-server/src/helpers/substrate.rs
  crates/threshold-signature-server/src/user/api.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/weights.rs
  pallets/registry/src/benchmarking.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_programs.rs
Due: pallets, runtime

fix tests
  pallets/registry/src/mock.rs
  pallets/registry/src/tests.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
Due: pallets

update changelog
  CHANGELOG.md
Due: none

Cherry pick release branch changes into `master` (#1157)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/attestation/Cargo.toml
  pallets/oracle/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  scripts/create-test-keyshares/Cargo.toml
Due: node, pallets, runtime

Add pre-jumpstart option to chainspec and helper fn, update tests
  crates/client/entropy_metadata.scale
  crates/testing-utils/src/helpers.rs
  crates/testing-utils/src/substrate_context.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/signing_client/tests.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
  crates/threshold-signature-server/tests/register_sign_reshare_sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/command.rs
  pallets/staking/src/lib.rs
Due: node, pallets

Apply jesses fix for propagation
  pallets/propagation/src/lib.rs
  pallets/staking/src/lib.rs
Due: pallets

Bump reshare test trigger to after a DKG
  crates/shared/src/constants.rs
Due: none
