Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets

clippy fix
  pallets/staking/src/mock.rs
Due: pallets

clippy fix
  pallets/relayer/src/lib.rs
Due: pallets

fix eq
  pallets/relayer/src/lib.rs
Due: pallets

clippy fix
  crypto/kvdb/src/encrypted_sled/tests.rs
  pallets/relayer/src/tests.rs
Due: crypto, pallets

clippy fix --broken-code
  pallets/propagation/src/tests.rs
Due: pallets

fix clippy warnings
  crypto/constraints/src/tests.rs
  crypto/server/src/communication_manager/request_guards.rs
  crypto/server/src/communication_manager/tests.rs
  node/cli/src/service.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/slashing/src/lib.rs
Due: node, crypto, pallets

feat: added initial pallet-free-tx and test
  Cargo.lock
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: pallets

taplo and fmt
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/benchmarking.rs
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  runtime/src/lib.rs
Due: pallets

clippy
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
Due: pallets

all to 2xlarge see if this fixed ci
  .circleci/then.yml
Due: none

ignore know-how-to-mock
  pallets/propagation/src/tests.rs
Due: pallets

removed example code; added Pays::No as part of #[weight]
  pallets/free-tx/src/lib.rs
Due: pallets

Fix master -- misc warnings and errors not caught in previous PR's (#164)
  .circleci/then.yml
  crypto/constraints/src/tests.rs
  crypto/kvdb/src/encrypted_sled/tests.rs
  crypto/server/src/communication_manager/request_guards.rs
  crypto/server/src/communication_manager/tests.rs
  node/cli/src/service.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/slashing/src/lib.rs
Due: node, crypto, pallets

clippy fix
  crypto/constraints/src/tests.rs
  crypto/kvdb/src/encrypted_sled/tests.rs
  crypto/server/src/communication_manager/request_guards.rs
  crypto/server/src/communication_manager/tests.rs
  node/cli/src/service.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/tests.rs
  pallets/slashing/src/lib.rs
Due: node, crypto, pallets

move store_share to new_party in api
  crypto/server/src/cmain.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_user.rs
Due: crypto

formatting misc
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_user.rs
Due: crypto

Fix master -- misc warnings and errors not caught in previous PR's (#164)
  .circleci/then.yml
  pallets/propagation/src/tests.rs
Due: pallets

free call errors on child error
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/tests.rs
Due: pallets

rewiring for greater compat w/ tofnd
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/protocol_manager.rs
  crypto/server/src/signing_client/subscriber.rs
Due: crypto

kill context
  crypto/non-substrate-common/src/lib.rs
  crypto/non-substrate-common/src/sign_init.rs
  crypto/server/src/signing_client/context.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/mod.rs
Due: crypto

kill non-substrate-common
  .circleci/then.yml
  Cargo.lock
  crypto/README.md
  crypto/non-substrate-common/Cargo.toml
  crypto/non-substrate-common/README.md
  crypto/non-substrate-common/src/lib.rs
  crypto/server/Cargo.toml
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/sign_init.rs
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
Due: crypto, pallets

clean aftermath
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/protocol_manager.rs
  crypto/server/src/signing_client/new_party/sign_init.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/subscriber.rs
Due: crypto

silence warnings and formatall
  crypto/server/Cargo.toml
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/sign_init.rs
  crypto/server/src/signing_client/subscriber.rs
Due: crypto

fix tests
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/tests.rs
  pallets/propagation/src/lib.rs
Due: crypto, pallets

formatall
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
Due: pallets

user moved into own mod
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/mod.rs
Due: crypto

get_sign_context
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/sign_init.rs
  crypto/server/src/user/api.rs
Due: crypto

feat: reject tx pre-signing if no free calls available, consume free call even when child call fails,
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec.rs
  node/cli/src/service.rs
  pallets/free-tx/Cargo.toml
  pallets/free-tx/src/lib.rs
  pallets/free-tx/src/mock.rs
  pallets/free-tx/src/tests.rs
  pallets/relayer/src/lib.rs
  runtime/src/lib.rs
Due: node, pallets

Crypto-signing-client: spec rest of flow & remove unnec. common crate (#166)
  .circleci/then.yml
  Cargo.lock
  crypto/README.md
  crypto/non-substrate-common/Cargo.toml
  crypto/non-substrate-common/README.md
  crypto/non-substrate-common/src/lib.rs
  crypto/server/Cargo.toml
  crypto/server/src/cmain.rs
  crypto/server/src/communication_manager/handle_signing.rs
  crypto/server/src/communication_manager/mod.rs
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/main.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/context.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/protocol_manager.rs
  crypto/server/src/signing_client/new_party/sign_init.rs
  crypto/server/src/signing_client/new_party/signing_message.rs
  crypto/server/src/signing_client/store_share.rs
  crypto/server/src/signing_client/subscriber.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/errors.rs
  crypto/server/src/user/mod.rs
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
Due: crypto, pallets

wire out execute_protocol
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/sign_init.rs
Due: crypto

remove free-tx benchmark template
  pallets/free-tx/src/benchmarking.rs
Due: pallets

fix service.rs
  node/cli/src/service.rs
Due: node

error handling and lints
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/subscriber.rs
Due: crypto

get_sign_context, execute_protocol, error handling
  crypto/server/src/communication_manager/tests.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/signing_client/errors.rs
  crypto/server/src/signing_client/mod.rs
  crypto/server/src/signing_client/new_party/context.rs
  crypto/server/src/signing_client/new_party/mod.rs
  crypto/server/src/signing_client/new_party/sign_init.rs
  crypto/server/src/signing_client/subscriber.rs
  crypto/server/src/user/api.rs
Due: crypto

readded validate()
  pallets/free-tx/src/lib.rs
Due: pallets

fix propagation test
  pallets/propagation/src/tests.rs
Due: pallets

Path conditions:
  node: any of: node/.*
  crypto: any of: crypto/.*
  pallets: any of: pallets/.*
