Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Remove TODO comment about validator selection algorithim
  pallets/registry/src/lib.rs
Due: pallets

Rename `tuple` to something more descriptive
  pallets/registry/src/lib.rs
Due: pallets

Fix typo in function name
  pallets/registry/src/lib.rs
Due: pallets

Fix comment since this should be only used for registration checks
  pallets/registry/src/lib.rs
Due: pallets

Add a couple of tests around committee selection
  pallets/registry/src/tests.rs
Due: pallets

Add note about check not working in historical sessions
  pallets/registry/src/lib.rs
Due: pallets

Fix typo
  pallets/slashing/src/lib.rs
Due: pallets

add config to device key proxy
  Cargo.lock
  crates/shared/src/constants.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/tests.rs
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  pallets/programs/src/lib.rs
Due: node, pallets

add aux data to program info
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
Due: pallets

update tss
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/entropy_metadata.scale
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
  crates/threshold-signature-server/tests/sign.rs
  crates/threshold-signature-server/tests/sign_eth_tx.rs
Due: none

clean
  pallets/programs/src/lib.rs
Due: pallets

change log
  CHANGELOG.md
Due: none

fix
  crates/test-cli/src/main.rs
  crates/testing-utils/src/test_client/mod.rs
Due: none

changelog
  CHANGELOG.md
Due: none

lint
  crates/threshold-signature-server/Cargo.toml
Due: none

fix registery tests
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/tests.rs
Due: pallets

fix
  pallets/transaction-pause/src/tests.rs
Due: pallets

Note unresponsiveness reports in Slashing pallet (#679)
  CHANGELOG.md
  crates/threshold-signature-server/entropy_metadata.scale
  pallets/slashing/src/lib.rs
  pallets/slashing/src/mock.rs
  pallets/slashing/src/tests.rs
  runtime/src/lib.rs
Due: pallets, runtime

Update public x25519 keys in chainspec
  node/cli/src/chain_spec/mod.rs
Due: node

fix
  pallets/propagation/src/tests.rs
Due: pallets

Add helper for checking if a validator is in the signing committee (#678)
  CHANGELOG.md
  pallets/propagation/src/lib.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
Due: pallets

Fix post-merge
  pallets/registry/src/lib.rs
Due: pallets

`cargo audit fix`
  Cargo.lock
Due: none

Bump `tokio` and `tokio-tungstenite` crates
  Cargo.lock
  crates/protocol/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

Bump `axum`, `axum-macros` and `tower-http` crates
  Cargo.lock
  crates/protocol/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
Due: none

Remove usage of deprecated `StreamBody`
  crates/threshold-signature-server/src/user/api.rs
Due: none

Use `TcpListener` when spinning up Axum server
  crates/threshold-signature-server/src/main.rs
Due: none

Bump `axum` and `tokio` in `testing-utils` crate
  Cargo.lock
  crates/testing-utils/Cargo.toml
Due: none

Start fixing some of the Axum server errors
  crates/testing-utils/src/tss_server_process.rs
  crates/threshold-signature-server/src/helpers/tests.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Fix test
  crates/protocol/src/hpke/mod.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Explain how public keys are derived in chainspec
  node/cli/src/chain_spec/mod.rs
Due: node

Use EncryptedSignedMessage everywhere we were using SignedMessage
  crates/protocol/src/hpke/mod.rs
  crates/protocol/src/hpke/with_sr25519.rs
  crates/testing-utils/src/constants.rs
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validation/mod.rs
Due: none

Update tests
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Revert changes to constant x25519 keys
  crates/testing-utils/src/constants.rs
  node/cli/src/chain_spec/mod.rs
Due: node

TOB-ENTROPY-7
  pallets/staking/src/lib.rs
  pallets/staking/src/tests.rs
Due: pallets

Update test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update private test
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Update test client
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

Update test client
  crates/testing-utils/src/test_client/mod.rs
Due: none

adds a check for out of bounds custom hash
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/errors.rs
Due: none
