Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

refactors
  crypto/server/src/helpers/substrate.rs
  crypto/test-cli/src/main.rs
  crypto/testing-utils/src/constants.rs
Due: crypto

clean
  crypto/server/src/helpers/substrate.rs
  crypto/server/tests/protocol_wasm.rs
Due: crypto

change runtime value
  runtime/src/lib.rs
Due: runtime

Update pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/benchmarking.rs
Due: pallets

Apply suggestions from code review
  pallets/relayer/src/lib.rs
Due: pallets

fix
  pallets/relayer/src/lib.rs
Due: pallets

Update CHANGELOG
  CHANGELOG.md
Due: none

remove duplicate update_pointer
  crypto/server/src/helpers/tests.rs
  crypto/server/src/user/tests.rs
  crypto/server/tests/protocol_wasm.rs
  crypto/server/tests/sign.rs
Due: crypto

Update paths to use `crates`
  crates/README.md
  crates/server/tests/protocol_wasm.rs
  node/cli/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/relayer/Cargo.toml
  pallets/staking/Cargo.toml
  runtime/Cargo.toml
  scripts/pull_entropy_metadata.sh
Due: node, pallets, runtime

Remove service files
  service/entropy-node.service
  service/entropy-server.service
Due: none

Add `entropy-*` prefix` to crate names
  Cargo.lock
  crates/kvdb/Cargo.toml
  crates/server/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
Due: none

Update crate import to be `entropy_kvdb`
  crates/server/src/helpers/launch.rs
  crates/server/src/helpers/tests.rs
  crates/server/src/helpers/validator.rs
  crates/server/src/lib.rs
  crates/server/src/signing_client/api.rs
  crates/server/src/signing_client/errors.rs
  crates/server/src/signing_client/protocol_execution/mod.rs
  crates/server/src/signing_client/tests.rs
  crates/server/src/unsafe/tests.rs
  crates/server/src/user/api.rs
  crates/server/src/user/errors.rs
  crates/server/src/user/mod.rs
  crates/server/src/user/tests.rs
  crates/server/src/validator/api.rs
  crates/server/src/validator/errors.rs
  crates/server/src/validator/tests.rs
  crates/server/tests/protocol_wasm.rs
  crates/server/tests/sign.rs
  crates/testing-utils/src/tss_server_process.rs
Due: none

Update paths in order to get tests compiling
  crates/server/src/helpers/tests.rs
  crates/server/src/main.rs
  crates/server/src/signing_client/tests.rs
  crates/server/src/user/tests.rs
  crates/server/src/validator/tests.rs
  crates/server/tests/helpers/mod.rs
  crates/server/tests/protocol_wasm.rs
  crates/server/tests/sign.rs
  crates/test-cli/src/main.rs
  crates/testing-utils/src/lib.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/testing-utils/src/tss_server_process.rs
Due: none

Rename `server` in docker-compose file
  docker-compose-common.yaml
Due: none

Rename `server` in `README`
  README.md
Due: none

Rename `server` in `Makefile`
  Makefile
Due: none

Fix import path
  crates/testing-utils/Cargo.toml
Due: none

Add `CHANGELOG` entry
  CHANGELOG.md
Due: none

Update `CHANGELOG`
  CHANGELOG.md
Due: none

RustFmt
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/validator/api.rs
Due: none

Update CircleCI paths
  .circleci/config.yml
  .circleci/then.yml
Due: none

fix benchmarks
  pallets/relayer/src/benchmarking.rs
Due: pallets

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Pointer for programs (#536)
  CHANGELOG.md
  Cargo.lock
  crypto/server/entropy_metadata.scale
  crypto/server/src/helpers/substrate.rs
  crypto/server/src/helpers/tests.rs
  crypto/server/src/signing_client/api.rs
  crypto/server/src/user/api.rs
  crypto/server/src/user/tests.rs
  crypto/server/tests/protocol_wasm.rs
  crypto/server/tests/sign.rs
  crypto/test-cli/src/main.rs
  crypto/testing-utils/src/test_client/mod.rs
  pallets/programs/src/benchmarking.rs
  pallets/programs/src/lib.rs
  pallets/programs/src/mock.rs
  pallets/programs/src/tests.rs
  pallets/programs/src/weights.rs
  pallets/propagation/src/mock.rs
  pallets/propagation/src/tests.rs
  pallets/relayer/src/benchmarking.rs
  pallets/relayer/src/lib.rs
  pallets/relayer/src/mock.rs
  pallets/relayer/src/tests.rs
  pallets/relayer/src/weights.rs
  pallets/transaction-pause/src/mock.rs
  pallets/transaction-pause/src/tests.rs
  runtime/src/lib.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_relayer.rs
Due: crypto, pallets, runtime

Update crypto/server/src/helpers/launch.rs
  crypto/server/src/helpers/launch.rs
Due: crypto

change changelog
  CHANGELOG.md
Due: none

change hex to unsafe
  crypto/server/src/helpers/launch.rs
Due: crypto

Remove duplicate imports post-merge
  crates/test-cli/src/main.rs
Due: none

remove unsafe utf8
  crypto/server/src/helpers/launch.rs
Due: crypto

Make a type for protocol session Ids (#549)
  CHANGELOG.md
  crates/protocol/nodejs-test/index.js
  crates/protocol/src/lib.rs
  crates/protocol/src/protocol_transport/subscribe_message.rs
  crates/protocol/src/user/mod.rs
  crates/protocol/src/user/wasm.rs
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/src/common.rs
  crates/threshold-signature-server/src/helpers/signing.rs
  crates/threshold-signature-server/src/helpers/user.rs
  crates/threshold-signature-server/src/sign_init.rs
  crates/threshold-signature-server/src/signing_client/api.rs
  crates/threshold-signature-server/src/signing_client/mod.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/context.rs
  crates/threshold-signature-server/src/signing_client/protocol_execution/mod.rs
  crates/threshold-signature-server/src/signing_client/protocol_transport.rs
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/tests/protocol_wasm.rs
Due: none

Switch bip39 crate used in TSS
  Cargo.lock
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/helpers/launch.rs
  crates/threshold-signature-server/src/helpers/validator.rs
  crates/threshold-signature-server/src/user/tests.rs
  crates/threshold-signature-server/src/validation/mod.rs
  crates/threshold-signature-server/src/validator/tests.rs
Due: none

Include contents of x25515chacha20poly1305 repo in entropy-protocol
  Cargo.lock
  crates/protocol/Cargo.toml
  crates/protocol/src/lib.rs
  crates/protocol/src/sign_and_encrypt/mod.rs
  crates/protocol/src/sign_and_encrypt/wasm.rs
  crates/protocol/src/user/mod.rs
Due: none

Fix logic with choosing default mnemonics for testing
  crates/threshold-signature-server/src/helpers/launch.rs
Due: none

Clippy
  crates/protocol/src/sign_and_encrypt/mod.rs
Due: none

Rm x25519chacha20poly1305 dependency from tss server and testing-utils
  Cargo.lock
  crates/protocol/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/testing-utils/src/test_client/mod.rs
  crates/threshold-signature-server/Cargo.toml
  crates/threshold-signature-server/src/user/errors.rs
  crates/threshold-signature-server/src/validation/errors.rs
  crates/threshold-signature-server/src/validation/mod.rs
  crates/threshold-signature-server/src/validator/errors.rs
Due: none
