Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Also check the other chainspecs
  .circleci/then.yml
Due: none

Temporarily stop piping stuff into `/dev/null`
  .circleci/then.yml
Due: none

Ensure that genesis balances are unique
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

add johnny
  data/testnet/testnet-accounts.json
Due: none

Use correct set of endowed accounts in genesis (#834)
  .circleci/then.yml
  Cargo.lock
  node/cli/Cargo.toml
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
  node/cli/src/endowed_accounts.rs
Due: node

Emit warning event on registration group error
  crates/threshold-signature-server/src/user/api.rs
Due: none

Downgrade `check_in_registration_group` error log to warning (#832)
  crates/threshold-signature-server/src/user/api.rs
  crates/threshold-signature-server/src/user/tests.rs
Due: none

Bump `spec_version` to `00_01_00`
  runtime/src/lib.rs
Due: runtime

Bump TOML versions to `0.1.0-rc.1`
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Bump metadata
  crates/client/entropy_metadata.scale
Due: none

Add some `CHANGELOG` entries
  CHANGELOG.md
Due: none

TaploFmt
  crates/threshold-signature-server/Cargo.toml
Due: none

add peg
  data/testnet/testnet-accounts.json
Due: none

Update to better reflect current process
  RELEASE_CHECKLIST.md
Due: none

Release `v0.1.0-rc.1` (#836)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/entropy_metadata.scale
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
  runtime/src/lib.rs
Due: node, pallets, runtime

Add more info about local deployment and release candidates
  RELEASE_CHECKLIST.md
Due: none

Remove dev-dependecy versions for `entropy-tss`
  crates/threshold-signature-server/Cargo.toml
Due: none

Allow publishing the `testing-utils` crate
  crates/testing-utils/Cargo.toml
Due: none

Fix typo
  crates/testing-utils/Cargo.toml
Due: none

Improve cyclical dependency explanation text
  crates/threshold-signature-server/Cargo.toml
Due: none

Add crate publishing order
  RELEASE_CHECKLIST.md
Due: none

Change to mnemonic entry for cli
  crates/test-cli/src/main.rs
Due: none

remove unwraps
  crates/test-cli/src/main.rs
Due: none

Change to mnemonic entry for cli (#838)
  crates/test-cli/src/main.rs
Due: none

Allow `entropy-testing-utils` in license checks
  deny.toml
Due: none

Fixes for publishing `entropy-tss` and `entropy-testing-utils` (#837)
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  deny.toml
Due: none

add nayyir
  data/testnet/testnet-accounts.json
Due: none

add a way to change program modification account
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

changelog
  CHANGELOG.md
Due: none

pull entropy meta data
  crates/client/entropy_metadata.scale
Due: none

metadata
  crates/client/entropy_metadata.scale
Due: none

Bump crate versions to `v0.1.0`
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Bump `CHANGELOG` to `v0.1.0`
  CHANGELOG.md
Due: none

Add release blurb
  CHANGELOG.md
Due: none

Release `v0.1.0` (#845)
  CHANGELOG.md
  Cargo.lock
  crates/client/Cargo.toml
  crates/kvdb/Cargo.toml
  crates/protocol/Cargo.toml
  crates/shared/Cargo.toml
  crates/test-cli/Cargo.toml
  crates/testing-utils/Cargo.toml
  crates/threshold-signature-server/Cargo.toml
  node/cli/Cargo.toml
  pallets/parameters/Cargo.toml
  pallets/programs/Cargo.toml
  pallets/propagation/Cargo.toml
  pallets/registry/Cargo.toml
  pallets/slashing/Cargo.toml
  pallets/staking/Cargo.toml
  pallets/transaction-pause/Cargo.toml
  runtime/Cargo.toml
Due: node, pallets, runtime

Apply suggestions from code review
  pallets/registry/src/lib.rs
Due: pallets

clean
  crates/client/entropy_metadata.scale
  pallets/registry/src/benchmarking.rs
  pallets/registry/src/lib.rs
  pallets/registry/src/tests.rs
  pallets/registry/src/weights.rs
  runtime/src/weights/pallet_registry.rs
Due: pallets, runtime

fix
  CHANGELOG.md
Due: none
