Repository entropyxyz/entropy-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: node, crypto, pallets, runtime

.circleci/config.yml:

orbs:
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    check:
        jobs:
            - path-filtering/filter:
                base-revision: master
                config-path: .circleci/then.yml
                mapping: |
                    node/.* node true
                    crypto/.* crypto true
                    pallets/.* pallets true
                    runtime/.* runtime true
                name: check-updated-files

Have diff links show commit list instead of files
  CHANGELOG.md
Due: none

Actually, let's not build the node on every benchmark
  scripts/benchmarks.sh
Due: none

Update all runtime weights
  runtime/src/weights/frame_benchmarking.rs
  runtime/src/weights/frame_election_provider_support.rs
  runtime/src/weights/frame_system.rs
  runtime/src/weights/pallet_bags_list.rs
  runtime/src/weights/pallet_balances.rs
  runtime/src/weights/pallet_bounties.rs
  runtime/src/weights/pallet_collective.rs
  runtime/src/weights/pallet_democracy.rs
  runtime/src/weights/pallet_election_provider_multi_phase.rs
  runtime/src/weights/pallet_elections_phragmen.rs
  runtime/src/weights/pallet_free_tx.rs
  runtime/src/weights/pallet_identity.rs
  runtime/src/weights/pallet_im_online.rs
  runtime/src/weights/pallet_indices.rs
  runtime/src/weights/pallet_membership.rs
  runtime/src/weights/pallet_multisig.rs
  runtime/src/weights/pallet_nomination_pools.rs
  runtime/src/weights/pallet_preimage.rs
  runtime/src/weights/pallet_programs.rs
  runtime/src/weights/pallet_proxy.rs
  runtime/src/weights/pallet_recovery.rs
  runtime/src/weights/pallet_relayer.rs
  runtime/src/weights/pallet_scheduler.rs
  runtime/src/weights/pallet_session.rs
  runtime/src/weights/pallet_staking.rs
  runtime/src/weights/pallet_staking_extension.rs
  runtime/src/weights/pallet_sudo.rs
  runtime/src/weights/pallet_timestamp.rs
  runtime/src/weights/pallet_tips.rs
  runtime/src/weights/pallet_transaction_pause.rs
  runtime/src/weights/pallet_transaction_storage.rs
  runtime/src/weights/pallet_utility.rs
  runtime/src/weights/pallet_vesting.rs
Due: runtime

fix treasury benchmark
  runtime/src/lib.rs
Due: runtime

Make note of placeholders for initial TSS testnet accounts
  node/cli/src/chain_spec/testnet.rs
Due: node

Update testnet name casing
  node/cli/src/chain_spec/testnet.rs
Due: node

Iterator-ify the `signing_group` genesis config
  node/cli/src/chain_spec/testnet.rs
Due: node

Change names of `dev` and `integration_tests` configs to match `testnet`
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
Due: node

Use `as_slice` method instead of manually slicing
  node/cli/src/chain_spec/testnet.rs
Due: node

Add more notes around breaking changes in #536
  CHANGELOG.md
Due: none

Be more explicit about breaking changes in `v0.0.10`
  CHANGELOG.md
Due: none

Simplify `testnet` chainspec generation (#606)
  node/cli/src/chain_spec/dev.rs
  node/cli/src/chain_spec/integration_tests.rs
  node/cli/src/chain_spec/testnet.rs
Due: node

Be more explicit about breaking changes in `v0.0.10` (#607)
  CHANGELOG.md
Due: none

Try removing bloat from the srtool output to get only the interesting looking fields
  .github/workflows/srtool.yml
Due: none

Add missing commas from jq filter
  .github/workflows/srtool.yml
Due: none

Update node key script to output all required key info
  scripts/node-keys.sh
Due: none

Update testnet chainspec with our new testnet accounts
  node/cli/src/chain_spec/testnet.rs
Due: node

Update root account
  node/cli/src/chain_spec/testnet.rs
Due: node

Add accounts for fourth validator
  node/cli/src/chain_spec/testnet.rs
Due: node

Add TSS account info
  node/cli/src/chain_spec/testnet.rs
Due: node

Use public IP addresses of our machines for staking genesis
  node/cli/src/chain_spec/testnet.rs
Due: node

Hack together something for inserting keys
  scripts/insert-keys.sh
Due: none

Move Grandpa key back to original position in tuple
  node/cli/src/chain_spec/testnet.rs
Due: node

Docker-ify the key insertion script
  scripts/insert-keys.sh
Due: none

Fix chainspec generation by reverting session address to controller accounts
  node/cli/src/chain_spec/testnet.rs
Due: node

increase program gas
  crates/shared/src/lib.rs
Due: none

Increase program gas (#609)
  crates/shared/src/lib.rs
Due: none

Add more comments around what keys are
  node/cli/src/chain_spec/testnet.rs
Due: node

Clean up the insert-keys script
  scripts/insert-keys.sh
Due: none

Use Docker paths again
  scripts/insert-keys.sh
Due: none

Clean up script to generate node keys
  scripts/node-keys.sh
Due: none

Rename script to be more descriptive
  scripts/generate-validator-node-keys.sh
Due: none

Reduce script verbosity
  scripts/insert-keys.sh
Due: none

Rename `insert-keys` script
  scripts/insert-validator-node-keys.sh
Due: none

Make note about derivation paths needing to match
  scripts/generate-validator-node-keys.sh
  scripts/insert-validator-node-keys.sh
Due: none

Revert changes related to Session genesis
  node/cli/src/chain_spec/testnet.rs
Due: node

Gitignore keyshare files from the test CLI
  .gitignore
Due: none

Dont use the barebones auxiliary program test data by default when signing
  crates/test-cli/src/main.rs
Due: none
